@page
@{
    ViewData["Title"] = "Delta";
}
@model Web.Pages.Mockups.DeltaModel
@inject IViewLocalizer Localizer

<section role="contentinfo">

    <div class="row mrgn-tp-md">
        <button class="btn btn-primary mrgn-lft-md" type="button">@Localizer["Print PDF"]</button>
        <button class="btn btn-primary pull-right mrgn-rght-md" type="button">@Localizer["Save PDF"]</button>
    </div>
    <div class="row  mrgn-bttm-lg">
        <h2 class="text-center">@Localizer["h2Results"]</h2>
    </div>
    <table class="table table-bordered table-responsive" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td class="bg-success" width="50%"><b>@Localizer["Current Position"]:</b> AS 02 - Human Resources (HR) Officer / Workforce Development</td>
                <td class="bg-info" width="50%"><b>@Localizer["Selected Position"]:</b> AS 04 - Workforce Development Manager</td>
            </tr>
        </tbody>
    </table>
    <h3>@Localizer["MATCHING COMPETENCIES"]</h3>
    <table class="table table-responsive table-bordered">
        <tbody>
            <tr>
                <th style="background-color:#f2f2f2" width="50%">@Localizer["CERTIFICATIONS"]</th>
                <th style="background-color:#f2f2f2" width="50%">@Localizer["TECHNICAL ELEMENTS"]</th>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Business Analysis</td>
            </tr>
            <tr>
                <th style="background-color:#f2f2f2" width="50%">@Localizer["KNOWLEDGE ELEMENTS"]</th>
                <th style="background-color:#f2f2f2" width="50%">@Localizer["BEHAVIOURAL ELEMENTS"]</th>
            </tr>
            <tr>
                <td>Program Knowledge and Application</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>

    <h3>@Localizer["DIFFERING COMPETENCIES"]</h3>
    <table class="table table-hover table-bordered">
        <tbody>
            <tr>
                <th style="background-color:#f2f2f2" width="70%">@Localizer["CERTIFICATIONS"]</th>
                <th class="text-center bg-success">@Localizer["Current Position"]</th>
                <th class="text-center bg-info">@Localizer["Selected Position"]</th>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class="text-center bg-success">&nbsp;</td>
                <td class="text-center bg-info">&nbsp;</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-hover table-bordered">
        <tbody>
            <tr>
                <th style="background-color:#f2f2f2" width="70%">@Localizer["KNOWLEDGE ELEMENTS"]</th>
                <th class="text-center bg-success">@Localizer["Current Position"]</th>
                <th class="text-center bg-info">@Localizer["Selected Position"]</th>
            </tr>
            <tr>
                <td>
                    <a href="#1" aria-controls="centred-popup" class="wb-lbx" role="button">Organizational Knowledge</a>
                    <section id="1" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Organizational Knowledge</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Knowledge of the Canadian Coast Guard organization, partners, and relationships with Fisheries and Oceans Canada (DFO), and other internal and external stakeholders.</p>
                            <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                        </div>
                    </section>
                </td>
                <td class="text-center bg-success">
                    <a href="#2" aria-controls="centred-popup" class="wb-lbx"><abbr title="Level 2 Summary">2</abbr></a>
                    <section id="2" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">@Localizer["Current Position Level"]: 2</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Novice (A level of experience has been obtained; may need help when performing a task/skill)</p>
                            <p>Limited knowledge of the Coast Guard's mandate and its relationship with Fisheries and Oceans Canada (DFO). Understands the organization's directorates regionally and/or nationally. </p>
                        </div>
                        <header class="modal-header">
                            <h2 class="modal-title">@Localizer["Selected Position Level"]: 3</h2>
                        </header>
                        <div class="modal-body">
                            <p>Intermediate (Able to successfully complete the necessary tasks in this competency. Some assistance may still be needed but can usually perform the task independently)</p>
                            <p>Practical knowledge of the Coast Guard and Fisheries and Oceans Canada (DFO) organizations, and of the Coast Guard as a special operating agency. Understands a program and its linkages to other programs and directorates regionally and/or nationally.</p>
                        </div>
                    </section>
                </td>
                <td class="text-center bg-info">
                    <a href="#2" aria-controls="centred-popup" class="wb-lbx"><abbr title="Level 3 Summary">3</abbr></a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#3" aria-controls="centred-popup" class="wb-lbx" role="button">Administrative Knowledge</a>
                    <section id="3" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Administrative Knowledge</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Understanding of administrative procedures and processes in one or more area of responsibility.</p>
                            <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                        </div>
                    </section>
                </td>
                <td class="text-center bg-success">
                    <a href="#4" aria-controls="centred-popup" class="wb-lbx" role="button"><abbr title="Level 2 Summary">2</abbr></a>
                    <section id="4" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">@Localizer["Current Position Level"]: 2</h2>
                        </header>
                        <div class="modal-body">
                            <p>Novice (A level of experience has been obtained; may need help when performing a task/skill)</p>
                            <p>Recognizes when administration requirements are met. Understands systems and software pertaining to administrative functions and where applicable, the shipboard logistics functions in the performance of duties.</p>
                        </div>
                        <header class="modal-header">
                            <h2 class="modal-title">@Localizer["Selected Position Level"]: 3</h2>
                        </header>
                        <div class="modal-body">
                            <p>Intermediate (Able to successfully complete the necessary tasks in this competency. Some assistance may still be needed but can usually perform the task independently)</p>
                            <p>Understands the full range of administration services such as expense forms, reimbursements (travel, stores, etc.) and where applicable items such as ex gratiapayments, timesheets, drafting correspondence and reports, training requests and authorizations, etc.</p>
                        </div>
                    </section>
                </td>
                <td class="text-center bg-info">
                    <a href="#4" aria-controls="centred-popup" class="wb-lbx" role="button"><abbr title="Level 3 Summary">3</abbr></a>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-hover table-bordered">
        <tbody>
            <tr>
                <th style="background-color:#f2f2f2" width="70%">@Localizer["TECHNICAL ELEMENTS"]</th>
                <th class="text-center bg-success">@Localizer["Current Position"]</th>
                <th class="text-center bg-info">@Localizer["Selected Position"]</th>
            </tr>
            <tr>
                <td>
                    <a href="#5" aria-controls="centred-popup" class="wb-lbx" role="button">Project/Program Management</a>
                    <section id="5" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Project/Program Management</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Manages a project or program while respecting procedures, operations, policies, and legislation, including inter-relationships with other departments, agencies, or the private sector. Project management involves effectively participating and/or integrating all aspects of a given finite project, ensuring that work progresses towards achieving goals and objectives. Program management involves effectively managing an ongoing activity line.</p>
                            <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                        </div>
                    </section>
                </td>
                <td class="text-center bg-success">
                    <a href="#6" aria-controls="centred-popup" class="wb-lbx" role="button"><abbr title="Level 2 Summary">2</abbr></a>
                    <section id="6" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">@Localizer["Current Position Level"]: 2</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Novice  (A level of experience has been obtained; may need help when performing a task/skill)</p>
                            <p>Respects project/program goals, participants' roles, and the importance of project management principles. Participates in project support activities (i.e. gathering needed information). Participates with others in small and well defined components of the project/program.</p>
                        </div>
                        <header class="modal-header">
                            <h2 class="modal-title">@Localizer["Selected Position Level"]: 3</h2>
                        </header>
                        <div class="modal-body">
                            <p>Intermediate (Able to successfully complete the necessary tasks in this competency. Some assistance may still be needed but can usually perform the task independently)</p>
                            <p>Actively promotes project goals, participants' roles, and the importance of project management principles, such as time, cost, and quality management. Participates, with minimal supervision, with others in all aspects of project or program. Seeks advice and guidance for more complex components of the project/program.</p>
                        </div>
                    </section>
                </td>
                <td class="text-center bg-info">
                    <a href="#6" aria-controls="centred-popup" class="wb-lbx" role="button"><abbr title="Level 3 Summary">3</abbr></a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#7" aria-controls="centred-popup" class="wb-lbx" role="button">Planning and Prioritizing</a>
                    <section id="7" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Planning and Prioritizing</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Integrates various ideas, intentions, and information to form effective goals, objectives, timelines, action plans, and solutions.</p>
                            <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                        </div>
                    </section>
                </td>
                <td class="text-center bg-success">
                    <a href="#8" aria-controls="centred-popup" class="wb-lbx" role="button"><abbr title="Level 1 Summary">1</abbr></a>
                    <section id="8" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">@Localizer["Current Position Level"]: 1</h2>
                        </header>
                        <div class="modal-body">
                            <p>Fundamental Awareness (Common knowledge or an understanding of basic techniques and concepts)</p>
                            <p>Monitors the quality and timeliness of individual responsibilities using the available resources, searching for clarity as needed.</p>
                        </div>
                        <header class="modal-header">
                            <h2 class="modal-title">@Localizer["Selected Position Level"]: 3</h2>
                        </header>
                        <div class="modal-body">
                            <p>Intermediate (Able to successfully complete the necessary tasks in this competency. Some assistance may still be needed but can usually perform the task independently)</p>
                            <p>Plans and organizes activities efficiently. Monitors the quality and timeliness of unit workloads. Uses available resources and seeks assistance to clarify priorities, when and where required. Reports on results to promote accountability.</p>
                        </div>
                    </section>
                </td>
                <td class="text-center bg-info">
                    <a href="#8" aria-controls="centred-popup" class="wb-lbx" role="button"><abbr title="Level 3 Summary">3</abbr></a>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-hover table-bordered">
        <tbody>
            <tr>
                <th style="background-color:#f2f2f2" width="70%">@Localizer["BEHAVIOURAL ELEMENTS"]</th>
                <th class="text-center bg-success">@Localizer["Current Position"]</th>
                <th class="text-center bg-info">@Localizer["Selected Position"]</th>
            </tr>
            <tr>
                <td>
                    <a href="#9" aria-controls="centred-popup" class="wb-lbx" role="button">Demonstrating Integrity and Respect</a>
                    <section id="9" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Demonstrating Integrity and Respect</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Honours commitments and consistently strives to act in the public interest by ensuring that public trust and the law are not violated, while avoiding conflicts of interest and maintaining political and interpersonal neutrality.</p>
                            <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                        </div>
                    </section>
                </td>
                <td class="text-center bg-success">
                    <a href="#10" aria-controls="centred-popup" class="wb-lbx" role="button"><abbr title="Level 2 Summary">2</abbr></a>
                    <section id="10" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">@Localizer["Current Position Level"]: 2 </h2>
                        </header>
                        <div class="modal-body ">
                            <p>Novice  (A level of experience has been obtained; may need help when performing a task/skill)</p>
                            <p>Uses government assets responsibly. Discusses ethical concerns with their supervisor or colleagues and, when necessary, seeks and follows appropriate disclosure procedures.</p>
                        </div>
                        <header class="modal-header">
                            <h2 class="modal-title">@Localizer["Selected Position Level"]: 3</h2>
                        </header>
                        <div class="modal-body">
                            <p>Intermediate (Able to successfully complete the necessary tasks in this competency. Some assistance may still be needed but can usually perform the task independently)</p>
                            <p>Works in a manner that reflects a commitment to public service excellence. Assists peers respectfully when dealing with ethical concerns. Recognizes the importance of diversity, and bilingualism. Is well versed in the Government of Canada's Values and Ethics Code. Demonstrates respect for government property and policies.</p>
                        </div>
                    </section>
                </td>
                <td class="text-center bg-info">
                    <a href="#10" aria-controls="centred-popup" class="wb-lbx" role="button"><abbr title="Level 3 Summary">3</abbr></a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#11" aria-controls="centred-popup" class="wb-lbx" role="button">Thinking Things Through</a>
                    <section id="11" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Thinking Things Through</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Plans and adjusts work based on a thorough understanding of the Canadian Coast Guard's priorities. Obtains relevant information, considers all facts, and exercises sound judgement to formulate an opinion and/or make a decision. Analyzes situations and seeks feedback to learn from mistakes.</p>
                            <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                        </div>
                    </section>

                </td>
                <td class="text-center bg-success">
                    <a href="#12" aria-controls="centred-popup" class="wb-lbx" role="button"><abbr title="Level 2 Summary">2</abbr></a>
                    <section id="12" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">@Localizer["Current Position Level"]: 2 </h2>
                        </header>
                        <div class="modal-body ">
                            <p>Novice  (A level of experience has been obtained; may need help when performing a task/skill)</p>
                            <p>Researches available options to recommend a solution. Understands the Coast Guard's operational and organizational goals and strategies, and aligns activities towards the vision and strategic imperatives.</p>
                        </div>
                        <header class="modal-header">
                            <h2 class="modal-title">@Localizer["Selected Position Level"]: 3</h2>
                        </header>
                        <div class="modal-body">
                            <p>Intermediate (Able to successfully complete the necessary tasks in this competency. Some assistance may still be needed but can usually perform the task independently)</p>
                            <p>Analyzes multiple causal relationships among several parts of a problem or situation. Anticipates the risks or implications inherent in a suggested plan of action and devises appropriate strategies to mitigate their impact. Makes a well-reasoned response even when faced with incomplete or contradictory information. Synthesizes complex ideas, issues, and observations into a clear understanding. Thinks beyond the work environment and makes decisions in the context of the bigger picture.</p>
                        </div>
                    </section>
                </td>
                <td class="text-center bg-info">
                    <a href="#12" aria-controls="centred-popup" class="wb-lbx" role="button"><abbr title="Level 3 Summary">3</abbr></a>
                </td>
            </tr>
        </tbody>
    </table>
</section>