@page
@{ ViewData["Title"] = "Delta"; }
@model Web.Pages.CCGMember.Compare.DeltaModel
@inject IViewLocalizer Localizer
@{
    var cur = Model.curposition;
    var obj = Model.objposition;
    var match1 = Model.matchingcomp1;
    var diff1 = Model.diffcomp1;
    var match2 = Model.matchingcomp2;
    var diff2 = Model.diffcomp2;
    var match3 = Model.matchingcomp3;
    var diff3 = Model.diffcomp3;
    var matchcert = Model.matchcert;
    var diffcert = Model.diffcert;
}
    <section role="contentinfo">
        <div class="row mrgn-tp-md">
            <button class="btn btn-primary mrgn-lft-md" type="button">@Localizer["Print PDF"]</button>
            <button class="btn btn-primary pull-right mrgn-rght-md" type="button">@Localizer["Save PDF"]</button>
        </div>
        <div class="row  mrgn-bttm-lg">
            <h2><b>@Localizer["h2Results"]</b></h2>
        </div>
        <table class="table table-bordered table-responsive" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td class="bg-success" width="50%"><b>@Localizer["Current Position"]:</b> @cur.JobGroupCode @cur.JobGroupLevelValue - @cur.JobTitleEng</td>
                    <td class="bg-info" width="50%"><b>@Localizer["Selected Position"]:</b> @obj.JobGroupCode @obj.JobGroupLevelValue - @obj.JobTitleEng</td>
                </tr>
            </tbody>
        </table>
        <h3>@Localizer["MATCHING COMPETENCIES"]</h3>
        <table class="table table-responsive table-bordered">
            <tr>
                <th style="background-color:#f2f2f2" width="50%">CERTIFICATIONS</th>
                <th style="background-color:#f2f2f2" width="50%">TECHNICAL ELEMENTS</th>
            </tr>
            @if (match2.Count > matchcert.Count)
            {
                var d = new Dictionary<string, string>();
                @for (int i = 0; i < match2.Count; i++)
                {
                    if (i < matchcert.Count)
                    {
                        d.Add(match2[i].CompetencyNameEng as string, matchcert[i].NameEng as string);
                    }
                    else
                    {
                        d.Add(match2[i].CompetencyNameEng as string, null);
                    }
                }
                @for (int i = 0; i < match2.Count; i++)
                {
                    <tr>
                        <td width="50%">@d.ElementAt(i).Value</td>
                        <td width="50%">@d.ElementAt(i).Key</td>
                    </tr>
                }
                <tr>
                    <td width="50%"></td>
                    <td width="50%"></td>
                </tr>
            }
            else if (matchcert.Count > match2.Count)
            {
                var d = new Dictionary<string, string>();
                @for (int i = 0; i < matchcert.Count; i++)
                {
                    if (i < match2.Count)
                    {
                        d.Add(matchcert[i].NameEng as string, match2[i].CompetencyNameEng as string);
                    }
                    else
                    {
                        d.Add(matchcert[i].NameEng as string, null);
                    }
                }
                @for (int i = 0; i < matchcert.Count; i++)
                {
                    <tr>
                        <td width="50%">@d.ElementAt(i).Key</td>
                        <td width="50%">@d.ElementAt(i).Value</td>
                    </tr>
                }
                <tr>
                    <td width="50%"></td>
                    <td width="50%"></td>
                </tr>
            }
            else
            {
                <tr>
                    <td width="50%"></td>
                    <td width="50%"></td>
                </tr>
            }
            <tr>
                <th style="background-color:#f2f2f2" width="50%">KNOWLEDGE ELEMENTS</th>
                <th style="background-color:#f2f2f2" width="50%">BEHAVIOURAL ELEMENTS</th>
            </tr>
            @if (match1.Count > match3.Count)
            {
                var d = new Dictionary<string, string>();
                @for (int i = 0; i < match1.Count; i++)
                {
                    if (i < match3.Count)
                    {
                        d.Add(match1[i].CompetencyNameEng as string, match3[i].CompetencyNameEng as string);
                    }
                    else
                    {
                        d.Add(match1[i].CompetencyNameEng as string, null);
                    }
                }
                @for (int i = 0; i < match2.Count; i++)
                {

                    <tr>
                        <td width="50%">@d.ElementAt(i).Key</td>
                        <td width="50%">@d.ElementAt(i).Value</td>
                    </tr>

                }
                <tr>
                    <td width="50%"></td>
                    <td width="50%"></td>
                </tr>
            }
            else if (match3.Count > match1.Count)
            {
                var d = new Dictionary<string, string>();
                @for (int i = 0; i < match3.Count; i++)
                {
                    if (i < match1.Count)
                    {
                        d.Add(match3[i].CompetencyNameEng as string, match1[i].CompetencyNameEng as string);
                    }
                    else
                    {
                        d.Add(match3[i].CompetencyNameEng as string, null);
                    }
                }
                @for (int i = 0; i < match3.Count; i++)
                {
                    <tr>
                        <td width="50%">@d.ElementAt(i).Value</td>
                        <td width="50%">@d.ElementAt(i).Key</td>
                    </tr>
                }
                <tr>
                    <td width="50%"></td>
                    <td width="50%"></td>
                </tr>
            }
            else
            {
                <tr>
                    <td width="50%"></td>
                    <td width="50%"></td>
                </tr>
            }
        </table>
        <h3>@Localizer["DIFFERING COMPETENCIES"]</h3>
        <table class="table table-hover table-bordered">
            <tr>
                <th style="background-color:#f2f2f2" width="70%">@Localizer["CERTIFICATIONS"]</th>
                <th class="text-center bg-success">@Localizer["Current Position"]</th>
                <th class="text-center bg-info">@Localizer["Selected Position"]</th>
            </tr>
            <tbody>
                @if (diffcert.Count == 0)
                {
                    <tr>
                        <td width="70%"></td>
                        <td class="text-center bg-success"></td>
                        <td class="text-center bg-info"></td>
                    </tr>
                    <tr>
                        <td width="70%"></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
                else
                {
                    @foreach (var d in diffcert)
                    {
                        <tr>

                            <td width="70%">@d.NameEng</td>
                            <td class="text-center bg-success"></td>
                            <td class="text-center bg-info"></td>
                        </tr>
                    }
                    <tr>
                        <td width="70%"></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
                <tr>
                    <th style="background-color:#f2f2f2" width="70%">@Localizer["KNOWLEDGE ELEMENTS"]</th>
                    <th class="text-center bg-success">@Localizer["Current Position"]</th>
                    <th class="text-center bg-info">@Localizer["Selected Position"]</th>
                </tr>

                @if (diff1.Count == 0)
                {
                    <tr>
                        <td width="70%"></td>
                        <td class="text-center bg-success"></td>
                        <td class="text-center bg-info"></td>
                    </tr>
                    <tr>
                        <td width="70%"></td>
                        <td></td>
                        <td></td>
                    </tr>
                }

                else
                {
                    @foreach (var d in diff1)
                    {
                        <tr>

                            <td width="70%">@d.CompetencyNameEng</td>
                            <td class="text-center bg-success">@d.RatingValueCur</td>
                            <td class="text-center bg-info">@d.RatingValueObj</td>
                        </tr>
                    }
                    <tr>
                        <td width="70%"></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
                <tr>
                    <th style="background-color:#f2f2f2" width="70%">@Localizer["TECHNICAL ELEMENTS"]</th>
                    <th class="text-center bg-success">@Localizer["Current Position"]</th>
                    <th class="text-center bg-info">@Localizer["Selected Position"]</th>
                </tr>

                @if (diff2.Count == 0)
                {
                    <tr>
                        <td width="70%"></td>
                        <td class="text-center bg-success"></td>
                        <td class="text-center bg-info"></td>
                    </tr>
                    <tr>
                        <td width="70%"></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
                else
                {
                    @foreach (var d in diff2)
                    {
                        <tr>

                            <td width="70%">@d.CompetencyNameEng</td>
                            <td class="text-center bg-success">@d.RatingValueCur</td>
                            <td class="text-center bg-info">@d.RatingValueObj</td>
                        </tr>
                    }
                    <tr>
                        <td width="70%"></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
                <tr>
                    <th style="background-color:#f2f2f2" width="70%">@Localizer["BEHAVIOURAL ELEMENTS"]</th>
                    <th class="text-center bg-success">@Localizer["Current Position"]</th>
                    <th class="text-center bg-info">@Localizer["Selected Position"]</th>
                </tr>

                @if (diff3.Count == 0)
                {
                    <tr>
                        <td width="70%"></td>
                        <td class="text-center bg-success"></td>
                        <td class="text-center bg-info"></td>
                    </tr>
                    <tr>
                        <td width="70%"></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
                else
                {
                    @foreach (var d in diff3)
                    {
                        <tr>

                            <td width="70%">@d.CompetencyNameEng</td>
                            <td class="text-center bg-success">@d.RatingValueCur</td>
                            <td class="text-center bg-info">@d.RatingValueObj</td>
                        </tr>
                    }
                    <tr>
                        <td width="70%"></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
