@page
@model Web.Pages.CCGMember.Compare.ObjectivePositionModel
@inject IViewLocalizer Localizer
@{
    var isEnglish = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<a class="btn btn-primary pull-right mrgn-rght-md" type="button" asp-page="../../Index">@Localizer["Home"]</a>
<h2><b>@Localizer["h2Text"]</b></h2>

<figure><img src="~/img/CCGMember/Positions-full.jpg" alt="Photo of " class="img-responsive thumbnail mrgn-bttm-sm" /> </figure>
<h3><b>@(isEnglish ? Model.JobGroup.NameEng : Model.JobGroup.NameFre) (@Model.JobGroup.Code)</b></h3>
<div class="dropdown">
    <div class="col-sm-3">
        <label><b>@Localizer["Level"]</b></label><br />
        <button class="dropdown-toggle" width="100%" id="menu1" type="button" data-toggle="dropdown">
            @Model.JobGroup.Code @Model.Level &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            @foreach (var level in Model.JobGroupLevels.Select(e => e.LevelValue).ToList().Distinct())
            {
                var data = new Dictionary<string, string>
                 {
                     { "positionid", Model.PositionId.ToString()},
                     { "id",  Model.Id.ToString()},
                     { "level",  level.ToString() }
                  };
                <li role="presentation">
                    <a role="menuitem" tabindex="-1"
                       asp-page="ObjectivePosition" asp-all-route-data="data">@Localizer["Level"] @level</a>
                </li>
            }
        </ul>
    </div>
    <div class="col-sm-9">
        <label><b>@Localizer["Position"]</b></label><br />
                  <button class="dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">
                             @(Model.Obj==null ? Localizer["Select Position"].Value : (isEnglish ? Model.ObjectivePosition.JobTitleEng : Model.ObjectivePosition.JobTitleFre))
                         <span class="caret"></span>
                  </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">

            @foreach (var jp in Model.JobGroupPositions)
            {
                var data = new Dictionary<string, string>
                     {
                        { "id",  Model.Id.ToString()},
                        { "level",  Model.Level.ToString() },
                        { "positionid",  Model.PositionId.ToString()},
                        { "obj",  jp.JobTitleId.ToString()}
                     };
                <li role="presentation"><a role="menuitem" tabindex="-1" asp-page="ObjectivePosition" asp-all-route-data="data">@(isEnglish ? jp.JobTitleEng : jp.JobTitleFre)</a></li>
            }
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-sm-9 col-lg-offset-3 mrgn-tp-md">
        @{var routedatanext = new Dictionary<string, string>
         {
        { "id",  Model.Id.ToString()},
        { "level",  Model.Level.ToString() },
        { "positionid",  Model.PositionId.ToString()},
        { "obj",  Model.ObjectivePosition?.JobTitleId.ToString()}
        };
        }
        @if (Model.Obj != null)
        {
            <a class="btn btn-primary" role="button" asp-page="Delta" asp-all-route-data="routedatanext">@Localizer["Compare"]</a>
        }
        @{var routedataprevious = new Dictionary<string, string>
         {
        { "id",  Model.Id.ToString()},
        { "positionid",  Model.PositionId.ToString()}
        };
        }
    </div>
    </div>
    <div class="row">
        <div class="col-sm-12 mrgn-bttm-md">
            <nav role="navigation" class="mrgn-bttm-lg">
                <h2 class="wb-inv">Document navigation</h2>
                <ul class="pager">
                    <li class="previous"><a asp-page="ObjectiveLevel" asp-all-route-data="routedataprevious">@Localizer["Previous"]</a></li>
                </ul>
            </nav>
        </div>
    </div>
