@page
@model Web.Pages.CCGMember.CCGMemberModel
@inject IViewLocalizer Localizer
<a class="btn btn-primary pull-right mrgn-rght-md" type="button" asp-page="../Index">@Localizer["Home"]</a>
<h2><b>@Localizer["Question1"]</b></h2>
<a asp-page="">
    <div class="col-sm-3 mrgn-bttm-md">
        <figure>
            <img src="~/img/CCGMember/offshore.jpg" alt="" class="img-responsive thumbnail mrgn-bttm-sm" />
            <input type="radio" value="Offshore"><strong>@Localizer["Offshore"]</strong>
        </figure>
    </div>
</a>
<a asp-page="">
    <div class="col-sm-3 mrgn-bttm-md">
        <figure>
            <img src="~/img/CCGMember/onshore.jpg" alt="" class="img-responsive thumbnail mrgn-bttm-sm" />
            <input type="radio" value="Onshore"><strong>@Localizer["Onshore"]</strong>
        </figure>
    </div>
</a>
<a asp-page="AllPositions">
    <div class="col-sm-3 mrgn-bttm-md">
        <figure>
            <img src="~/img/CCGMember/all-positions.jpg" alt="" class="img-responsive thumbnail mrgn-bttm-sm" />
            <input type="radio" checked="" value="All positions"><strong>@Localizer["Allpositions"]</strong>
        </figure>
    </div>
</a>
<div class="row">
    <div class="col-lg-12 mrgn-bttm-md">
        <nav role="navigation" class="mrgn-bttm-lg">

            <h2 class="wb-inv">Document navigation</h2>

            <ul class="pager">
                <li class="previous"><a asp-page="../Index" rel="prev">Previous</a></li>
                <li class="next"><a asp-page="AllPositions" rel="next">Next</a></li>
            </ul>

        </nav>
    </div>
</div>