@page
@using Microsoft.AspNetCore.Http
@model Web.Pages.CCGMember.CurrentPositionModel
@inject IHttpContextAccessor contextAccessor
@inject IViewLocalizer Localizer
@{
    var isEnglish = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en";
    var page = contextAccessor.HttpContext.Request.RouteValues;
    var id = Model.id;
    var jobtitle = isEnglish ? Model.JobGroup.NameEng : Model.JobGroup.NameFre;
    var jobLevels = Model.JobGroupLevels;
    var jobPositions = Model.JobGroupPositions;
}
    <section role="contentinfo">

        <h2>@Localizer["h2Text"]</h2>
        <figure><img src="~/img/CCGMember/Positions-full.jpg" alt="Photo of " class="img-responsive thumbnail mrgn-bttm-sm" /></figure>
        <h2>@jobtitle</h2>
        <br />
        <div class="row col-md-12">
            <form method="get" action="#">
                <div class="form-group col-md-2">
                    <label for="dt_level" class="control-label">@Localizer["Level"]</label>
                    <select class="form-control maxwidth" id="dt_level" name="dt_level" data-column="2">
                        @for (var i = 1; i < 10; i++)
                        {
                            <option value="Level@i">Level @i</option>
                        }
                    </select>
                </div>
            </form>

            <form action="#" method="get">
                <div class="form-group col-md-10">
                    <label for="dt_position" class="control-label">Position</label>
                    <select class="form-control maxwidth" id="dt_position" name="dt_level" data-column="10">
                        <option value="">@Localizer["Select Position"]</option>
                        <option value="Position1">@Localizer["Officer"]</option>
                        <option value="Position2">@Localizer["Analyst"]</option>
                        <option value="Position3">@Localizer["Human Resources"]</option>
                        <option value="Position4">@Localizer["Finance Officer"]</option>
                        <option value="Position5">@Localizer["Maritime Admin"]</option>
                        <option value="Position6">@Localizer["Project Assistant"]</option>
                        <option value="Position7">@Localizer["Executive Assistant"]</option>
                        <option value="Position8">@Localizer["Staff Management"]</option>
                        <option value="Position9">@Localizer["Training Admin"]</option>
                        <option value="Position10">@Localizer["Official Publications"]</option>
                    </select>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-lg-12 mrgn-bttm-md">
                <nav role="navigation" class="mrgn-bttm-lg">
                    <h2 class="wb-inv">Document navigation</h2>
                    <ul class="pager">
                        <li class="previous"><a asp-page="AllPositions">@Localizer["Previous"]</a></li>
                        <li class="next"><a asp-page="Compare/SearchType" asp-route-id="@id">@Localizer["Next"]</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>