@page
@using Microsoft.AspNetCore.Http
@model Web.Pages.CCGMember.CurrentPositionModel
@inject IHttpContextAccessor contextAccessor
@inject IViewLocalizer Localizer
@{
    var isEnglish = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en";
    //var page = contextAccessor.HttpContext.Request.RouteValues;
    var jobPositions = Model.JobGroupPositions;
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<h2>@Localizer["Level"] @Model.level</h2>
<h2>@Localizer["h2Text"]</h2>

<!--figure><img src="~/img/CCGMember/Positions-full.jpg" alt="Photo of " class="img-responsive thumbnail mrgn-bttm-sm" </figure-->
<br />


<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">
        Select Position
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        @if (isEnglish)
        {
            foreach (var jp in jobPositions)
            {
                <li role="presentation"><a role="menuitem" tabindex="-1" asp-page="Details" asp-route-positionid="@jp.JobTitleId">@jp.JobTitleEng</a></li>
            }
        }
        else
        {
            foreach (var jp in jobPositions) { 
            <li role="presentation"><a role="menuitem" tabindex="-1" asp-page="Details" asp-route-positionid="@jp.JobTitleId">@jp.JobTitleFre</a></li>
            }
        }
    </ul>
</div>

<div class="row">
    <div class="col-lg-12 mrgn-bttm-md">
        <nav role="navigation" class="mrgn-bttm-lg">
            <h2 class="wb-inv">Document navigation</h2>
            <ul class="pager">
                <li class="previous"><a asp-page="AllPositions">@Localizer["Previous"]</a></li>
                <li class="next"><a asp-page="SearchType">@Localizer["Next"]</a></li>
            </ul>
        </nav>
    </div>
</div>

