@page
@model Web.Pages.CCGMember.CurrentLevelModel
@inject IViewLocalizer Localizer
@{
    var isEnglish = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<nav role="navigation" id="wb-bc" property="breadcrumb">
    <h2>
        @Localizer["You are here:"]
    </h2>
    <div class="row">
        <ol class="breadcrumb">
            <li><a asp-page="../Homepage">@Localizer["Home"]</a></li>
            <li><a asp-page="AllPositions">@Localizer["Categories"]</a></li>
            <li><a class="breadcrumb-item active" aria-current="page">@Localizer["Select"]</a></li>
        </ol>
    </div>
</nav>
<section role="contentinfo">
    <nav role="navigation" class="mrgn-bttm-lg">
        <h2 class="wb-inv">Document navigation</h2>
        <ul class="pager">
            <li class="previous"><a class="btn btn-default" type="button" rel="prev" asp-page="AllPositions">@Localizer["Previous"]</a></li>
        </ul>
    </nav>
    <h2 class="mrgn-bttm-md"><b>@Localizer["h2Text"]</b></h2>
    <div class="col-lg-12 well">
        <h3 class="mrgn-tp-0 mrgn-bttm-lg"><b>@(isEnglish? Model.JobGroup.NameEng : Model.JobGroup.NameFre) (@Model.JobGroup.Code)</b></h3>
            <div class="col-md-1 dropdown mrgn-bttm-md">
                <label><b>@Localizer["Level"]</b></label><br />
                <button class="dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">
                    @Localizer["Select Level"]
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu text-left" role="menu" aria-labelledby="menu1">
                    @foreach (var level in Model.JobGroupPositions.ToList())
                    {
                        if (level.Active != 0)
                        {
                            var routedata = new Dictionary<string, string>
                                            {
                              { "id",  Model.Id.ToString()},
                              { "level", level.LevelValue},
                              {"levelcode", level.LevelCode },
                              {"subgroupcode", level.SubGroupCode }
                         };
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1"
                                   asp-page="CurrentPosition" asp-all-route-data="routedata">@level.LevelCode</a>
                            </li>
                        }
                    }
                </ul>
            </div>
    </div>
        <!--    <div class="row">
                <div class="col-lg-12 mrgn-bttm-md">
                    <nav role="navigation" class="mrgn-bttm-lg">
                        <h2 class="wb-inv">Document navigation</h2>
                        <ul class="pager">
                            <li class="previous"><a class="btn btn-default" type="button" rel="prev" asp-page="AllPositions">@Localizer["Previous"]</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        -->
</section>