@page
@model Web.Pages.CCGMember.CurrentPositionModel
@inject IViewLocalizer Localizer
@{ 
    var isEnglish = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en";
 }
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<section role="contentinfo">
    <nav role="navigation" id="wb-bc" property="breadcrumb">
        <h2>
            @Localizer["You are here:"]
        </h2>
        <div class="row">
            <ol class="breadcrumb">
                <li><a asp-page="../Index">@Localizer["Home"]</a></li>
                <li><a asp-page="AllPositions">@Localizer["Categories"]</a></li>
                <li><a class="breadcrumb-item active" aria-current="page">@Localizer["Select"]</a></li>
            </ol>
        </div>
    </nav>
    @{var routedataprevious = new Dictionary<string, string>
{
    { "id",  Model.Id.ToString()},
    };
    }
    <nav role="navigation" class="mrgn-bttm-lg">
        <h2 class="wb-inv">Document navigation</h2>
        <ul class="pager">
            <li class="previous"><a class="btn btn-default" type="button" rel="prev" asp-page="CurrentLevel" asp-all-route-data="routedataprevious">@Localizer["Previous"]</a></li>
            @if (Model.PositionId != 0)
            {
                var routedatanext = new Dictionary<string, string>
                                {
                             { "id",  Model.Id},
                             { "level",  Model.Level},
                             { "levelcode", Model.LevelCode },
                             { "subgroupcode", Model.SubGroupCode },
                             { "positionid", Model.PositionId.ToString()}
                         };
                <li class="next"><a class="btn btn-default" type="button" rel="next" asp-page="Details" asp-all-route-data="routedatanext">@Localizer["Next"]</a></li>
            }
        </ul>
    </nav>
    <h2><b>@Localizer["h2Text"]</b></h2>

    <h3><b>@(isEnglish ? Model.JobGroup.NameEng : Model.JobGroup.NameFre) (@Model.JobGroup.Code)</b></h3>
    <div class="dropdown">
        <div class="col-sm-3 mrgn-bttm-md">
            <label><b>@Localizer["Level"]</b></label><br />
            <button class="dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">
                @Model.LevelCode &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                @foreach (var level in Model.JobGroupLevels.ToList().Distinct())
                {
                    if (level.Active != 0)
                    {
                        var routedata = new Dictionary<string, string>
                                     {
                          { "id",  Model.Id},
                          { "level", level.LevelValue},
                          {"levelcode", level.LevelCode },
                          {"subgroupcode", level.SubGroupCode }
            };
                <li role="presentation">
                    <a role="menuitem" tabindex="-1"
                       asp-page="CurrentPosition" asp-all-route-data="routedata">@level.LevelCode </a>
                </li>
            }
        }
            </ul>
        </div>
        <div class="col-sm-9 mrgn-bttm-md">
            <label><b>@Localizer["Position"]</b></label><br />
            <button class="dropdown-toggle" id="menu1" type="button" width="100%" data-toggle="dropdown">
                @(Model.PositionId == 0 ? Localizer["Select Position"].Value : (isEnglish ? Model.Position.JobTitleEng : Model.Position.JobTitleFre))
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">

                @foreach (var jp in Model.JobGroupPositions)
                {
                    if (jp.Active != 0)
                    {
                        var routedata = new Dictionary<string, string>
                                        {
                        { "id",  Model.Id},
                        { "level",  Model.Level},
                        {"levelcode", Model.LevelCode },
                        {"subgroupcode", Model.SubGroupCode },
                        { "positionid", jp.JobTitleId.ToString()}
                     };
                        <li role="presentation"><a role="menuitem" tabindex="-1" asp-page="CurrentPosition" asp-all-route-data="routedata">@(isEnglish ? jp.JobTitleEng : jp.JobTitleFre)</a></li>
                    }
                }
            </ul>
        </div>
    </div>

    <figure><img src="~/img/CCGMember/Positions-full.jpg" alt="@Localizer["Photo"]" class="img-responsive thumbnail mrgn-tp-sm mrgn-bttm-md" /> </figure>

</section>