@page
@model Web.Pages.CCGMember.DetailsModel
@inject IViewLocalizer Localizer

@{
    var isEnglish = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en";
    var cur = Model.Position;
    var curcert = Model.PositionCertificates;
    var currat1 = Model.PositionRatings1;
    var currat2 = Model.PositionRatings2;
    var currat3 = Model.PositionRatings3;
}

    <section role="contentinfo">
        <div class="row mrgn-tp-md">
            <button class="btn btn-primary mrgn-lft-md" type="button">@Localizer["Print PDF"]</button>
            <button class="btn btn-primary pull-right mrgn-rght-md" type="button">@Localizer["Save PDF"]</button>
        </div>
        <h2><b>@Localizer["Current Position Details"]</b></h2>

        <table class="table table-hover table-bordered" width="100%" border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th class="bg-primary" colspan="2">@Localizer["POSITION DETAILS"]: @cur.JobGroupCode-@cur.JobGroupLevelValue @(isEnglish?cur.JobTitleEng:cur.JobTitleFre)</th>
                </tr>
            </thead>
            <tr>
                <th style="background-color:#f2f2f2" colspan="2">@Localizer["CERTIFICATIONS"]</th>
            </tr>

            @if (curcert.Length > 0)
            {
                @foreach (var c in curcert)
                {
                    <tr>
                        <td colspan="2">@(isEnglish?c.NameEng:c.NameFre)</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2">@Localizer["No Certifications"]</td>
                </tr>
            }        
            @if (currat1.Length > 0)
            {
                <tr>
                    <th style="background-color:#f2f2f2" width="80%">@Localizer["KNOWLEDGE ELEMENTS"]</th>
                    <th style="background-color:#f2f2f2" class="text-center" width="20%">@Localizer["Level"]</th>
                </tr>
                @foreach (var c in currat1)
                {
                    <tr>
                        <td>@(isEnglish?c.CompetencyNameEng:c.CompetencyNameFre)</td>
                        <td class="text-center"><a data-toggle="tooltip" title="@(isEnglish?c.RatingDescEng:c.RatingDescFre)">@c.RatingValue</a></td>
                    </tr>
                }
            }
            @if (currat2.Length > 0)
            {
                <tr>
                    <th style="background-color:#f2f2f2" width="80%">@Localizer["TECHNICAL ELEMENTS"]</th>
                    <th style="background-color:#f2f2f2" class="text-center" width="20%">@Localizer["Level"]</th>
                </tr>
                @foreach (var c in currat2)
                {
                    <tr>
                        <td>@(isEnglish?c.CompetencyNameEng:c.CompetencyNameFre)</td>
                        <td class="text-center"><a data-toggle="tooltip" title="@(isEnglish?c.RatingDescEng:c.RatingDescFre)">@c.RatingValue</a></td>
                    </tr>
                }
            }
            @if (currat3.Length > 0)
            {
                <tr>
                    <th style="background-color:#f2f2f2" width="80%">@Localizer["BEHAVIOURAL ELEMENTS"]</th>
                    <th style="background-color:#f2f2f2" class="text-center" width="20%">@Localizer["Level"]</th>
                </tr>
                @foreach (var c in currat3)
                {
                    <tr>
                        <td>@(isEnglish?c.CompetencyNameEng:c.CompetencyNameFre)</td>
                        <td class="text-center"><a data-toggle="tooltip" title="@(isEnglish?c.RatingDescEng:c.RatingDescFre)">@c.RatingValue</a></td>
                    </tr>
                }
            }
        </table>
    </section>
<div class="row">
    <div class="col-lg-12 mrgn-bttm-md">
        <nav role="navigation" class="mrgn-bttm-lg">

            <h2 class="wb-inv">Document navigation</h2>

            <ul class="pager">
                @{ 
                    var routedata = new Dictionary<string, string>
        {
           { "id",  Model.Id.ToString()},
           { "level",  Model.Level}
        };
                }
                <li class="previous"><a asp-page="CurrentPosition" asp-all-route-data="routedata">@Localizer["Previous"]</a></li>
                <li class="next"><a asp-page="SearchType" asp-route-positionid="@cur.JobTitleId">@Localizer["Next"]</a></li>
            </ul>
        </nav>
    </div>
</div>



