@page
@model Web.Pages.CCGMember.SearchTypeModel
@inject IViewLocalizer Localizer
@{
    var routedata = new Dictionary<string, string>
                           {
                            {"positionid", Model.PositionId.ToString()},
                            {"previouspagedetails", "../SearchType" },
                            {"previouspagesimilar", "../SearchType" },
                            { "id",  Model.Id},
                            { "level",  Model.Level},
                            { "levelcode", Model.LevelCode },
                            { "subgroupcode", Model.SubGroupCode },
                            { "userpath", "CCGMember" },

                           };
    var routedataprevious = new Dictionary<string, string>
                           {
                              { "id",  Model.Id},
                              { "level",  Model.Level},
                              { "subgroupcode", Model.SubGroupCode },   
                              { "levelcode", Model.LevelCode },
                              {"positionid", Model.PositionId.ToString()}
                            };
}

    <section role="contentinfo">
        <nav role="navigation" id="wb-bc" property="breadcrumb">
            <h2 class="wb-inv">
                @Localizer["You are here:"]
            </h2>
            <div class="row">
                <ol class="breadcrumb">
                    <li><a asp-page="../../Index">@Localizer["Home"]</a></li>
                    <li><a asp-page="../AllPositions">@Localizer["Categories"]</a></li>
                    <li><a asp-page="../CurrentPosition" asp-all-route-data="routedataprevious">@Localizer["Select"]</a></li>
                    <li><a asp-page="Details" asp-all-route-data="routedataprevious">@Localizer["Current Position"]</a></li>
                    <li><a class="breadcrumb-item active" aria-current="page">@Localizer["Search Type"]</a></li>
                </ol>
            </div>
        </nav>
        <nav role="navigation" class="mrgn-bttm-lg">
            <h2 class="wb-inv">Document navigation</h2>
            <ul class="pager">
                <li class="previous"><a asp-page="Details" asp-all-route-data="@routedataprevious" class="btn btn-default" type="button" rel="prev">@Localizer["Previous"]</a></li>
            </ul>
        </nav>
        <h2 class="mrgn-tp-0 mrgn-bttm-md"><b>@Localizer["Question1"]</b></h2>
        <div class="row">

            <div class="col-md-4 col-sm-4 mrgn-bttm-md">
                <a style="text-decoration:none" asp-page="Similar/SimilarSearch" asp-all-route-data="@routedata">
                    <figure class="thumbnail eqht-trgt" style="vertical-align: top;">
                        <div class="img-container">
                            <figcaption class="caption text-center"><h3 class="mrgn-tp-0">@Localizer["Similar"]</h3></figcaption>
                            <img src="~/img/CCGMember/similar.jpg" alt="@Localizer["PhotoSimilar"]" class="img-responsive center" />
                        </div>
                    </figure>
                </a>
            </div>

            <div class="col-md-4 col-sm-4 mrgn-bttm-md">
                <a style="text-decoration:none" asp-page="Compare/AllObjective" asp-all-route-data="routedata">
                    <figure class="thumbnail eqht-trgt" style="vertical-align: top;">
                        <div class="img-container">
                            <figcaption class="caption text-center"><h3 class="mrgn-tp-0">@Localizer["Compare"]</h3></figcaption>
                            <img src="~/img/CCGMember/compare.jpg" alt="@Localizer["PhotoCompare"]" class="img-responsive center" />
                        </div>
                    </figure>
                </a>
            </div>
            
        </div>
        <!--    <div class="row">
            <div class="col-lg-12 mrgn-bttm-md">
                <nav role="navigation" class="mrgn-bttm-lg">
                    <h2 class="wb-inv">Document navigation</h2>
                    <ul class="pager">
                        <li class="previous"><a asp-page="Details" asp-all-route-data="@routedataprevious" class="btn btn-default" type="button" rel="prev">@Localizer["Previous"]</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    -->
    </section>