@page
@model Web.Pages.CCGMember.SearchTypeModel
@inject IViewLocalizer Localizer
@{
}


<h2><b>@Localizer["Question1"]</b></h2>
<a asp-page="Similar/SimilarSearch" asp-route-positionid="@Model.PositionId">
    <div class="col-sm-4 mrgn-bttm-md">
        <figure>
            <img src="~/img/CCGMember/similar.jpg" alt="" class="img-responsive thumbnail mrgn-bttm-sm" />
            <strong>@Localizer["Similar"]</strong>
        </figure>
    </div>
</a>
<a asp-page="Compare/AllObjective" asp-route-positionid="@Model.PositionId">
    <div class="col-sm-4 mrgn-bttm-md">
        <figure>
            <img src="~/img/CCGMember/compare.jpg" alt="" class="img-responsive thumbnail mrgn-bttm-sm" />
            <strong>@Localizer["Compare"]</strong>
        </figure>
    </div>
</a>



