@page
@model Web.Pages.Student.CollegeModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Technical College";
}
<section role="contentinfo">

    <h2>@Localizer["Q1"]</h2>

    <div class="col-sm-4">
        <figure>
            <a href="Student_List">
                <img src="~/img/CCGMember/AS.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
            </a>
            <figcaption class="text-center"><h5>@Localizer["admin"]</h5></figcaption>
        </figure>
    </div>
    <div class="col-sm-4">
        <figure>
            <a href="Student_List">
                <img src="~/img/CCGMember/CS.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
            </a>
            <figcaption class="text-center"><h5>@Localizer["computer"]</h5></figcaption>
        </figure>
    </div>
    <div class="col-sm-4">
        <figure>
            <a href="Student_List">
                <img src="~/img/CCGMember/GS.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
            </a>
            <figcaption class="text-center"><h5>@Localizer["cook"]</h5></figcaption>
        </figure>
    </div>
    <div class="col-sm-4">
        <figure>
            <a href="Student_List">
                <img src="~/img/CCGMember/GT.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
            </a>
            <figcaption class="text-center"><h5>@Localizer["electrical"]</h5></figcaption>
        </figure>
    </div>
    <div class="col-sm-4">
        <figure>
            <a href="Student_List">
                <img src="~/img/CCGMember/EL.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
            </a>
            <figcaption class="text-center"><h5>@Localizer["electronics"]</h5></figcaption>
        </figure>
    </div>
    <div class="col-sm-4">
        <figure>
            <a href="Student_List">
                <img src="~/img/Student/geo.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
            </a>
            <figcaption class="text-center"><h5>@Localizer["geo"]</h5></figcaption>
        </figure>
    </div>
    <div class="col-sm-4">
        <figure>
            <a href="Student_List">
                <img src="~/img/CCGMember/SC.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
            </a>
            <figcaption class="text-center"><h5>@Localizer["deck"]</h5></figcaption>
        </figure>
    </div>
    <div class="col-sm-4">
        <figure>
            <a href="Student_List">
                <img src="~/img/CCGMember/Officer-Eng.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
            </a>
            <figcaption class="text-center"><h5>@Localizer["engineering"]</h5></figcaption>
        </figure>
    </div>
    <div class="col-sm-4">
        <figure>
            <a class="nav-link" href="Student_List">
                <img src="~/img/CCGMember/GL.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
            </a>
            <figcaption class="text-center"><h5>@Localizer["trades"]</h5></figcaption>
        </figure>
    </div>

</section>