@page
@model Web.Pages.Student.HighschoolModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "High School";
}
<section role="contentinfo">

    <h2>@Localizer["Q1"]</h2>

    <div class="col-sm-4 mrgn-tp-md">
        <figure>
            <a href="@Localizer["link"]" target="_blank">
                <img src="~/img/Student/CCGCollege.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
            </a>
            <figcaption class="text-center "><h5>@Localizer["ccgcollege"]</h5></figcaption>
        </figure>
    </div>

    <div class="col-sm-4 mrgn-tp-md">
        <figure>
            <a href="Student_List">
                <img src="~/img/CCGMember/AS.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
            </a>
            <figcaption class="text-center"><h5>@Localizer["admin"]</h5></figcaption>
        </figure>
    </div>

    <div class="col-sm-4 mrgn-tp-md">
        <figure>
            <a href="Student_List">
                <img src="~/img/CCGMember/RO.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
            </a>
            <figcaption class="text-center"><h5>@Localizer["computer"]</h5></figcaption>
        </figure>
    </div>

    <div class="col-sm-4 mrgn-tp-md">
        <figure>
            <a class="nav-link" href="Student_List">
                <img src="~/img/CCGMember/GL.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
            </a>
            <figcaption class="text-center"><h5>@Localizer["trades"]</h5></figcaption>
        </figure>
    </div>

</section>