@page
@model Web.Pages.Student.IndexModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Student";
}

    <section role="contentinfo">
        <nav role="navigation" id="wb-bc" property="breadcrumb">
            <h2>
                @Localizer["You are here:"]
            </h2>
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="../../Index">@Localizer["Home"]</a></li>
                    <li>@Localizer["Student"]</li>
                </ol>
            </div>
        </nav>
        <nav role="navigation">
            <h2 class="wb-inv">Document navigation</h2>
            <ul class="pager">
                <li class="previous"><a asp-page="../Index" class="btn btn-default" type="button" rel="prev">@Localizer["Previous"]</a></li>
            </ul>
        </nav>
        <h2>@Localizer["Q1"]</h2>

        <div class="col-sm-4">
            <figure>
                <a style="text-decoration:none" class="nav-link" asp-page="HighSchool/Index">
                    <figcaption><h4 class="text-center">@Localizer["HighSchool"]</h4></figcaption>
                    <img src="~/img/Student/Highschool.jpg" alt="@Localizer["PhotoHS"]" class="img-thumbnail img-responsive mrgn-bttm-sm" />
                </a>
            </figure>
        </div>
        <div class="col-sm-4">
            <figure>
                <a style="text-decoration:none" class="nav-link" asp-page="College/Index">
                    <figcaption><h4 class="text-center">@Localizer["TechCollege"]</h4></figcaption>
                    <img src="~/img/Student/TechCollege.jpg" alt="@Localizer["PhotoTC"]" class="img-thumbnail img-responsive mrgn-bttm-sm" />
                </a>
            </figure>
        </div>
        <div class="col-sm-4">
            <figure>
                <a style="text-decoration:none" class="nav-link" asp-page="University/Index">
                    <figcaption><h4 class="text-center">@Localizer["University"]</h4></figcaption>
                    <img src="~/img/Student/University.jpg" alt="@Localizer["PhotoU"]" class="img-thumbnail img-responsive mrgn-bttm-sm" />
                </a>
            </figure>
        </div>
    </section>