@page
@model Web.Pages.Student.IndexModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Student";
}

<section role="contentinfo">
    <nav role="navigation" id="wb-bc" property="breadcrumb">
        <h2>
            @Localizer["You are here:"]
        </h2>
        <div class="row">
            <ol class="breadcrumb">
                <li><a asp-page="../Index">@Localizer["Home"]</a></li>
                <li>@Localizer["Student"]</li>
            </ol>
        </div>
    </nav>
    <nav role="navigation">
        <h2 class="wb-inv">Document navigation</h2>
        <ul class="pager">
            <li class="previous"><a asp-page="../Index" class="btn btn-default" type="button" rel="prev">@Localizer["Previous"]</a></li>
        </ul>
    </nav>
    <div class="cct-student-img cct-student-hide-mobile cct-student-hide-tablet">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h2 class="mrgn-bttm-xl">@Localizer["Q1"]</h2>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row wb-eqht mrgn-tp-lg ">
        <div class="col-sm-4">
            <div class="well well-sm brdr-rds-0 position-relative" style="vertical-align: top; min-height: 400px;">
                <h3 class="mrgn-tp-sm">@Localizer["HighSchool"]</h3>
                <p>@Localizer["modaltextHS"]</p>
                <p>&nbsp;</p>
                <a style="position:absolute; bottom:10px;" class="btn btn-primary pull-left" asp-page="HighSchool/Index">@Localizer["continue"]</a>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="well well-sm brdr-rds-0 position-relative" style="vertical-align: top; min-height: 400px;">
                <h3 class="mrgn-tp-sm">@Localizer["TechCollege"]</h3>
                <p>@Localizer["modaltextTC"]</p>
                <p>&nbsp;</p>
                <a style="position:absolute; bottom:10px;" class="btn btn-primary pull-left" asp-page="College/Index">@Localizer["continue"]</a>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="well well-sm brdr-rds-0 position-relative" style="vertical-align: top; min-height: 400px;">
                <h3 class="mrgn-tp-sm">@Localizer["University"]</h3>
                <p>@Localizer["modaltextU"]</p>
                <p>&nbsp;</p>
                <a style="position:absolute; bottom:10px;" class="btn btn-primary pull-left" asp-page="University/Index">@Localizer["continue"]</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>