@page
@model Web.Pages.Student.UniversityModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "University";
}
<section role="contentinfo">

    <h2>@Localizer["Q1"]</h2>

    <div class="col-sm-4">
        <figure>
            <a href="Student_List">
                <img src="~/img/CCGMember/AS.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
            </a>
            <figcaption class="text-center"><h5>@Localizer["business"]</h5></figcaption>
        </figure>
    </div>
    <div class="col-sm-4">
        <figure>
            <a href="Student_List">
                <img src="~/img/CCGMember/CS.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
            </a>
            <figcaption class="text-center"><h5>@Localizer["computer"]</h5></figcaption>
        </figure>
    </div>
    <div class="col-sm-4">
        <figure>
            <a href="Student_List">
                <img src="~/img/CCGMember/ENG.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
            </a>
            <figcaption class="text-center"><h5>@Localizer["engineering"]</h5></figcaption>
        </figure>
    </div>
    <div class="col-sm-4">
        <figure>
            <a href="Student_List">
                <img src="~/img/CCGMember/PM.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
            </a>
            <figcaption class="text-center"><h5>@Localizer["arts"]</h5> @Localizer["language"]</figcaption>
        </figure>
    </div>
    <div class="col-sm-4">
        <figure>
            <a href="Student_List">
                <img src="~/img/CCGMember/NU.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
            </a>
            <figcaption class="text-center"><h5>@Localizer["sciences"]</h5></figcaption>
        </figure>
    </div>
    <div class="col-sm-4">
        <figure>
            <a href="Student_List">
                <img src="~/img/CCGMember/EC.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
            </a>
            <figcaption class="text-center"><h5>@Localizer["social"]</h5> @Localizer["economics"]</figcaption>
        </figure>
    </div>
</section>