@page
@model Admin.Pages.Competencies.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="small-margin-bottom">
    <h4>@Html.DisplayFor(model => model.Competency.NameEng) / @Html.DisplayFor(model => model.Competency.NameFre)</h4>
    <hr />
    <dl class="row border-bottom small-padding-bottom">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Competency.NameEng)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Competency.NameEng)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Competency.NameFre)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Competency.NameFre)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Competency.DescEng)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Competency.DescEng)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Competency.DescFre)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Competency.DescFre)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Competency.TypeNameEng)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Competency.TypeNameEng)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Competency.TypeNameFre)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Competency.TypeNameFre)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="form-group col-md-6">
        <label asp-for="Competency.Level1DescEng" class="control-label"><b>Level 1 - English</b></label>
        <p class="comp-details-level">@Model.Competency.Level1DescEng</p>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Competency.Level1DescFre" class="control-label"><b>Level 1 - French</b></label>
        <p class="comp-details-level">@Model.Competency.Level1DescFre</p>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        <label asp-for="Competency.Level1DescEng" class="control-label"><b>Level 2 - English</b></label>
        <p class="comp-details-level">@Model.Competency.Level2DescEng</p>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Competency.Level1DescFre" class="control-label"><b>Level 2 - French</b></label>
        <p class="comp-details-level">@Model.Competency.Level2DescFre</p>
    </div>
</div>
<div class="row">
   <div class="form-group col-md-6">
        <label asp-for="Competency.Level1DescEng" class="control-label"><b>Level 3 - English</b></label>
        <p class="comp-details-level">@Model.Competency.Level3DescEng</p>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Competency.Level1DescFre" class="control-label"><b>Level 3 - French</b></label>
        <p class="comp-details-level">@Model.Competency.Level3DescFre</p>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        <label asp-for="Competency.Level1DescEng" class="control-label"><b>Level 4 - English</b></label>
        <p class="comp-details-level">@Model.Competency.Level4DescEng</p>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Competency.Level1DescFre" class="control-label"><b>Level 4 - French</b></label>
        <p class="comp-details-level">@Model.Competency.Level4DescFre</p>
    </div>
</div>
<div class="row">
   <div class="form-group col-md-6">
        <label asp-for="Competency.Level1DescEng" class="control-label"><b>Level 5 - English</b></label>
        <p class="comp-details-level">@Model.Competency.Level5DescEng</p>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Competency.Level1DescFre" class="control-label"><b>Level 5 - French</b></label>
        <p class="comp-details-level">@Model.Competency.Level5DescFre</p>
    </div>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Competency.Id">Edit</a> |
    <a asp-page="./List" asp-route-typeid="@Model.Competency.TypeId">Back to List</a>
</div>
