@page
@model Admin.Pages.Competencies.ListModel
@{
    ViewData["Title"] = "List";
}


<h1>@Model.Type.NameEng / @Model.Type.NameFre</h1>

<p>
    <a class="btn btn-dark" asp-page="/Competencies/Create" asp-route-typeid="@Model.Type.Id">Create New</a>
</p>
@{ 
            var filterdata = new Dictionary<string, string>
    {
            { "typeid", Model.Type.Id.ToString() },
            {"filter", Model.Filter }
    };
}
<form method="post">
    <div class="form-actions no-color">
        <h6>
            Find competencies:
            <input type="text" asp-for="@Model.Filter"/>
            <input type="submit" value="Search" class="btn btn-primary" asp-all-route-data="@filterdata" /> |
            <a asp-page="./List" asp-route-typeid="@Model.Type.Id">Back to Full List</a>
        </h6>
    </div>
</form>

<hr />

<table class="table">
    <thead>
        <tr>
            <th><b>Competency English</b></th>
            <th><b>Competency French</b></th>
            <th><b>Description English</b></th>
            <th><b>Description French</b></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Competencies.Where(e => Model.Filter == null || e.NameEng.ToLower().Contains(@Model.Filter.ToLower()) || e.NameFre.ToLower().Contains(@Model.Filter.ToLower())))
        {
            if (item.Active != 0) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameEng)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameFre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescEng)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescFre)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        }
    </tbody>
</table>