@page
@model Web.Pages.Student.College.Shoreside.GeographicalInformationModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Geographical"];
    var isEnglish = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en";
}

    <section role="contentinfo">
        <nav role="navigation" id="wb-bc" property="breadcrumb">
            <h2 class="wb-inv">
                @Localizer["You are here:"]
            </h2>
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="../../../Homepage">@Localizer["Home"]</a></li>
                    <li><a href="../../Index">@Localizer["Student"]</a></li>
                    <li><a href="../Index">@Localizer["TechCollege"]</a></li>
                    <li><a href="Index">@Localizer["Shoreside"]</a></li>
                    <li><a class="breadcrumb-item active" aria-current="page">@Localizer["geo"]</a></li>
                </ol>
            </div>
        </nav>
        <div class="mrgn-tp-md">
            <a title="@Localizer["save"]" target="_blank" href="@Url.Action("StudentShoresidePositionsList", "ToPdf", new { ShoresideIds = Model.ShoresidePositionIds, language = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName})"><span class="glyphicon glyphicon-save-file pull-right" alt="@Localizer["save"]"></span> </a>
            <nav role="navigation">
                <h2 class="wb-inv">Document navigation</h2>
                <ul class="pager">
                    <li class="previous"><a asp-page="../Shoreside/Index" class="btn btn-default" type="button" rel="prev">@Localizer["Previous"]</a></li>
                </ul>
            </nav>
        </div>
            <h2>@Localizer["results"]</h2>
            <table class="table table-hover table-responsive table-bordered">
                <thead>
                    <tr>
                        <th class="bg-primary" width="15%">@Localizer["level"]</th>
                        <th class="bg-primary" width="73%">@Localizer["position"]</th>
                        <th class="bg-primary" width="12%"></th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model.ShoreSidePositions.Any(e => e.Active != 0))
                    {
                        @foreach (var position in Model.ShoreSidePositions.Where(e => e.Active != 0))
                        {
                            var routedata = new Dictionary<string, string>
                             {
                    {"previouspage", "../../Student/College/Shoreside/GeographicalInformation" },
                    { "positionid",  position.JobTitleId.ToString()},
                 };

                            <tr>
                                <td>@position.LevelCode</td>
                                <td>@(isEnglish ? position.JobTitleEng : position.JobTitleFre)</td>
                                <td><a asp-page="../../../Candidate/Shoreside/SimilarDetails" asp-all-route-data="@routedata" role="button">@Localizer["More Details"]</a></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td></td>
                            <td>@Localizer["noshoreside"]</td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>

            <!--    <div style="clear:both;">
                <div class="col-lg-12">
                    <nav role="navigation">
                        <h2 class="wb-inv">Document navigation</h2>
                        <ul class="pager">
                            <li class="previous"><a asp-page="../Shoreside/Index" class="btn btn-default" type="button" rel="prev">@Localizer["Previous"]</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        -->
    </section>