@page
@model Web.Pages.Student.College.Shoreside.IndexModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Shoreside"];
}

    <section role="contentinfo">
        <nav role="navigation" id="wb-bc" property="breadcrumb">
            <h2>
                @Localizer["You are here:"]
            </h2>
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="../../../Index">@Localizer["Home"]</a></li>
                    <li><a href="../../Index">@Localizer["Student"]</a></li>
                    <li><a href="../Index">@Localizer["TechCollege"]</a></li>
                    <li><a class="breadcrumb-item active" aria-current="page">@Localizer["Shoreside"]</a></li>
                </ol>
            </div>
        </nav>
        <nav role="navigation">
            <h2 class="wb-inv">Document navigation</h2>
            <ul class="pager">
                <li class="previous"><a asp-page="../Index" class="btn btn-default" type="button" rel="prev">@Localizer["Previous"]</a></li>
            </ul>
        </nav>
        <h2>@Localizer["Q1"]</h2>

        <div class="col-lg-4 col-sm-6">
            <figure class="thumbnail eqht-trgt" style="vertical-align: top;">
                <div class="img-container">
                    <a style="text-decoration:none" class="nav-link" href="@Localizer["link"]" target="_blank">
                        <figcaption class="caption text-center"><h4 class="h6 mrgn-tp-sm"><b>@Localizer["ccgcollege"]</b></h4></figcaption>
                        <img src="~/img/Student/CCGCollege.jpg" alt="@Localizer["PhotoCollege"]" class="img-responsive" />
                    </a>
                </div>
            </figure>
        </div>

            <div class="col-lg-4 col-sm-6">
                <figure class="thumbnail eqht-trgt" style="vertical-align: top;">
                    <div class="img-container">
                        <a style="text-decoration:none" class="nav-link" asp-page="Administrative">
                            <figcaption class="caption text-center"><h4 class="h6 mrgn-tp-sm"><b>@Localizer["admin"]</b></h4></figcaption>
                            <img src="~/img/CCGMember/Admin.jpg" alt="@Localizer["PhotoAdmin"]" class="img-responsive" />
                        </a>
                    </div>
                </figure>
            </div>

            <div class="col-lg-4 col-sm-6">
                <figure class="thumbnail eqht-trgt" style="vertical-align: top;">
                    <div class="img-container">
                        <a style="text-decoration:none" class="nav-link" asp-page="Computer">
                            <figcaption class="caption text-center"><h4 class="h6 mrgn-tp-sm"><b>@Localizer["computer"]</b></h4></figcaption>
                            <img src="~/img/CCGMember/CS.jpg" alt="@Localizer["PhotoComputer"]" class="img-responsive" />
                        </a>
                    </div>
                </figure>
            </div>

            <div class="col-lg-4 col-sm-6">
                <figure class="thumbnail eqht-trgt" style="vertical-align: top;">
                    <div class="img-container">
                        <a style="text-decoration:none" class="nav-link" asp-page="Cook">
                            <figcaption class="caption text-center"><h4 class="h6 mrgn-tp-sm"><b>@Localizer["cook"]</b></h4></figcaption>
                            <img src="~/img/CCGMember/GS.jpg" alt="@Localizer["PhotoCook"]" class="img-responsive" />
                        </a>
                    </div>
                </figure>
            </div>

            <div class="col-lg-4 col-sm-6">
                <figure class="thumbnail eqht-trgt" style="vertical-align: top;">
                    <div class="img-container">
                        <a style="text-decoration:none" class="nav-link" asp-page="Electrical">
                            <figcaption class="caption text-center"><h4 class="h6 mrgn-tp-sm"><b>@Localizer["electrical"]</b></h4></figcaption>
                            <img src="~/img/CCGMember/GT.jpg" alt="@Localizer["PhotoElectrical"]" class="img-responsive" />
                        </a>
                    </div>
                </figure>
            </div>

            <div class="col-lg-4 col-sm-6">
                <figure class="thumbnail eqht-trgt" style="vertical-align: top;">
                    <div class="img-container">
                        <a style="text-decoration:none" class="nav-link" asp-page="Electronics">
                            <figcaption class="caption text-center"><h4 class="h6 mrgn-tp-sm"><b>@Localizer["electronics"]</b></h4></figcaption>
                            <img src="~/img/CCGMember/EL.jpg" alt="@Localizer["PhotoElectronics"]" class="img-responsive" />
                        </a>
                    </div>
                </figure>
            </div>

            <div class="col-lg-4 col-sm-6">
                <figure class="thumbnail eqht-trgt" style="vertical-align: top;">
                    <div class="img-container">
                        <a style="text-decoration:none" class="nav-link" asp-page="GeographicalInformation">
                            <figcaption class="caption text-center"><h4 class="h6 mrgn-tp-sm"><b>@Localizer["geo"]</b></h4></figcaption>
                            <img src="~/img/Student/geo.jpg" alt="@Localizer["PhotoGeo"]" class="img-responsive" />
                        </a>
                    </div>
                </figure>
            </div>

            <div class="col-lg-4 col-sm-6">
                <figure class="thumbnail eqht-trgt" style="vertical-align: top;">
                    <div class="img-container">
                        <a style="text-decoration:none" class="nav-link" asp-page="Engineering">
                            <figcaption class="caption text-center"><h4 class="h6 mrgn-tp-sm"><b>@Localizer["engineering"]</b></h4></figcaption>
                            <img src="~/img/CCGMember/ENG.jpg" alt="@Localizer["PhotoEngineer"]" class="img-responsive" />
                        </a>
                    </div>
                </figure>
            </div>

            <div class="col-lg-4 col-sm-6">
                <figure class="thumbnail eqht-trgt" style="vertical-align: top;">
                    <div class="img-container">
                        <a style="text-decoration:none" class="nav-link" asp-page="Trades">
                            <figcaption class="caption text-center"><h4 class="h6 mrgn-tp-sm"><b>@Localizer["trades"]</b></h4></figcaption>
                            <img src="~/img/CCGMember/GL.jpg" alt="@Localizer["PhotoTrades"]" class="img-responsive" />
                        </a>
                    </div>
                </figure>
            </div>

            <!--    <div style="clear:both;">
            <div class="col-lg-12">
                <nav role="navigation">
                    <h2 class="wb-inv">Document navigation</h2>
                    <ul class="pager">
                        <li class="previous"><a asp-page="../Index" class="btn btn-default" type="button" rel="prev">@Localizer["Previous"]</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    -->
</section>