@page
@model Web.Pages.Student.College.Shoreside.IndexModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Shoreside"];
}

<section role="contentinfo">
    <nav role="navigation" id="wb-bc" property="breadcrumb">
        <h2 class="wb-inv">
            @Localizer["You are here:"]
        </h2>
        <div class="row">
            <ol class="breadcrumb">
                <li><a asp-page="../../../Homepage">@Localizer["Home"]</a></li>
                <li><a asp-page="../../Index">@Localizer["Student"]</a></li>
                <li><a asp-page="../Index">@Localizer["TechCollege"]</a></li>
                <li><a class="breadcrumb-item active" aria-current="page">@Localizer["Shoreside"]</a></li>
            </ol>
        </div>
    </nav>
    <nav role="navigation">
        <h2 class="wb-inv">Document navigation</h2>
        <ul class="pager">
            <li class="previous"><a asp-page="../Index" class="btn btn-default" type="button" rel="prev">@Localizer["Previous"]</a></li>
        </ul>
    </nav>

    <h2 class="mrgn-bttm-lg">@Localizer["Q1"]</h2>

    <div class="row">
        <div class="col-sm-12">
            <ul class="list">
                <li><a style="text-decoration:none" href="@Localizer["link"]" target="_blank">@Localizer["ccgcollege"] <span class="glyphicon glyphicon-new-window"></span></a></li>
                <li><a style="text-decoration:none" asp-page="Administrative">@Localizer["admin"]</a></li>
                <li><a style="text-decoration:none" asp-page="Computer">@Localizer["computer"]</a></li>
                <li><a style="text-decoration:none" asp-page="Cook">@Localizer["cook"]</a></li>
                <li><a style="text-decoration:none" asp-page="Electrical">@Localizer["electrical"]</a></li>
                <li><a style="text-decoration:none" asp-page="Electronics">@Localizer["electronics"]</a></li>
                <li><a style="text-decoration:none" asp-page="GeographicalInformation">@Localizer["geo"]</a></li>
                <li><a style="text-decoration:none" asp-page="Engineering">@Localizer["engineering"]</a></li>
                <li><a style="text-decoration:none" asp-page="Trades">@Localizer["trades"]</a></li>
            </ul>
        </div>
    </div>
</section>