@page
@inject IViewLocalizer Localizer
@model Web.Pages.Candidate.Shoreside.AllCandidateShoresideModel
@{
    ViewData["Title"] = Localizer["title"];
    var isEnglish = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en";
    var imagefolder = "~/img/CCGMember/";
}
    <section role="contentinfo">
        <nav role="navigation" id="wb-bc" property="breadcrumb">
            <h2>
                @Localizer["You are here:"]
            </h2>
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="../../Index">@Localizer["Home"]</a></li>
                    <li><a href="../Index">@Localizer["Candidate"]</a></li>
                    <li><a class="breadcrumb-item active" aria-current="page">@Localizer["Shoreside"]</a></li>
                </ol>
            </div>
        </nav>
        <nav role="navigation">
            <h2 class="wb-inv">Document navigation</h2>
            <ul class="pager">
                <li class="previous"><a class="btn btn-default" type="button" rel="prev" asp-page="../Index">@Localizer["Previous"]</a></li>
            </ul>
        </nav>

        <div class="col-md-12">
            <h2><b>@Localizer["AllPositions"]</b></h2>
            <form>
                <p>
                    <input type="text" asp-for="Filter" />
                    <input type="submit" text=@Localizer["Keywords"] value=@Localizer["Filter"] />
                </p>
            </form>
            <form>
                @if (Model.JobGroups.Any(e => Model.Filter == null || e.NameEng.ToLower().Contains(@Model.Filter.ToLower()) || e.NameFre.ToLower().Contains(@Model.Filter.ToLower()) || e.Code.ToLower().Contains(@Model.Filter.ToLower())))
                {
                    @foreach (var jobgroup in Model.JobGroups.Where(e => Model.Filter == null || e.NameEng.ToLower().Contains(@Model.Filter.ToLower()) || e.NameFre.ToLower().Contains(@Model.Filter.ToLower()) || e.Code.ToLower().Contains(@Model.Filter.ToLower())))
                    {
                        if (jobgroup.Active != 0)
                        {
                            <a asp-page="SimilarList" asp-route-id="@jobgroup.Id">
                                <div class="col-lg-4 col-sm-6">
                                    <figure class="thumbnail eqht-trgt" style="vertical-align: top;">
                                        <div class="img-container">
                                            <figcaption class="text-center"><h4 class="h6 mrgn-tp-sm">@(isEnglish ? jobgroup.NameEng : jobgroup.NameFre) (@jobgroup.Code)</h4></figcaption>
                                            <img src="@Url.Content(imagefolder + jobgroup.Code + ".jpg")" alt="" class="img-responsive thumbnail mrgn-bttm-sm" />
                                        </div>
                                    </figure>
                                </div>
                            </a>
                        }
                    }
                }
                else
                {
                    <h4>@Localizer["NoResults"]</h4>
                }
            </form>
        </div>
    </section>

