@page
@inject IViewLocalizer Localizer
@model Web.Pages.Candidate.Shoreside.AllCandidateShoresideModel
@{
    ViewData["Title"] = Localizer["title"];
    var isEnglish = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en";
}
<section role="contentinfo">
    <nav role="navigation" id="wb-bc" property="breadcrumb">
        <h2 class="wb-inv">
            @Localizer["You are here:"]
        </h2>
        <div class="row">
            <ol class="breadcrumb">
                <li><a asp-page="../../Index">@Localizer["Home"]</a></li>
                <li><a asp-page="../Index">@Localizer["Candidate"]</a></li>
                <li><a class="breadcrumb-item active" aria-current="page">@Localizer["Shoreside"]</a></li>
            </ol>
        </div>
    </nav>
    <nav role="navigation">
        <h2 class="wb-inv">Document navigation</h2>
        <ul class="pager">
            <li class="previous"><a class="btn btn-default" type="button" rel="prev" asp-page="../Index">@Localizer["Previous"]</a></li>
        </ul>
    </nav>

    <div class="cct-shoreside-img cct-shoreside-hide-mobile cct-shoreside-hide-tablet">
        <div class="container">
            <div class="row mrgn-bttm-lg">
                <div class="col-md-7">
                    <h2 class="mrgn-bttm-lg">@Localizer["AllPositions"]</h2>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <form>
        <div class="row">
            <div class="col-sm-12 mrgn-tp-lg">
                <ul>

                    @if (Model.JobGroups.Any(e => Model.Filter == null || e.NameEng.ToLower().Contains(@Model.Filter.ToLower()) || e.NameFre.ToLower().Contains(@Model.Filter.ToLower()) || e.Code.ToLower().Contains(@Model.Filter.ToLower())))
                    {
                        @foreach (var jobgroup in Model.JobGroups.Where(e => Model.Filter == null || e.NameEng.ToLower().Contains(@Model.Filter.ToLower()) || e.NameFre.ToLower().Contains(@Model.Filter.ToLower()) || e.Code.ToLower().Contains(@Model.Filter.ToLower())))
                        {
                            if (jobgroup.Active != 0)
                            {
                                <li class="col-sm-6">
                                    <a style="text-decoration:none" asp-page="SimilarList" asp-route-id="@jobgroup.Id">@(isEnglish ? jobgroup.NameEng : jobgroup.NameFre) (@jobgroup.Code)</a>
                                </li>

                            }
                        }
                    }
                    else
                    {
                        <h4>@Localizer["NoResults"]</h4>
                    }
                </ul>
            </div>
        </div>
    </form>
</section>

