@page
@model Web.Pages.Candidate.Shoreside.SimilarListModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["title"];
    var isEnglish = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en";
    var countmessage = Model.Positions.Length != 1 ? "POSITIONS" : "POSITION";
}
    <section role="contentinfo">
        <nav role="navigation" id="wb-bc" property="breadcrumb">
            <h2>
                @Localizer["You are here:"]
            </h2>
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="../../Homepage">@Localizer["Home"]</a></li>
                    <li><a href="../Index">@Localizer["Candidate"]</a></li>
                    <li><a href="AllCandidateShoreside">@Localizer["Shoreside"]</a></li>
                    <li><a class="breadcrumb-item active" aria-current="page">@Localizer["Position List"]</a></li>
                </ol>
            </div>
        </nav>
        <div class="mrgn-tp-md">
            <a target="_blank" title="@Localizer["save"]" href="@Url.Action("SimilarListCandidate","ToPdf", new { id = Model.PositionIds, language = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName})"><span class="glyphicon glyphicon-save-file pull-right" alt="@Localizer["save"]"></span> </a>
            <nav role="navigation">
                <h2 class="wb-inv">Document navigation</h2>
                <ul class="pager">
                    <li class="previous"><a class="btn btn-default" type="button" rel="prev" asp-page="AllCandidateShoreside">@Localizer["Previous"]</a></li>
                </ul>
            </nav>
        </div>
        <div class="mrgn-tp-sm">
            <h3 class="text-center">@(isEnglish ? Model.JobGroup.NameEng : Model.JobGroup.NameFre) (@Model.JobGroup.Code)</h3>
            <h5>@Model.Positions.Length @Localizer[countmessage]</h5>
            <table class="table table-hover table-responsive table-bordered">
                <thead>
                    <tr>
                        <th class="bg-primary" width="12%">@Localizer["LEVEL"]</th>
                        <th class="bg-primary" width="75%">@Localizer["POSITION"]</th>
                        <th class="bg-primary" width="13%"></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var position in Model.Positions.Where(e => e.Active != 0))
                    {
                        var routedata = new Dictionary<string, string>
                             {
                    {"previouspage", "SimilarList" },
                    {"id", Model.Id },
                    {"positionid",  position.JobTitleId.ToString()},
                 };

                        <tr>
                            <td>@position.LevelCode</td>
                            <td>@(isEnglish? position.JobTitleEng: position.JobTitleFre)</td>
                            <td><a asp-page="SimilarDetails" asp-all-route-data="@routedata" role="button">@Localizer["More Details"]</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>