@page
@model Web.Pages.FaqsModel
@{
    @inject IViewLocalizer Localizer
    ViewData["Title"] = "FAQs";

}

<h1>@Localizer["Title"]</h1>
<ul class="list-unstyled">
    <li>
        <details>
            <summary><p><b>@Localizer["Q1"] </b></p></summary>
            <p>@Localizer["A1"]</p>
        </details>
    </li>
    <li>
        <details>
            <summary><p><b>@Localizer["Q2"] </b></p></summary>
            <p>@Localizer["A2"]</p>
        </details>
    </li>
    <li>
        <details>
            <summary><p><b>@Localizer["Q3"] </b></p></summary>
            <p>@Localizer["A3"]</p>
        </details>
    </li>
    <li>
        <details>
            <summary><p><b>@Localizer["Q4"] </b></p></summary>
            <p>@Localizer["A4"]</p>
        </details>
    </li>
    <li>
        <details>
            <summary><p><b>@Localizer["Q5"] </b></p></summary>
            <p>@Localizer["A5"]</p>
        </details>
    </li>
    <li>
        <details>
            <summary><p><b>@Localizer["Q6"] </b></p></summary>
            <p>@Localizer["A6"]</p>
        </details>
    </li>
    <li>
        <details>
            <summary><p><b>@Localizer["Q7"] </b></p></summary>
            <p>@Localizer["A7"]</p>
        </details>
    </li>
    <li>
        <details>
            <summary><p><b>@Localizer["Q8"] </b></p></summary>
            <p>@Localizer["A8"]</p>
        </details>
    </li>
    <li>
        <details>
            <summary><p><b>@Localizer["Q9"] </b></p></summary>
            <p>@Localizer["A9"]</p>
        </details>
    </li>
    <li>
        <details>
            <summary><p><b>@Localizer["Q10"] </b></p></summary>
            <p>@Localizer["A10"]</p>
        </details>
    </li>
    <li>
        <details>
            <summary><p><b>@Localizer["Q11"] </b></p></summary>
            <p>@Localizer["A11"]</p>
        </details>
    </li>
    <li>
        <details>
            <summary><p><b>@Localizer["Q12"] </b></p></summary>
            <p>@Localizer["A12"]</p>
        </details>
    </li>
    <li>
        <details>
            <summary><p><b>@Localizer["Q13"] </b></p></summary>
            <p>@Localizer["A13"]</p>
        </details>
    </li>
    <li>
        <details>
            <summary><p><b>@Localizer["Q14"] </b></p></summary>
            <p>@Localizer["A14"]</p>
        </details>
    </li>
    <li>
        <details>
            <summary><p><b>@Localizer["Q15"] </b></p></summary>
            <p>@Localizer["A15"]</p>
        </details>
    </li>
    <li>
        <details>
            <summary><p><b>@Localizer["Q16"] </b></p></summary>
            <p>@Localizer["A16"]</p>
        </details>
    </li>
    <li>
        <details>
            <summary><p><b>@Localizer["Q17"] </b></p></summary>
            <p>@Localizer["A17"]</p>
        </details>
    </li>
    <li>
        <details>
            <summary><p><b>@Localizer["Q18"] </b></p></summary>
            <p>@Localizer["A18"]</p>
        </details>
    </li>
    <li>
        <details>
            <summary><p><b>@Localizer["Q19"] </b></p></summary>
            <p>@Localizer["A19"]</p>
        </details>
    </li>
</ul>