@page
@model Web.Pages.FeedbackModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Feedback"];
}

<nav id="wb-bc" property="breadcrumb" aria-labelledby="breadcrumbPosition">
    <h2 id="breadcrumbPosition">You are here:</h2>
    <div class="container">
        <ol class="breadcrumb">
            <li><a asp-page="Index">@Localizer["Home"]</a></li>
            <li><a class="breadcrumb-item active" aria-current="page">@Localizer["Title"]</a></li>
        </ol>
    </div>
</nav>
<section role="contentinfo">
    <h1 id="wb-cont">@Localizer["Title"]</h1>
    <div class="col-lg-9 col-sm-9">
        <p class="mrgn-tp-md">@Localizer["para1"]</p>
        <p>@Localizer["para2"]</p>
    </div>
    <div class="col-lg-3 col-sm-3">
        <figure>
            <img src="~/img/ForceGen-logo.png" class="img-responsive" />
        </figure>
    </div>
</section>


