@page "/fetchdata"
@inject IStringLocalizer<FetchData> Localizer

@using Web.Data
@inject ClassificationService ClassificationService

<Title>@Localizer["Classifications"] - @Resources.Shared.Wet.AppTitle</Title>
<Meta Property="ogp:title" Content="@Localizer["Classifications"]" />

<h2>@Localizer["Classifications"]</h2>

<p>@Localizer["This component demonstrates fetching data from a service."]</p>

@if (_classifications == null)
{
    <p><em>@Localizer["Loading..."]</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@Localizer["Id"]</th>
                <th>@Localizer["Code"]</th>
                <th>@Localizer["Desc Eng"]</th>
                <th>@Localizer["Desc Fre"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var classification in _classifications)
            {
                <tr>
                    <td>@classification.Id</td>
                    <td>@classification.Code</td>
                    <td>@classification.DescEng</td>
                    <td>@classification.DescFre</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Classification[] _classifications;

    protected override async Task OnInitializedAsync()
    {
        _classifications = await ClassificationService.GetClassifications();
    }
}
