@page
@model Web.Pages.IndexModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home";
}
<nav role="navigation" id="wb-bc" property="breadcrumb">
    <h2>
        @Localizer["You are here:"]
    </h2>
    <div class="row">
        <ol class="breadcrumb">
            <li><a class="breadcrumb-item active" aria-current="page">@Localizer["Home"]</a></li>
        </ol>
    </div>
</nav>
<div class="text-left">
    <h1 class="display-4">@Localizer["IndexTitle"]</h1>
    <p>@Localizer["WelcomeText"]</p>
</div>

<div class="text-left">
    <h2><b>@Localizer["Question1"]</b></h2>
</div>

<div class="container">
    <div class="row">
        <a asp-page="CCGMember/AllPositions">
            <div class="col-md-4 col-sm-6">
                <img src="~/img/CCG-employee.png" alt="@Localizer["PhotoMember"]" class="img-responsive center" />
                <h3 style="text-align:center">@Localizer["CCGMember"]</h3>
            </div>
        </a>
        <a asp-page="Candidate/Index">
            <div class="col-md-4 col-sm-6">
                <img src="~/img/external candidates.png" alt="@Localizer["PhotoExternal"]" class="img-responsive" />
                <h3 style="text-align:center">@Localizer["ExternalCandidate"]</h3>
            </div>
        </a>
        <a asp-page="Student/Index">
            <div class="col-md-4 col-sm-6">
                <img src="~/img/Students.png" alt="@Localizer["PhotoStudents"]" class="img-responsive" />
                <h3 style="text-align:center">@Localizer["Student"]</h3>
            </div>
        </a>
    </div>
</div>