@page ""
@model IndexModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Welcome"];
}


@section Breadcrumbs {

    <li>@Localizer["Welcome"]</li>
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Code</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var classification in Model.Classifications)
        {
        <tr>
            <td>@classification.Id</td>
            <td>@classification.Code</td>
            <td>@classification.DescEng</td>
        </tr>
        }
    </tbody>
</table>

<a asp-page="/Privacy">Privacy</a>