@page
@model Web.Pages.IndexModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home";
}
<nav role="navigation" id="wb-bc" property="breadcrumb">
    <h2>
        @Localizer["You are here:"]
    </h2>
    <div class="row">
        <ol class="breadcrumb">
            <li><a class="breadcrumb-item active" aria-current="page">@Localizer["Home"]</a></li>
        </ol>
    </div>
</nav>
<div class="text-left">
    <h1 class="display-4">@Localizer["IndexTitle"]</h1>
    <p>@Localizer["WelcomeText"]</p>
</div>

<div class="text-left">
    <h2><b>@Localizer["Question1"]</b></h2>
</div>

<div class="container">
    <div class="row">
        

        <div class="col-md-4 col-sm-6">
            <figure>
                <a alt="@Localizer["searchmember"]" style="text-decoration:none" asp-page="CCGMember/AllPositions">
                    <figcaption><h3 style="text-align:center">@Localizer["CCGMember"]</h3></figcaption>
                        <img src="~/img/CCG-employee.png" alt="@Localizer["PhotoMember"]" class="img-responsive center" />
                </a>
            </figure>
        </div>
        
        
        <div class="col-md-4 col-sm-6">
            <figure>
                <a alt="@Localizer["searchexternal"]" style="text-decoration:none" asp-page="Candidate/Index">
                    <figcaption><h3 style="text-align:center">@Localizer["ExternalCandidate"]</h3></figcaption>
                        <img src="~/img/external candidates.png" alt="@Localizer["PhotoExternal"]" class="img-responsive" />
                </a>
            </figure>
        </div>
        
        <div class="col-md-4 col-sm-6">
            <figure>
                <a alt="@Localizer["searchstudent"]" style="text-decoration:none" asp-page="Student/Index">
                    <figcaption><h3 style="text-align:center">@Localizer["Student"]</h3></figcaption>
                        <img src="~/img/Students.png" alt="@Localizer["PhotoStudents"]" class="img-responsive" />
                </a>
            </figure>
        </div>
    </div>
</div>