@page
@inject IViewLocalizer Localizer;
@model Web.Pages.CCGMember.Similar.SimilarDetailsModel
@{
    var isEnglish = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en";
    var routedata = new Dictionary<string, string>
    {
        {"positionid" , Model.PositionId.ToString()},
        {"objectiveid",  Model.ObjectiveId.ToString()},
        {"id", Model.Id.ToString() },
        {"level", Model.Level.ToString() },
        {"levelObj", Model.LevelObj },
        {"pagesubmit", "true" },
        {"samelevels" , Model.SameLevels},
        {"higherlevels", Model.HigherLevels },
        {"certificates", Model.Certificates },
        {"sameorhigherlevels", Model.SameOrHigherLevels },
        {"addedcompetencies",Model.AddedCompetencies},
        {"requiredcompetencies", Model.RequiredCompetencies },
        {"percentmatch", Model.PercentMatch },
        {"previouspagesimilar", Model.PreviousPageSimilar },
        {"previouspagedetails", Model.PreviousPageDetails },
        {"previouspage", Model.PreviousPage},
        {"previouspagedelta", "../Similar/SimilarDetails" }

    };
    var routedataprevious = new Dictionary<string, string>
{
        {"positionid", Model.PositionId.ToString()},
        {"id", Model.Id.ToString() },
        {"level", Model.Level.ToString() },
        {"pagesubmit", "true" },
        {"samelevels" , Model.SameLevels},
        {"higherlevels", Model.HigherLevels },
        {"certificates", Model.Certificates },
        {"sameorhigherlevels", Model.SameOrHigherLevels },
        {"addedcompetencies",Model.AddedCompetencies},
        {"requiredcompetencies", Model.RequiredCompetencies },
        {"percentmatch", Model.PercentMatch },
        {"previouspagesimilar", Model.PreviousPageSimilar },
        {"previouspagedetails", Model.PreviousPageDetails },
        {"previouspage", Model.PreviousPage}
};

}
    <section role="contentinfo">
        <form method="post">

            <div class="col-md-6 mrgn-tp-md mrgn-bttm-md pull-right">
                <a href="@Url.Action("PositionDetails","ToPdf", new { id = Model.Position.JobTitleId, language = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName})"><span class="glyphicon glyphicon-print pull-right mrgn-lft-md" alt="@Localizer["print"]" alt="@Localizer["print"]"></span> </a>
                <a href="@Url.Action("PositionDetails","ToPdf", new { id = Model.Position.JobTitleId, language = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName})"><span class="glyphicon glyphicon-save pull-right" alt="@Localizer["save"]" alt="@Localizer["save"]"></span> </a>
            </div>

        </form>

        <div class="row mrgn-tp-md">
            <a class="btn btn-primary pull-left mrgn-lft-md" type="button" asp-page="../Compare/Delta" asp-all-route-data="@routedata">@Localizer["Compare"]</a>
        </div>
        <table class="table table-hover table-bordered mrgn-tp-lg" width="100%" border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th class="bg-primary" colspan="2">@Localizer["POSITION DETAILS"]: @Model.Position.JobGroupCode-@Model.Position.JobGroupLevelValue @(isEnglish ? Model.Position.JobTitleEng : Model.Position.JobTitleFre)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th style="background-color:#f2f2f2" colspan="2">@Localizer["CERTIFICATIONS"]</th>
                </tr>

                @if (Model.PositionCertificates.Any())
                {
                    @foreach (var c in Model.PositionCertificates)
                    {
                        var key = "c" + c.Id.ToString();
                        <tr>
                            <td colspan="2">@(isEnglish ? c.NameEng : c.NameFre) @(isEnglish ? c.DescEng : c.DescFre)</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="2">@Localizer["No Certifications"]</td>
                    </tr>
                }
                @if (Model.PositionCompetencyRatings.Any())
                {
                    @foreach (var competencytype in Model.PositionCompetencyRatings)
                    {
                        if (competencytype.Any())
                        {
                            <tr>
                                <th style="background-color:#f2f2f2" width="80%"> @(isEnglish ? competencytype.FirstOrDefault()?.TypeNameEng.ToUpper() : competencytype.FirstOrDefault()?.TypeNameFre.ToUpper())</th>
                                <th style="background-color:#f2f2f2" class="text-center" width="20%">@Localizer["LEVEL"]</th>
                            </tr>

                            foreach (var c in competencytype)
                            {
                                var key1 = "a" + c.CompetencyId.ToString();
                                var key2 = "b" + c.CompetencyId.ToString();
                                <tr>
                                    <td>
                                        <a href="#@key1" aria-controls="centred-popup" class="wb-lbx" role="button">
                                            @(isEnglish ? c.CompetencyNameEng : c.CompetencyNameFre)
                                        </a>
                                        <section id="@key1" class="mfp-hide modal-dialog modal-content overlay-def">
                                            <header class="modal-header">
                                                <h2 class="modal-title">@(isEnglish ? c.CompetencyNameEng : c.CompetencyNameFre)</h2>
                                            </header>
                                            <div class="modal-body ">
                                                <p>@(isEnglish ? c.CompetencyDescEng : c.CompetencyDescFre)</p>
                                                <button class="btn btn-primary popup-modal-dismiss" type="button">@Localizer["Close"]</button>
                                            </div>
                                        </section>
                                    </td>
                                    <td class="text-center">
                                        <a href="#@key2" aria-controls="centred-popup" class="wb-lbx">
                                            <abbr title="Level @c.RatingValue Summary">
                                                @c.RatingValue
                                            </abbr>
                                        </a>
                                        <section id="@key2" class="mfp-hide modal-dialog modal-content overlay-def">
                                            <header class="modal-header">
                                                <h2 class="modal-title">@Localizer["Position Level"]: @c.RatingValue</h2>
                                            </header>
                                            <div class="modal-body ">
                                                <p>@(isEnglish ? c.RatingNameEng : c.RatingNameFre) @(isEnglish ? c.RatingDescEng : c.RatingDescFre)</p>
                                                <p>@(isEnglish ? c.CompetencyLevelReqDescEng : c.CompetencyLevelReqDescFre)<p>
                                                    <button class="btn btn-primary popup-modal-dismiss" type="button">@Localizer["Close"]</button>
                                            </div>
                                        </section>
                                    </td>
                                </tr>
                            }
                        }
                    }
                }
            </tbody>
        </table>
        <div class="row mrgn-tp-md">
            <nav role="navigation" class="mrgn-bttm-lg">
                <h2 class="wb-inv">Document navigation</h2>
                <ul class="pager">
                    <li class="previous"><a class="btn btn-default mrgn-lft-md" rel="prev" asp-page="SimilarList" asp-all-route-data="routedataprevious">@Localizer["Previous"]</a></li>
                </ul>
            </nav>
        </div>
    </section>

