@inject Web.Data.JobPositionService _jobpositionService
@using System.Resources;
@{
    Layout = "_ThemePdf";
}
@{
    ResourceManager pdfTranslations = Web.Resources.PDFviews.ResourceManager;
    var isEnglish = ViewData["Language"].ToString() == "en";
    var shoresidePositions = await _jobpositionService.GetJobPositionByIdValues(ViewData["shoresideId"].ToString());
    var seagoingPositions = await _jobpositionService.GetJobPositionByIdValues(ViewData["seagoingId"].ToString());
}

<div class="mrgn-tp-lg">
    @if (seagoingPositions.Any(e => e.Active != 0))
    {
        <h3 class="text-center">@(isEnglish ? pdfTranslations.GetString("positionResults") : pdfTranslations.GetString("positionResultsFr"))</h3>
        <table class="table table-hover table-responsive table-bordered">
            <tbody>
                <tr>
                    <td class="bg-primary" width="25%">@(isEnglish ? pdfTranslations.GetString("level") : pdfTranslations.GetString("levelFr"))</td>
                    <td class="bg-primary" width="75%">@(isEnglish ? pdfTranslations.GetString("position") : pdfTranslations.GetString("positionFr"))</td>
                </tr>

                @foreach (var position in seagoingPositions.Where(e => e.Active != 0))
                {
                    <tr>
                        <td>@position.LevelCode</td>
                        <td>@(isEnglish ? position.JobTitleEng : position.JobTitleFre)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3 class="text-center">@(isEnglish ? pdfTranslations.GetString("positionResults") : pdfTranslations.GetString("positionResultsFr"))</h3>
        <table class="table table-hover table-responsive table-bordered">
            <tbody>
                <tr>
                    <td class="bg-primary" width="25%">@(isEnglish ? pdfTranslations.GetString("level") : pdfTranslations.GetString("levelFr"))</td>
                    <td class="bg-primary" width="75%">@(isEnglish ? pdfTranslations.GetString("position") : pdfTranslations.GetString("positionFr"))</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@(isEnglish ? pdfTranslations.GetString("noSeagoing") : pdfTranslations.GetString("noSeagoingFr"))</td>
                </tr>
            </tbody>
        </table>
    }
</div>
<div class="mrgn-tp-lg">
    @if (shoresidePositions.Any(e => e.Active != 0))
    {
        <h3 class="text-center">@(isEnglish ? pdfTranslations.GetString("positionResults") : pdfTranslations.GetString("positionResultsFr"))</h3>
        <table class="table table-hover table-responsive table-bordered">
            <tbody>
                <tr>
                    <td class="bg-primary" width="25%">@(isEnglish ? pdfTranslations.GetString("level") : pdfTranslations.GetString("levelFr"))</td>
                    <td class="bg-primary" width="75%">@(isEnglish ? pdfTranslations.GetString("position") : pdfTranslations.GetString("positionFr"))</td>
                </tr>

                @foreach (var position in shoresidePositions.Where(e => e.Active != 0))
                {
                    <tr>
                        <td>@position.LevelCode</td>
                        <td>@(isEnglish ? position.JobTitleEng : position.JobTitleFre)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3 class="text-center">@(isEnglish ? pdfTranslations.GetString("positionResults") : pdfTranslations.GetString("positionResultsFr"))</h3>
        <table class="table table-hover table-responsive table-bordered">
            <tbody>
                <tr>
                    <td class="bg-primary" width="25%">@(isEnglish ? pdfTranslations.GetString("level") : pdfTranslations.GetString("levelFr"))</td>
                    <td class="bg-primary" width="75%">@(isEnglish ? pdfTranslations.GetString("position") : pdfTranslations.GetString("positionFr"))</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@(isEnglish ? pdfTranslations.GetString("noShoreside") : pdfTranslations.GetString("noShoresideFr"))</td>
                </tr>
            </tbody>
        </table>
    }
</div>
