@page
@model Admin.Pages.Positions.CreateModel

@{
    var isEnglish = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en";
    ViewData["Title"] = "Edit";
    var routedata = new Dictionary<string, string> {
        {"id", Model.Id.ToString() },
        {"titleeng",Model.TitleEng },
        {"titlefre",Model.TitleFre },
        {"levelcode", Model.LevelCode },
        {"levelvalue", Model.LevelValue },
        {"jobhlcategory", Model.JobHLCategory },
        {"regionids", Model.RegionIds },
        {"subjobgroupId" , Model.SubJobGroupId.ToString() },
        {"jobgrouplevelid", Model.JobGroupLevelId.ToString() },
        { "jobgroupid",Model.JobGroupId.ToString() },
        {"addedcertificateids", Model.AddedCertificateIds },
        {"addedknowledgecompetencyids", Model.AddedKnowledgeCompetencyIds },
        {"addedtechnicalcompetencyids", Model.AddedTechnicalCompetencyIds },
        {"addedbehaviouralcompetencyids", Model.AddedBehaviouralCompetencyIds },
        {"addedexecutivecompetencyids", Model.AddedExecutiveCompetencyIds },
    };
    var routedataknow = new Dictionary<string, string> {
        {"id", Model.Id.ToString() },
        {"titleeng",Model.TitleEng },
        {"titlefre",Model.TitleFre },
        {"levelcode", Model.LevelCode },
        {"levelvalue", Model.LevelValue },
        {"jobhlcategory", Model.JobHLCategory },
        {"regionids", Model.RegionIds },
                {"subjobgroupId" , Model.SubJobGroupId.ToString() },
        {"jobgrouplevelid", Model.JobGroupLevelId.ToString() },
        {"jobgroupid",Model.JobGroupId.ToString() },
        {"addedcertificateids", Model.AddedCertificateIds },
        {"addedknowledgecompetencyids", Model.AddedKnowledgeCompetencyIds },
        {"addedtechnicalcompetencyids", Model.AddedTechnicalCompetencyIds },
        {"addedbehaviouralcompetencyids", Model.AddedBehaviouralCompetencyIds },
        {"addedexecutivecompetencyids", Model.AddedExecutiveCompetencyIds },
        {"competencytypename", "knowledge" }
    };
    var routedatatech = new Dictionary<string, string> {
        {"id", Model.Id.ToString() },
        {"titleeng",Model.TitleEng },
        {"titlefre",Model.TitleFre },
        {"levelcode", Model.LevelCode },
        {"levelvalue", Model.LevelValue },
        {"regionids", Model.RegionIds },
        {"jobhlcategory", Model.JobHLCategory },
        {"jobgroupid",Model.JobGroupId.ToString() },
                {"subjobgroupId" , Model.SubJobGroupId.ToString() },
        {"jobgrouplevelid", Model.JobGroupLevelId.ToString() },
        {"addedcertificateids", Model.AddedCertificateIds },
        {"addedknowledgecompetencyids", Model.AddedKnowledgeCompetencyIds },
        {"addedtechnicalcompetencyids", Model.AddedTechnicalCompetencyIds },
        {"addedbehaviouralcompetencyids", Model.AddedBehaviouralCompetencyIds },
        {"addedexecutivecompetencyids", Model.AddedExecutiveCompetencyIds },
        {"competencytypename", "technical" }
    };
    var routedatabehav = new Dictionary<string, string> {
        {"id", Model.Id.ToString() },
        {"titleeng",Model.TitleEng },
        {"titlefre",Model.TitleFre },
        {"levelcode", Model.LevelCode },
        {"levelvalue", Model.LevelValue },
        {"regionids", Model.RegionIds },
        {"jobhlcategory", Model.JobHLCategory },
                {"subjobgroupId" , Model.SubJobGroupId.ToString() },
        {"jobgrouplevelid", Model.JobGroupLevelId.ToString() },
        {"jobgroupid",Model.JobGroupId.ToString() },
        {"addedcertificateids", Model.AddedCertificateIds },
        {"addedknowledgecompetencyids", Model.AddedKnowledgeCompetencyIds },
        {"addedtechnicalcompetencyids", Model.AddedTechnicalCompetencyIds },
        {"addedbehaviouralcompetencyids", Model.AddedBehaviouralCompetencyIds },
        {"addedexecutivecompetencyids", Model.AddedExecutiveCompetencyIds },
        {"competencytypename", "behavioural" }
    };
    var routedataexec = new Dictionary<string, string> {
        {"id", Model.Id.ToString() },
        {"titleeng",Model.TitleEng },
        {"titlefre",Model.TitleFre },
        {"levelcode", Model.LevelCode },
        {"levelvalue", Model.LevelValue },
        {"regionids", Model.RegionIds },
        {"jobhlcategory", Model.JobHLCategory },
                {"subjobgroupId" , Model.SubJobGroupId.ToString() },
        {"jobgrouplevelid", Model.JobGroupLevelId.ToString() },
        {"jobgroupid",Model.JobGroupId.ToString() },
        {"addedcertificateids", Model.AddedCertificateIds },
        {"addedknowledgecompetencyids", Model.AddedKnowledgeCompetencyIds },
        {"addedtechnicalcompetencyids", Model.AddedTechnicalCompetencyIds },
        {"addedbehaviouralcompetencyids", Model.AddedBehaviouralCompetencyIds },
        {"addedexecutivecompetencyids", Model.AddedExecutiveCompetencyIds },
        {"competencytypename", "executive" }
    };
}

<h1>Create</h1>

<h4>POSITION/POSTE</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="JobPosition.Id" />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="background-color:#f2f2f2">POSITION/POSTE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="form-group m-2">
                                <label class="control-label"><b>Title English</b></label>
                                <textarea class="form-control" name="titleEng" required>@Model.TitleEng</textarea>
                                <span asp-validation-for="JobPosition.TitleEng" class="text-danger"></span>
                            </div>

                            <div class="form-group m-2">
                                <label class="control-label"><b>Title French</b></label>
                                <textarea class="form-control" name="titleFre" required>@Model.TitleFre</textarea>
                                <span asp-validation-for="JobPosition.TitleFre" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="background-color:#f2f2f2">AREA / DOMAINE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="form-group">
                                @if (Model.JobHLCategory == "2" || string.IsNullOrEmpty(Model.JobHLCategory))
                                {<input class="m-3" type="radio" id="Shoreside" name="JobHLCategory" value="2" checked="true">}
                                else
                                { <input class="m-3" type="radio" id="Shoreside" name="JobHLCategory" value="2">}
                                <label class="mr-3" for="Shoreside">Shore side / À terre</label>
                                @if (Model.JobHLCategory == "1")
                                {<input class="m-3" type="radio" id="Shoreside" name="JobHLCategory" value="1" checked="true">}
                                else
                                { <input class="m-3" type="radio" id="Shoreside" name="JobHLCategory" value="1">}
                                <label class="mr-3" for="Seagoing">Seagoing / En mer</label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="background-color:#f2f2f2">REGION / RÉGION</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td>

                            <label class="mr-3" for="Shoreside">All Regions / Toutes les régions</label>
                        </td>
                        <!--input class="m-3" type="radio" id="Seagoing" name="JobHLCategory" value="1"-->
                        @if (Model.RegionIds.Split("-").ToList().Contains(7.ToString()))
                        {
                            <td class="text-center"><input name="SelectedRegionIds" value="7" type="checkbox" checked="true" /></td>
                        }
                        else
                        {
                            <td class="text-center"><input name="SelectedRegionIds" value="7" type="checkbox" /></td>
                        }
                    </tr>
                    <tr>

                        <td>

                            <label class="mr-3" for="Shoreside">Atlantic / Atlantique</label>
                        </td>
                        <!--input class="m-3" type="radio" id="Seagoing" name="JobHLCategory" value="1"-->
                        @if (Model.RegionIds.Split("-").ToList().Contains(1.ToString()))
                        {
                            <td class="text-center"><input name="SelectedRegionIds" value="1" type="checkbox" checked="true" /></td>
                        }
                        else
                        {
                            <td class="text-center"><input name="SelectedRegionIds" value="1" type="checkbox" /></td>
                        }
                    </tr>
                    <tr>
                        <td>
                            <label class="mr-3" for="Shoreside">Central / Centre</label>
                        </td>
                        @if (Model.RegionIds.Split("-").ToList().Contains(5.ToString()))
                        {
                            <td class="text-center"><input name="SelectedRegionIds" value="5" type="checkbox" checked="true" /></td>
                        }
                        else
                        {
                            <td class="text-center"><input name="SelectedRegionIds" value="5" type="checkbox" /></td>
                        }
                    </tr>
                    <tr>
                        <td>
                            <label class="mr-3" for="Shoreside">Western / Ouest</label>
                        </td>
                        @if (Model.RegionIds.Split("-").ToList().Contains(2.ToString()))
                        {
                            <td class="text-center"><input name="SelectedRegionIds" value="2" type="checkbox" checked="true" /></td>
                        }
                        else
                        {
                            <td class="text-center"><input name="SelectedRegionIds" value="2" type="checkbox" /></td>
                        }
                    </tr>
                    <tr>
                        <td>
                            <label class="mr-3" for="Shoreside">Arctic / Arctique</label>
                        </td>
                        @if (Model.RegionIds.Split("-").ToList().Contains(3.ToString()))
                        {
                            <td class="text-center"><input name="SelectedRegionIds" value="3" type="checkbox" checked="true" /></td>
                        }
                        else
                        {
                            <td class="text-center"><input name="SelectedRegionIds" value="3" type="checkbox" /></td>
                        }
                    </tr>
                    <tr>
                        <td>
                            <label class="mr-3" for="Shoreside">National Headquarters / Siège national</label>
                        </td>
                        @if (Model.RegionIds.Split("-").ToList().Contains(4.ToString()))
                        {
                            <td class="text-center"><input name="SelectedRegionIds" value="4" type="checkbox" checked="true" /></td>
                        }
                        else
                        {
                            <td class="text-center"><input name="SelectedRegionIds" value="4" type="checkbox" /></td>
                        }
                    </tr>
                    <tr>
                        <td>
                            <label class="mr-3" for="Shoreside">CCG College / Collège de la GCC</label>
                        </td>
                        @if (Model.RegionIds.Split("-").ToList().Contains(6.ToString()))
                        {
                            <td class="text-center"><input name="SelectedRegionIds" value="6" type="checkbox" checked="true" /></td>
                        }
                        else
                        {
                            <td class="text-center"><input name="SelectedRegionIds" value="6" type="checkbox" /></td>
                        }
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="background-color:#f2f2f2">CLASSIFICATION & LEVEL / CLASSIFICATION ET NIVEAU</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="dropdown col-8 m-1">
                                    <label class="control-label"><b>Classification</b></label><br />


                                    <button class="form-control dropdown-toggle mrgn-bttm-md" id="menu1" type="button" data-toggle="dropdown">
                                        (@Model.CurrentSelectedJobGroup.Code) @Model.CurrentSelectedJobGroup.NameEng / @Model.CurrentSelectedJobGroup.NameFre

                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                        @foreach (var jobgroup in Model.JobGroups)
                                        {
                                            var routedatagroup = new Dictionary<string, string> {
                                                        {"id", Model.Id.ToString() },
                                                        {"titleeng",Model.TitleEng },
                                                        {"titlefre",Model.TitleFre },
                                                        {"levelcode", Model.LevelCode },
                                                        {"levelvalue", Model.LevelValue },
                                                        {"regionids", Model.RegionIds },
                                                        {"subjobgroupId" , Model.SubJobGroupId.ToString() },
                                                        {"jobgrouplevelid", Model.JobGroupLevelId.ToString() },
                                                        {"jobgroupid",jobgroup.Id.ToString() },
                                                        {"jobhlcategory", Model.JobHLCategory },
                                                        {"addedcertificateids", Model.AddedCertificateIds },
                                                        {"addedknowledgecompetencyids", Model.AddedKnowledgeCompetencyIds },
                                                        {"addedtechnicalcompetencyids", Model.AddedTechnicalCompetencyIds },
                                                        {"addedbehaviouralcompetencyids", Model.AddedBehaviouralCompetencyIds },
                                                        {"addedexecutivecompetencyids", Model.AddedExecutiveCompetencyIds },
    };
                                <li role="presentation">
                                    <button class="btn btn-light" asp-page-handler="group" asp-all-route-data="routedatagroup">
                                        (@jobgroup.Code) @jobgroup.NameEng / @jobgroup.NameFre
                                    </button>
                                </li>
                            }
                                    </ul>
                                </div>
                                <div class="dropdown col-3 m-1">
                                    <label class="control-label"><b>Level/Niveau</b></label><br />

                                                                                            <select class="form-control dropdown-toggle mrgn-bttm-md" id="class" name="LevelValue">
                                                                                                @if (Model.JobGroupPositions.Select(e => e.LevelCode).ToList().Distinct().Contains(Model.LevelCode))
                                                                                                {
                                                                                                    <option value = "@Model.SubJobGroupId/@Model.JobGroupLevelId/@Model.LevelCode" selected>@Model.LevelCode</option>
                                                                                                }

                                                                                                @foreach (var level in Model.JobGroupPositions.ToList().Distinct())
                                                                                                {
                                                                                                    <option value="@level.SubJobGroupId/@level.LevelId/@level.LevelCode">
                                                                                                        @level.LevelCode
                                                                                                    </option>
                                                                                                }
                                                                                            </select>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="background-color:#f2f2f2">
                            <div class="row">
                                <div class="col-9 m-auto">
                                    CERTIFICATIONS / ATTESTATIONS
                                </div>
                                <div class="col-3 text-right">
                                    <!-- Button trigger modal add certificate -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addcert">
                                        ADD
                                    </button>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <!-- Modal Add Certificate -->
                            <div class="modal fade bd-modal-xl" id="addcert" tabindex="-1" role="dialog" aria-labelledby="addcert" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="Title">ADD A CERTIFICATE</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="card-body" style="background-color:#f2f2f2;">
                                                <div class="mb-3">
                                                    <label class="control-label"><b>Certificates</b></label><br />
                                                    <select class="form-control dropdown-toggle mrgn-bttm-md" id="class" name="certificate" required>
                                                        @foreach (var certificate in Model.JobCertificates)
                                                        {
                                                            <option value="@certificate.Id">@certificate.NameEng / @certificate.NameFre</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="control-label"><b>Description</b></label><br />
                                                                                                           <select class="form-control dropdown-toggle mrgn-bttm-md" id="class" name="CertificateDescriptionId" required>
                                                                                                               @foreach (var certificate in Model.JobCertificateDescriptions)
                                                                                                               {
                                                                                                                   <option value="@certificate.Id">@certificate.DescEng / @certificate.DescFre</option>
                                                                                                               }
                                                                                                           </select>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button class="btn btn-primary" asp-page-handler="certificate" asp-all-route-data="@routedata">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @foreach (var certificate in Model.AddedCertificates)
                            {
                                <div class="row">
                                    <div class="col-6">
                                        <div class="accordion" id="compOne">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                @certificate.NameEng / @certificate.NameFre
                                            </button>
                                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#compOne">
                                                <div class="card-body">
                                                    <p>
                                                        <b>English Description</b><br />
                                                        @certificate.DescEng
                                                    </p>
                                                    <p>
                                                        <b>French Description</b><br />
                                                        @certificate.DescFre
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-3 text-right">
                                        <!-- Button trigger modal edit competency -->
                                        @{
                                        var routedataremove = new Dictionary<string, string> {
                                        {"id", Model.Id.ToString() },
                                        {"titleeng",Model.TitleEng },
                                        {"titlefre",Model.TitleFre },
                                        {"levelcode", Model.LevelCode },
                                        {"levelvalue", Model.LevelValue },
                                        {"regionids", Model.RegionIds },
                                        {"subjobgroupId" , Model.SubJobGroupId.ToString() },
                                        {"jobgrouplevelid", Model.JobGroupLevelId.ToString() },
                                        {"jobgroupid", Model.JobGroupId.ToString() },
                                        {"jobhlcategory", Model.JobHLCategory },
                                        {"addedcertificateids", Model.AddedCertificateIds },
                                        {"addedknowledgecompetencyids", Model.AddedKnowledgeCompetencyIds },
                                        {"addedtechnicalcompetencyids", Model.AddedTechnicalCompetencyIds },
                                        {"addedbehaviouralcompetencyids", Model.AddedBehaviouralCompetencyIds },
                                        {"addedexecutivecompetencyids", Model.AddedExecutiveCompetencyIds },
                                        {"certificateId", certificate.Id.ToString() },

                                };
                                        }
                                        <button class="btn btn-link" asp-page-handler="deletecertificate" asp-all-route-data="@routedataremove">REMOVE</button>
                                    </div>
                                </div>

                            }
                            <!--div class="row">
                                <div class="col-9 m-auto">No Certifications / Aucun certificat associées</div>
                                <div class="col-3">
                                    <div class="text-right">
                                        <Button trigger modal edit certificate>
                                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#editcert">
                                            EDIT
                                        </button>
                                        |
                                        <button class="btn btn-link" type="button">
                                            REMOVE
                                        </button>
                                    </div>
                                </div>
                            </div-->
                            <!-- Modal Edit Certificate -->
                            <!-- End Modal Edit Certificate -->
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered">
                <tr>
                    <th colspan="3" style="background-color:#f2f2f2">
                        <div class="row">
                            <div class="col-6 m-auto">
                                KNOWLEDGE ELEMENTS / ÉLÉMENTS DE CONNAISSANCE
                            </div>
                            <div class="col-3 text-center m-auto">
                                LEVEL / NIVEAU
                            </div>
                            <div class="col-3 text-right">
                                <!-- Button trigger modal add knowledge -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addknow">
                                    ADD
                                </button>
                            </div>
                        </div>
                    </th>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="modal fade bd-modal-xl" id="addknow" tabindex="-1" role="dialog" aria-labelledby="addknow" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="Title">ADD A KNOWLEDGE ELEMENT</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card-body" style="background-color:#f2f2f2;">
                                            <div class="row">
                                                <div class="col-9 mb-3">
                                                    <label class="control-label"><b>Knowledge Elements / Éléments de connaissance</b></label><br />


                                                    <select class="form-control dropdown-toggle mrgn-bttm-md" id="class" name="knowledgeCompetency">
                                                        @foreach (var competency in Model.JobCompetenciesKnowledge)
                                                        {
                                                            if (!Model.AddedKnowledgeCompetencies.Any(e => e.CompetencyId == competency.Id))
                                                            {
                                                                <option value="@competency.Id">@(isEnglish ? competency.NameEng : competency.NameFre)</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-2 mb-3">
                                                    <label class="control-label"><b>Level</b></label><br />
                                                    <select class="form-control dropdown-toggle mrgn-bttm-md" id="class" name="knowledgeLevel">
                                                        <option value="1">01</option>
                                                        <option value="2">02</option>
                                                        <option value="3">03</option>
                                                        <option value="4">04</option>
                                                        <option value="5">05</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button class="btn btn-primary text-left" asp-page-handler="competency" asp-all-route-data="@routedataknow">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @foreach (var competency in Model.AddedKnowledgeCompetencies)
                        {
                            <div class="row">
                                <div class="col-6">
                                    <div class="accordion" id="compOne">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            @competency.CompetencyNameEng / @competency.CompetencyNameFre
                                        </button>
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#compOne">
                                            <div class="card-body">
                                                <p>
                                                    <b>English Description</b><br />
                                                    @competency.CompetencyDescEng
                                                </p>
                                                <p>
                                                    <b>French Description</b><br />
                                                    @competency.CompetencyDescFre
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 text-center m-auto">
                                    <div class="accordion" id="compOne">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapselevelOne">
                                            @competency.RatingValue
                                        </button>
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#compOne">
                                            <div class="card-body align-text-top text-left">
                                                <p>
                                                    <b>English Description</b><br />
                                                    @competency.RatingNameEng @competency.RatingDescEng
                                                    <br /><br />
                                                    @competency.CompetencyLevelReqDescEng
                                                </p>
                                                <p>
                                                    <b>French Description</b><br />
                                                    @competency.RatingNameFre @competency.RatingDescFre
                                                    <br /><br />
                                                    @competency.CompetencyLevelReqDescFre
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3 text-right">
                                    @{
                                        var routedataremove = new Dictionary<string, string> {
                                        {"id", Model.Id.ToString() },
                                        {"titleeng",Model.TitleEng },
                                        {"titlefre",Model.TitleFre },
                                        {"levelcode", Model.LevelCode },
                                        {"levelvalue", Model.LevelValue },
                                        {"regionids", Model.RegionIds },
                                        {"subjobgroupId" , Model.SubJobGroupId.ToString() },
                                        {"jobgrouplevelid", Model.JobGroupLevelId.ToString() },
                                        {"jobgroupid",Model.JobGroupId.ToString() },
                                        {"addedcertificateids", Model.AddedCertificateIds },
                                        {"addedknowledgecompetencyids", Model.AddedKnowledgeCompetencyIds },
                                        {"addedtechnicalcompetencyids", Model.AddedTechnicalCompetencyIds },
                                        {"addedbehaviouralcompetencyids", Model.AddedBehaviouralCompetencyIds },
                                        {"addedexecutivecompetencyids", Model.AddedExecutiveCompetencyIds },
                                        {"competencyId", competency.CompetencyId.ToString() }
                                };
                                    }
                                    <button class="btn btn-link" asp-page-handler="delete" asp-all-route-data="@routedataremove">REMOVE</button>
                                </div>
                            </div>

                        }
                        <hr />
                    </td>
                </tr>
            </table>

            <table class="table table-bordered">
                <tr>
                    <th colspan="3" style="background-color:#f2f2f2">
                        <div class="row">
                            <div class="col-6 m-auto">
                                TECHNICAL ELEMENTS / ÉLÉMENTS TECHNIQUES
                            </div>
                            <div class="col-3 text-center m-auto">
                                LEVEL / NIVEAU
                            </div>
                            <div class="col-3 text-right">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addtech">
                                    ADD
                                </button>
                            </div>
                        </div>
                    </th>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="modal fade bd-modal-xl" id="addtech" tabindex="-1" role="dialog" aria-labelledby="addtech" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="Title">ADD A TECHNICAL ELEMENT</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card-body" style="background-color:#f2f2f2;">
                                            <div class="row">
                                                <div class="col-9 mb-3">
                                                    <label class="control-label"><b>Technical Elements / Éléments techniques</b></label><br />


                                                    <select class="form-control dropdown-toggle mrgn-bttm-md" id="class" name="technicalCompetency">
                                                        @foreach (var competency in Model.JobCompetenciesTechnical)
                                                        {
                                                            if (!Model.AddedTechnicalCompetencies.Any(e => e.CompetencyId == competency.Id))
                                                            {
                                                                <option value="@competency.Id">@(isEnglish ? competency.NameEng : competency.NameFre)</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-2 mb-3">
                                                    <label class="control-label"><b>Level</b></label><br />
                                                    <select class="form-control dropdown-toggle mrgn-bttm-md" id="class" name="technicalLevel">
                                                        <option value="1">01</option>
                                                        <option value="2">02</option>
                                                        <option value="3">03</option>
                                                        <option value="4">04</option>
                                                        <option value="5">05</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button class="btn btn-primary text-left" asp-page-handler="competency" asp-all-route-data="@routedatatech">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @foreach (var competency in Model.AddedTechnicalCompetencies)
                        {
                            <div class="row">
                                <div class="col-6">
                                    <div class="accordion" id="compOne">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            @competency.CompetencyNameEng / @competency.CompetencyNameFre
                                        </button>
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#compOne">
                                            <div class="card-body">
                                                <p>
                                                    <b>English Description</b><br />
                                                    @competency.CompetencyDescEng
                                                </p>
                                                <p>
                                                    <b>French Description</b><br />
                                                    @competency.CompetencyDescFre
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 text-center m-auto">
                                    <div class="accordion" id="compOne">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapselevelOne">
                                            @competency.RatingValue
                                        </button>
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#compOne">
                                            <div class="card-body align-text-top text-left">
                                                <p>
                                                    <b>English Description</b><br />
                                                    @competency.RatingNameEng @competency.RatingDescEng
                                                    <br /><br />
                                                    @competency.CompetencyLevelReqDescEng
                                                </p>
                                                <p>
                                                    <b>French Description</b><br />
                                                    @competency.RatingNameFre @competency.RatingDescFre
                                                    <br /><br />
                                                    @competency.CompetencyLevelReqDescFre
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3 text-right">
                                    @{
                                        var routedataremove = new Dictionary<string, string> {
                                        {"id", Model.Id.ToString() },
                                        {"titleeng",Model.TitleEng },
                                        {"titlefre",Model.TitleFre },
                                        {"levelcode", Model.LevelCode },
                                        {"levelvalue", Model.LevelValue },
                                        {"regionids", Model.RegionIds },
                                        {"subjobgroupId" , Model.SubJobGroupId.ToString() },
                                        {"jobgrouplevelid", Model.JobGroupLevelId.ToString() },
                                        {"jobgroupid",Model.JobGroupId.ToString() },
                                        {"jobhlcategory", Model.JobHLCategory },
                                        {"addedcertificateids", Model.AddedCertificateIds },
                                        {"addedknowledgecompetencyids", Model.AddedKnowledgeCompetencyIds },
                                        {"addedtechnicalcompetencyids", Model.AddedTechnicalCompetencyIds },
                                        {"addedbehaviouralcompetencyids", Model.AddedBehaviouralCompetencyIds },
                                        {"addedexecutivecompetencyids", Model.AddedExecutiveCompetencyIds },
                                        {"competencyId", competency.CompetencyId.ToString() }
                                };
                                    }
                                    <button class="btn btn-link" asp-page-handler="delete" asp-all-route-data="@routedataremove">REMOVE</button>
                                </div>
                            </div>

                        }
                        <hr />
                    </td>
                </tr>
            </table>
            <table class="table table-bordered">
                <tr>
                    <th colspan="3" style="background-color:#f2f2f2">
                        <div class="row">
                            <div class="col-6 m-auto">
                                BEHAVIOURAL ELEMENTS / ÉLÉMENTS DE COMPORTEMENT
                            </div>
                            <div class="col-3 text-center m-auto">
                                LEVEL / NIVEAU
                            </div>
                            <div class="col-3 text-right">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addbehav">
                                    ADD
                                </button>
                            </div>
                        </div>
                    </th>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="modal fade bd-modal-xl" id="addbehav" tabindex="-1" role="dialog" aria-labelledby="addbehav" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="Title">ADD A BEHAVIOURAL ELEMENT</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card-body" style="background-color:#f2f2f2;">
                                            <div class="row">
                                                <div class="col-9 mb-3">
                                                    <label class="control-label"><b>Behavioural Elements / Éléments de comportement</b></label><br />


                                                    <select class="form-control dropdown-toggle mrgn-bttm-md" id="class" name="behaviouralCompetency">
                                                        @foreach (var competency in Model.JobCompetenciesBehavioural)
                                                        {
                                                            if (!Model.AddedBehaviouralCompetencies.Any(e => e.CompetencyId == competency.Id))
                                                            {
                                                                <option value="@competency.Id">@(isEnglish ? competency.NameEng : competency.NameFre)</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-2 mb-3">
                                                    <label class="control-label"><b>Level</b></label><br />
                                                    <select class="form-control dropdown-toggle mrgn-bttm-md" id="class" name="behaviouralLevel">
                                                        <option value="1">01</option>
                                                        <option value="2">02</option>
                                                        <option value="3">03</option>
                                                        <option value="4">04</option>
                                                        <option value="5">05</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button class="btn btn-primary text-left" asp-page-handler="competency" asp-all-route-data="@routedatabehav">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @foreach (var competency in Model.AddedBehaviouralCompetencies)
                        {
                            <div class="row">
                                <div class="col-6">
                                    <div class="accordion" id="compOne">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            @competency.CompetencyNameEng / @competency.CompetencyNameFre
                                        </button>
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#compOne">
                                            <div class="card-body">
                                                <p>
                                                    <b>English Description</b><br />
                                                    @competency.CompetencyDescEng
                                                </p>
                                                <p>
                                                    <b>French Description</b><br />
                                                    @competency.CompetencyDescFre
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 text-center m-auto">
                                    <div class="accordion" id="compOne">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapselevelOne">
                                            @competency.RatingValue
                                        </button>
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#compOne">
                                            <div class="card-body align-text-top text-left">
                                                <p>
                                                    <b>English Description</b><br />
                                                    @competency.RatingNameEng @competency.RatingDescEng
                                                    <br /><br />
                                                    @competency.CompetencyLevelReqDescEng
                                                </p>
                                                <p>
                                                    <b>French Description</b><br />
                                                    @competency.RatingNameFre @competency.RatingDescFre
                                                    <br /><br />
                                                    @competency.CompetencyLevelReqDescFre
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3 text-right">
                                    @{
                                        var routedataremove = new Dictionary<string, string> {
                                        {"id", Model.Id.ToString() },
                                        {"titleeng",Model.TitleEng },
                                        {"titlefre",Model.TitleFre },
                                        {"levelcode", Model.LevelCode },
                                        {"levelvalue", Model.LevelValue },
                                        {"regionids", Model.RegionIds },
                                        {"subjobgroupId" , Model.SubJobGroupId.ToString() },
                                        {"jobgrouplevelid", Model.JobGroupLevelId.ToString() },
                                        {"jobgroupid",Model.JobGroupId.ToString() },
                                        {"jobhlcategory", Model.JobHLCategory },
                                        {"addedcertificateids", Model.AddedCertificateIds },
                                        {"addedknowledgecompetencyids", Model.AddedKnowledgeCompetencyIds },
                                        {"addedtechnicalcompetencyids", Model.AddedTechnicalCompetencyIds },
                                        {"addedbehaviouralcompetencyids", Model.AddedBehaviouralCompetencyIds },
                                        {"addedexecutivecompetencyids", Model.AddedExecutiveCompetencyIds },
                                        {"competencyId", competency.CompetencyId.ToString() }
                                };
                                    }
                                    <button class="btn btn-link" asp-page-handler="delete" asp-all-route-data="@routedataremove">REMOVE</button>
                                </div>
                            </div>

                        }
                        <hr />
                    </td>
                </tr>
            </table>
            <table class="table table-bordered">
                <tr>
                    <th colspan="3" style="background-color:#f2f2f2">
                        <div class="row">
                            <div class="col-6 m-auto">
                                EXECUTIVE COMPETENCIES / COMPÉTENCES EXÉCUTIVES
                            </div>
                            <div class="col-3 text-center m-auto">
                                LEVEL / NIVEAU
                            </div>
                            <div class="col-3 text-right">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addexec">
                                    ADD
                                </button>
                            </div>
                        </div>
                    </th>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="modal fade bd-modal-xl" id="addexec" tabindex="-1" role="dialog" aria-labelledby="addexec" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="Title">ADD A EXECUTIVE ELEMENT</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card-body" style="background-color:#f2f2f2;">
                                            <div class="row">
                                                <div class="col-9 mb-3">
                                                    <label class="control-label"><b>Executive Elements / Compétences exécutives</b></label><br />


                                                    <select class="form-control dropdown-toggle mrgn-bttm-md" id="class" name="executiveCompetency">
                                                        @foreach (var competency in Model.JobCompetenciesExecutive)                                                        {
                                                            if (!Model.AddedExecutiveCompetencies.Any(e => e.CompetencyId == competency.Id))
                                                            {
                                                                <option value="@competency.Id">@(isEnglish ? competency.NameEng : competency.NameFre)</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-2 mb-3">
                                                    <label class="control-label"><b>Level</b></label><br />
                                                    <select class="form-control dropdown-toggle mrgn-bttm-md" id="class" name="executiveLevel">
                                                        <option value="6">01</option>
                                                        <option value="7">02</option>
                                                        <option value="8">03</option>
                                                        <option value="9">04</option>
                                                        <option value="10">05</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button class="btn btn-primary text-left" asp-page-handler="competency" asp-all-route-data="@routedataexec">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @foreach (var competency in Model.AddedExecutiveCompetencies)
                        {
                            <div class="row">
                                <div class="col-6">
                                    <div class="accordion" id="compOne">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            @competency.CompetencyNameEng / @competency.CompetencyNameFre
                                        </button>
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#compOne">
                                            <div class="card-body">
                                                <p>
                                                    <b>English Description</b><br />
                                                    @competency.CompetencyDescEng
                                                </p>
                                                <p>
                                                    <b>French Description</b><br />
                                                    @competency.CompetencyDescFre
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 text-center m-auto">
                                    <div class="accordion" id="compOne">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapselevelOne">
                                            @competency.RatingValue
                                        </button>
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#compOne">
                                            <div class="card-body align-text-top text-left">
                                                <p>
                                                    <b>English Description</b><br />
                                                    @competency.RatingNameEng @competency.RatingDescEng
                                                    <br /><br />
                                                    @competency.CompetencyLevelReqDescEng
                                                </p>
                                                <p>
                                                    <b>French Description</b><br />
                                                    @competency.RatingNameFre @competency.RatingDescFre
                                                    <br /><br />
                                                    @competency.CompetencyLevelReqDescFre
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3 text-right">
                                    @{
                                        var routedataremove = new Dictionary<string, string> {
                                        {"id", Model.Id.ToString() },
                                        {"titleeng",Model.TitleEng },
                                        {"titlefre",Model.TitleFre },
                                        {"levelcode", Model.LevelCode },
                                        {"levelvalue", Model.LevelValue },
                                        {"regionids", Model.RegionIds },
                                        {"subjobgroupId" , Model.SubJobGroupId.ToString() },
                                        {"jobgrouplevelid", Model.JobGroupLevelId.ToString() },
                                        {"jobgroupid",Model.JobGroupId.ToString() },
                                        {"jobhlcategory", Model.JobHLCategory },
                                        {"addedcertificateids", Model.AddedCertificateIds },
                                        {"addedknowledgecompetencyids", Model.AddedKnowledgeCompetencyIds },
                                        {"addedtechnicalcompetencyids", Model.AddedTechnicalCompetencyIds },
                                        {"addedbehaviouralcompetencyids", Model.AddedBehaviouralCompetencyIds },
                                        {"addedexecutivecompetencyids", Model.AddedExecutiveCompetencyIds },
                                        {"competencyId", competency.CompetencyId.ToString() }
                                };
                                    }
                                    <button class="btn btn-link" asp-page-handler="delete" asp-all-route-data="@routedataremove">REMOVE</button>
                                </div>
                            </div>

                        }
                        <hr />
                    </td>
                </tr>
            </table>

            <div class="form-group">
                <button class="btn btn-primary" asp-page-handler="create" asp-all-route-data="routedata">Update</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
