@page
@model Admin.Pages.Positions.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<p class="text-danger">@Model.ErrorMessage</p>

<div>
    <h4>Are you sure you want to delete this position?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
           @Html.DisplayNameFor(model => model.JobPosition.TitleEng)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.JobPosition.TitleEng)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.JobPosition.TitleFre)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.JobPosition.TitleFre)
        </dd>
        <dt class="col-sm-3">
           @Html.DisplayNameFor(model => model.JobPosition.PositionDescEng)
        </dt>
        @if (!string.IsNullOrWhiteSpace(Model.JobPosition.PositionDescEng))
        {
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.JobPosition.PositionDescEng)
            </dd>
        }
        else
        {
            <dd class="col-sm-9 bold">
                Not provided
            </dd>
        }
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.JobPosition.PositionDescFre)
        </dt>
        @if (!string.IsNullOrWhiteSpace(Model.JobPosition.PositionDescFre))
        {
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.JobPosition.PositionDescFre)
            </dd>
        }
        else
        {
            <dd class="col-sm-9 bold">
                Not provided
            </dd>
        }
    </dl>

    <form method="post">
        <input type="hidden" asp-for="JobPosition.Id" />

        <div class="form-group space-btns">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a class="btn btn-secondary" href="/Positions/Details?positionid=@Model.JobPosition.Id">Cancel</a>
        </div>
    </form>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
