@page
@model Admin.Pages.Positions.DetailsModel

<h1>Position Details / Détails du poste</h1>

<div style="margin-top:55px;">
    <h4>@Html.DisplayFor(model => model.Position.JobTitleEng) <br /><br /> @Html.DisplayFor(model => model.Position.JobTitleFre)</h4>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th colspan="2" style="background-color:#f2f2f2">CLASSIFICATION & LEVEL / CLASSIFICATION ET NIVEAU</th>
            </tr>
            <tr>
                <td colspan="2">
                    Administrative Services (AS&CR) Level 01 / Services administratif (AS&CR) Niveau  01
                    @Model.Position.JobGroupTitleEng (@Model.Position.JobGroupCode) Level @Model.Position.JobGroupLevelValue / @Model.Position.JobGroupTitleFre (@Model.Position.JobGroupCode) Level @Model.Position.JobGroupLevelValue
                </td>
            </tr>
            <tr>
                <th colspan="2" style="background-color:#f2f2f2">CERTIFICATIONS / ATTESTATIONS</th>
            </tr>
            @if (Model.PositionCertificates.Any())
            {
                @foreach (var c in Model.PositionCertificates)
                {
                    var key = "c" + c.Id.ToString();

                    <tr>
                        <td colspan="2">
                            <div class="accordion" id="compOne">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#@key" aria-expanded="false" aria-controls="collapseOne">
                                    @c.NameEng / @c.NameFre
                                </button>
                                <div id="@key" class="collapse" aria-labelledby="headingFour" data-parent="#compOne">
                                    <div class="card-body">
                                        <p>
                                            <b>English Description</b><br />
                                            @c.DescEng
                                        </p>
                                        <p>
                                            <b>French Description</b><br />
                                            @c.DescFre
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    }
                    }
                    else
                    {
                    <tr>
                        <td colspan="2">
                            No Certifications / Aucun certificat associées
                        </td>
                    </tr>
                    }
                    @if (Model.PositionCompetencyRatings.Any())
                    {
                        @foreach (var competencytype in Model.PositionCompetencyRatings)
                        {
                            if (competencytype.Any())
                            {


                                <tr>
                                    <th style="background-color:#f2f2f2">@competencytype.FirstOrDefault()?.TypeNameEng.ToUpper() / @competencytype.FirstOrDefault()?.TypeNameFre.ToUpper()</th>
                                    <th class="text-center" style="background-color:#f2f2f2">Level / Niveau</th>
                                </tr>
                                foreach (var c in competencytype)
                                {
                                    var key1 = "a" + c.CompetencyId.ToString();
                                    var key2 = "b" + c.CompetencyId.ToString();
                                    <tr>
                                        <td style="width:70%;">
                                            <div class="accordion" id="compOne">
                                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#@key1" aria-expanded="false" aria-controls="collapseOne">
                                                    @c.CompetencyNameEng / @c.CompetencyNameFre
                                                </button>
                                                <div id="@key1" class="collapse" aria-labelledby="headingFour" data-parent="#compOne">
                                                    <div class="card-body">
                                                        <p>
                                                            <b>English Description</b><br />
                                                            @c.CompetencyDescEng
                                                        </p>
                                                        <p>
                                                            <b>French Description</b><br />
                                                            @c.CompetencyDescFre
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="accordion" id="levelOne">
                                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#@key2" aria-expanded="false" aria-controls="collapselevelOne">
                                                    @c.RatingValue
                                                </button>
                                                <div id="@key2" class="collapse" aria-labelledby="headingFour" data-parent="#levelOne">
                                                    <div class="card-body text-left">
                                                        <p>
                                                            <b>English Description</b><br />
                                                            @c.RatingNameEng @c.RatingDescEng
                                                            <br /><br />
                                                            @c.CompetencyLevelReqDescEng
                                                        </p>
                                                        <p>
                                                            <b>French Description</b><br />
                                                            @c.RatingNameFre @c.RatingDescFre
                                                            <br /><br />
                                                            @c.CompetencyLevelReqDescFre
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        }

                    }
                </tbody>
        </table>
        </div>




<div>
    <a asp-page="./Index">Back to List</a>
</div>
