@page
@model Admin.Pages.Positions.IndexModel
@{
    ViewData["Title"] = "Positions";
}

<h1>Positions</h1>
<p>
    <a class="btn btn-dark" asp-page="Create">Create New</a>
</p>
<form>
    <div class="form-actions no-color">
        <h6>
            Find similar positions:
            <input type="text" asp-for="@Model.Filter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to Full List</a>
        </h6>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th width="7%"><b>Level</b></th>
            <th width="35%"><b>Title English</b></th>
            <th width="35%"><b>Title French</b></th>
            <th width="15%"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.JobPositions.Any(e => Model.Filter == null || e.JobTitleEng.ToLower().Contains(@Model.Filter.ToLower()) || e.JobTitleFre.ToLower().Contains(@Model.Filter.ToLower()) || e.LevelCode.ToLower().Contains(@Model.Filter.ToLower())))
        {
            @foreach (var item in Model.JobPositions.Where(e => Model.Filter == null || e.JobTitleEng.ToLower().Contains(@Model.Filter.ToLower()) || e.JobTitleFre.ToLower().Contains(@Model.Filter.ToLower())))
            {
                if (item.Active != 0)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LevelCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobTitleEng)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobTitleFre)
                        </td>
                        <td>
                            <a asp-page="Details" asp-route-positionid="@item.JobTitleId">Details</a> |
                            <a asp-page="Edit" asp-route-id="@item.JobTitleId">Edit</a> |
                            <a asp-page="Delete" asp-route-id="@item.JobTitleId">Delete</a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>