@page
@model Web.Pages.Student.HighSchool.IndexModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["HighSchool"];
}

    <section role="contentinfo">
        <nav role="navigation" id="wb-bc" property="breadcrumb">
            <h2>
                @Localizer["You are here:"]
            </h2>
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="../../Index">@Localizer["Home"]</a></li>
                    <li><a href="../Index">@Localizer["Student"]</a></li>
                    <li><a class="breadcrumb-item active" aria-current="page">@Localizer["High School"]</a></li>
                </ol>
            </div>
        </nav>
        <nav role="navigation">
            <h2 class="wb-inv">Document navigation</h2>
            <ul class="pager">
                <li class="previous"><a asp-page="../Index" class="btn btn-default" type="button" rel="prev">@Localizer["Previous"]</a></li>
            </ul>
        </nav>

        <h2>@Localizer["Question1"]</h2>
        <div class="row">
            <div class="col-sm-6">
                <figure>
                    <a style="text-decoration:none" class="nav-link" asp-page="Shoreside/Index">
                        <figcaption><h4 class="text-center">@Localizer["Shoreside"]</h4></figcaption>
                        <img src="~/img/Candidate/shoreside.jpg" alt="@Localizer["PhotoShoreside"]" class="img-thumbnail img-responsive mrgn-bttm-sm" />
                    </a>
                </figure>
            </div>
            <div class="col-sm-6">
                <figure>
                    <a style="text-decoration:none" class="nav-link" asp-page="Seagoing/Index">
                        <figcaption><h4 class="text-center">@Localizer["Seagoing"]</h4></figcaption>
                        <img src="~/img/Candidate/Seagoing.jpg" alt="@Localizer["PhotoSeagoing"]" class="img-thumbnail img-responsive mrgn-bttm-sm" />
                    </a>
                </figure>
            </div>
        </div>
    </section>