@page
@model Web.Pages.Student.University.Shoreside.EngineeringModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Engineering"];
    var isEnglish = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en";
}
    <section role="contentinfo">
        <nav role="navigation" id="wb-bc" property="breadcrumb">
            <h2 class="wb-inv">
                @Localizer["You are here:"]
            </h2>
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="../../../Index">@Localizer["Home"]</a></li>
                    <li><a href="../../Index">@Localizer["Student"]</a></li>
                    <li><a href="../Index">@Localizer["University"]</a></li>
                    <li><a href="Index">@Localizer["Shoreside"]</a></li>
                    <li><a class="breadcrumb-item active" aria-current="page">@Localizer["Engineering"]</a></li>
                </ol>
            </div>
        </nav>
        <div class="mrgn-tp-0">
            <nav role="navigation">
                <a title="@Localizer["Save PDF"]" onclick="print()"> <span class="glyphicon glyphicon-save-file pull-right" alt="@Localizer["Save PDF"]"></span></a>
                <h2 class="wb-inv">Document navigation</h2>
                <ul class="pager">
                    <li class="previous"><a asp-page="Index" class="btn btn-default" type="button" rel="prev">@Localizer["Previous"]</a></li>
                </ul>
            </nav>
        </div>

            <h3>@Localizer["results"]</h3>
            <table class="table table-hover table-responsive table-bordered">
                <tbody>
                    <tr>
                        <th class="bg-primary" width="12%">@Localizer["level"]</th>
                        <th class="bg-primary" width="73%">@Localizer["position"]</th>
                        <th class="bg-primary hidden-print" width="15%"></th>
                    </tr>
                    @if (Model.ShoreSidePositions.Any(e => e.Active != 0))
                    {
                        @foreach (var position in Model.ShoreSidePositions.Where(e => e.Active != 0))
                        {
                            var routedata = new Dictionary<string, string>
                                     {
                    {"previouspage", "../../Student/University/Shoreside/Engineering" },
                    { "positionid",  position.JobTitleId.ToString()},
                 };

                            <tr>
                                <td>@position.LevelCode</td>
                                <td>@(isEnglish ? position.JobTitleEng : position.JobTitleFre)</td>
                                <td class="hidden-print"><a asp-page="../../../Candidate/Shoreside/SimilarDetails" asp-all-route-data="@routedata" role="button">@Localizer["More Details"]</a></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td></td>
                            <td>@Localizer["noshoreside"]</td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
    </section>