@page
@model Web.Pages.Student.University.Shoreside.IndexModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Shoreside"];
}

<section role="contentinfo">
    <nav role="navigation" id="wb-bc" property="breadcrumb">
        <h2 class="wb-inv">
            @Localizer["You are here:"]
        </h2>
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="../../../Index">@Localizer["Home"]</a></li>
                <li><a href="../../Index">@Localizer["Student"]</a></li>
                <li><a href="../Index">@Localizer["University"]</a></li>
                <li><a class="breadcrumb-item active" aria-current="page">@Localizer["Shoreside"]</a></li>
            </ol>
        </div>
    </nav>
    <nav role="navigation">
        <h2 class="wb-inv">Document navigation</h2>
        <ul class="pager">
            <li class="previous"><a asp-page="../Index" class="btn btn-default" type="button" rel="prev">@Localizer["Previous"]</a></li>
        </ul>
    </nav>

    <h2 class="mrgn-bttm-lg">@Localizer["Q1"]</h2>

    
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-unstyled row wb-eqht">
                <li class="col-md-2">
                    <a href="@Localizer["link"]" target="_blank" class="btn btn-default btn-block well hght-inhrt">
                        <div class="row">
                            <div class="col-sm-12 col-xs-7">
                                <p class="mrgn-bttm-sm"><strong class="h4">@Localizer["ccgcollege"]</strong></p>
                            </div>
                            <div class="col-sm-12 col-xs-5">
                                    <img src="~/img/Student/CCGCollege.jpg" alt="@Localizer["PhotoCollege"]" class="img-responsive center-block" />
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-md-2">
                    <a asp-page="Business" class="btn btn-default btn-block well hght-inhrt">
                        <div class="row">
                            <div class="col-sm-12 col-xs-7">
                                <p class="mrgn-bttm-sm"><strong class="h4">@Localizer["business"]</strong></p>
                            </div>
                            <div class="col-sm-12 col-xs-5">
                                <img src="~/img/Student/Business.jpg" class="img-responsive center-block" alt="@Localizer["PhotoBusiness"]" />
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-md-2">
                    <a asp-page="ComputerScience" class="btn btn-default btn-block well hght-inhrt">
                        <div class="row">
                            <div class="col-sm-12 col-xs-7">
                                <p class="mrgn-bttm-sm"><strong class="h4">@Localizer["computer"]</strong></p>
                            </div>
                            <div class="col-sm-12 col-xs-5">
                                <img src="~/img/CCGMember/CS.jpg" class="img-responsive center-block" alt="@Localizer["PhotoComputer"]" />
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-md-2">
                    <a asp-page="Engineering" class="btn btn-default btn-block well hght-inhrt">
                        <div class="row">
                            <div class="col-sm-12 col-xs-7">
                                <p class="mrgn-bttm-sm"><strong class="h4">@Localizer["engineering"]</strong></p>
                            </div>
                            <div class="col-sm-12 col-xs-5">
                                <img src="~/img/Student/ENG.jpg" class="img-responsive center-block" alt="@Localizer["PhotoEngineer"]" />
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-md-2">
                    <a asp-page="GeneralArts" class="btn btn-default btn-block well hght-inhrt">
                        <div class="row">
                            <div class="col-sm-12 col-xs-7">
                                <p class="mrgn-bttm-sm"><strong class="h4">@Localizer["arts"]<br /><small>@Localizer["language"]</small></strong></p>
                            </div>
                            <div class="col-sm-12 col-xs-5">
                                <img src="~/img/Student/General Arts.jpg" class="img-responsive center-block" alt="@Localizer["PhotoArts"]" />
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-md-2">
                    <a asp-page="Sciences" class="btn btn-default btn-block well hght-inhrt">
                        <div class="row">
                            <div class="col-sm-12 col-xs-7">
                                <p class="mrgn-bttm-sm"><strong class="h4">@Localizer["sciences"]</strong></p>
                            </div>
                            <div class="col-sm-12 col-xs-5">
                                <img src="~/img/Student/Nurse2.jpg" class="img-responsive center-block" alt="@Localizer["PhotoSciences"]" />
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-md-2">
                    <a asp-page="SocialScience" class="btn btn-default btn-block well hght-inhrt">
                        <div class="row">
                            <div class="col-sm-12 col-xs-7">
                                <p class="mrgn-bttm-sm"><strong class="h4">@Localizer["social"]<br /><small>@Localizer["economics"]</small></strong></p>
                            </div>
                            <div class="col-sm-12 col-xs-5">
                                <img src="~/img/Student/Social Science.jpg" class="img-responsive center-block" alt="@Localizer["PhotoSocial"]" />
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>