@page
@model Web.Pages.Student.College.Seagoing.Officer.DeckModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Deck"];
    var isEnglish = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en";
}
    <section role="contentinfo">
        <nav role="navigation" id="wb-bc" property="breadcrumb">
            <h2 class="wb-inv">
                @Localizer["You are here:"]
            </h2>
            <div class="row">
                <ol class="breadcrumb">
                    <li><a asp-page="../../../../Index">@Localizer["Home"]</a></li>
                    <li><a asp-page="../../../Index">@Localizer["Student"]</a></li>
                    <li><a asp-page="../../Index">@Localizer["TechCollege"]</a></li>
                    <li><a asp-page="../Index">@Localizer["Seagoing"]</a></li>
                    <li><a asp-page="Index">@Localizer["Officer"]</a></li>
                    <li><a class="breadcrumb-item active" aria-current="page">@Localizer["Deck"]</a></li>
                </ol>
            </div>
        </nav>
        <div class="mrgn-tp-0">
            <nav role="navigation">
                <a title="@Localizer["Save PDF"]" onclick="print()"> <span class="glyphicon glyphicon-save-file pull-right" alt="@Localizer["Save PDF"]"></span></a>
                <h2 class="wb-inv">Document navigation</h2>
                <ul class="pager">
                    <li class="previous"><a asp-page="Index" class="btn btn-default" type="button" rel="prev">@Localizer["Previous"]</a></li>
                </ul>
            </nav>
        </div>
            <h3>@Localizer["results"]</h3>

            <table class="table table-hover table-responsive table-bordered">
                <tbody>
                    <tr>
                        <th class="bg-primary" width="12%">@Localizer["level"]</th>
                        <th class="bg-primary" width="73%">@Localizer["position"]</th>
                        <th class="bg-primary hidden-print" width="15%"></th>
                    </tr>
                    @if (Model.SeagoingPositions.Any(e => e.Active != 0))
                    {
                        @foreach (var position in Model.SeagoingPositions.Where(e => e.Active != 0))
                        {
                            var routedata = new Dictionary<string, string>
                                             {
                    {"previouspage", "../../../Student/College/Seagoing/Officer/Deck" },
                    { "positionid",  position.JobTitleId.ToString()},
                 };

                            <tr>
                                <td>@position.LevelCode</td>
                                <td>@(isEnglish ? position.JobTitleEng : position.JobTitleFre)</td>
                                <td class="hidden-print"><a asp-page="../../../../Candidate/Seagoing/Common/Details" asp-all-route-data="@routedata" role="button">@Localizer["More Details"]</a></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td></td>
                            <td>@Localizer["noseagoing"]</td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
            <!--    <div style="clear:both;">
                <div class="col-lg-12">
                    <nav role="navigation">
                        <h2 class="wb-inv">Document navigation</h2>
                        <ul class="pager">
                            <li class="previous"><a asp-page="Index" class="btn btn-default" type="button" rel="prev">@Localizer["Previous"]</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        -->
    </section>