@page
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["title"];
}

    <section role="contentinfo">
        <nav role="navigation" id="wb-bc" property="breadcrumb">
            <h2>
                @Localizer["You are here:"]
            </h2>
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="../../../Homepage">@Localizer["Home"]</a></li>
                    <li><a href="../../Index">@Localizer["Candidate"]</a></li>
                    <li><a href="../Index">@Localizer["Seagoing"]</a></li>
                    <li><a class="breadcrumb-item active" aria-current="page">@Localizer["Officer"]</a></li>
                </ol>
            </div>
        </nav>
        <nav role="navigation">
            <h2 class="wb-inv">Document navigation</h2>
            <ul class="pager">
                <li class="previous"><a asp-page="../Index" class="btn btn-default" type="button" rel="prev">@Localizer["Previous"]</a></li>
            </ul>
        </nav>

        <h2 class="mrgn-bttm-lg">@Localizer["Q1"]</h2>

        <div class="col-sm-12 well">
            <p>@Localizer["Text"]</p>
            <p>@Localizer["Details"] <a style="text-decoration:none" rel="external" alt="@Localizer["linkalt"]" target="_blank" href="@Localizer["Link"]">@Localizer["Link"] &nbsp;&nbsp;<span style="color:#000" class="glyphicon glyphicon-new-window"></span></a></p>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-4 mrgn-bttm-md">
                <a style="text-decoration:none" class="nav-link" asp-page="Navigation/PositionList">
                    <figure class="thumbnail eqht-trgt" style="vertical-align: top;">
                        <div class="img-container">
                            <figcaption class="caption text-center"><h3 class="mrgn-tp-0">@Localizer["Nav"]</h3></figcaption>
                            <img src="~/img/CCGMember/Officer-Nav.jpg" alt="@Localizer["PhotoNav"]" class="img-responsive center" />
                        </div>
                    </figure>
                </a>
            </div>
            
            <div class="col-md-4 col-sm-4 mrgn-bttm-md">
                <a style="text-decoration:none" class="nav-link" asp-page="Engineering/PositionList">
                    <figure class="thumbnail eqht-trgt" style="vertical-align: top;">
                        <div class="img-container">
                            <figcaption class="caption text-center"><h3 class="mrgn-tp-0">@Localizer["Eng"]</h3></figcaption>
                            <img src="~/img/Candidate/Officer Chief Engineer.jpg" alt="@Localizer["PhotoEng"]" class="img-responsive center" />
                        </div>
                    </figure>
                </a>
            </div>
          
        </div>
    </section>
