@page
@model Web.Pages.Mockups.External.Admin_ShoresideModel
@inject IViewLocalizer Localizer
@{
}
<div class="col-md-12 mrgn-tp-md mrgn-bttm-md">
    <a href="#print"><span class="glyphicon glyphicon-print pull-right mrgn-lft-md" alt="Print document"></span> </a>
    <a href="#save"><span class="glyphicon glyphicon-save pull-right" alt="Save document"></span> </a>
</div>

<div class="mrgn-tp-lg">
    <h3 class="text-center">@Localizer["allpositions"]</h3>
    <table class="table table-hover table-condensed table-responsive table-bordered">
        <thead>
            <tr>
                <th class="bg-primary" width="15%">@Localizer["level"]</th>
                <th class="bg-primary" width="73%">@Localizer["positions"]</th>
                <th class="bg-primary" width="12%"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>AS-01</td>
                <td>Administrative (Admin) or Project Assistant or Executive Assitant/ Officer (Aids to Nav. Database, Financial Admin, Scheduling Coordination, Documentation Control, Publication, Technical Business)</td>
                <td><a asp-page="Crew_Deckhand" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-01</td>
                <td>Administrative / Information Officer</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-01</td>
                <td>Fleet Activity Information System (FAIS) Coordinator </td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-01</td>
                <td>Fleet Training Coordinator Assistant</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-02</td>
                <td>Officer (Business Services, Resources, Documentation & Management, Documentation & Systems Control, Resources Planning, Business Planning, Administrative)</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            <tr>
                <td>AS-02</td>
                <td>Analyst Public Affairs and International Relations (PAIR)/Strategic Business Mangement (SBM)</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-02</td>
                <td>Human Resources (HR) Officer/ Workforce Development</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-02</td>
                <td>Finance Officer (Strategic Planning & Finance)</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-02</td>
                <td>Maritime Administrative Assistant</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-02</td>
                <td>Project Assistant</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-02</td>
                <td>Executive Assistant to the Director General (DG) / Administrative Assistant to the Deputy Commissioner / Administrative Assistant to the Director & Administrative Assistant to the Executive Director</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-02</td>
                <td>Staff Management Specialist & Front Desk Supervisor</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-02</td>
                <td>Training Administrative Assistant & Linguistic Services Officer</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-02</td>
                <td>Official Publications & Intranet Management</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-03</td>
                <td>Officer (Regulatory Quality & Planning, Planning Consultation & Program Support, Plan & Special Projects, Planning, Document Control & Audit Coordinator, Planning & Coordination, Administration, Telecom Planning)</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-03</td>
                <td>Workforce Officer</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-03</td>
                <td>Business Analyst</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-03</td>
                <td>Recruitment / Workforce Development Officer</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-03</td>
                <td>Finance & Administration Officer / Capital Budget Analyst / Analyst / Research Analyst</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-03</td>
                <td>Search and Rescue (SAR) System Specialist / Incident Control Systems (ICS) Operations Officer / Notices to Mariners Officers</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-03</td>
                <td>Crewing Officer</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-03</td>
                <td>Cadet Liaison Officer</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-03</td>
                <td>Supervisor, Recorded Information Management / Databse Agent / Operations Data Support</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-04</td>
                <td>Officer (Business Services, Regulatory Coast Guard Planning, Investment,   Project Planning & Control, Planning, Staff Management & Business Services) / Policy Analyst</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-04</td>
                <td>Senior Analyst Public Affairs and International Management (PAIM)/Business Resource Management (BRM)</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-04</td>
                <td>Performance & Quality Assurance Officer</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-04</td>
                <td>Executive Assistant to the Assistant Commissioner (AC), Deputy Commissioner (DC), Staff Officer to the Director General (DG)</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-04</td>
                <td>Workforce Development Manager</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-04</td>
                <td>Workforce Development Analyst</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-04</td>
                <td>Fleet Resources Manager </td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-04</td>
                <td>Public Affairs - Web Officer / Leader Communications (Comms) & Internet / PIO Manager</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-04</td>
                <td>Marine Security Operations Centre (MSOC) Operations Liaison Officer </td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-04</td>
                <td>Manager Finance Admin. & Planning / Executive & Client Services Officer</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-05</td>
                <td>Officer (Occupational Health and Safety (OHS), Information Management and Physical Requirements)</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-05</td>
                <td>Client Relations, Minister Correspondence & Project, Consultations, Planning and Performance</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-05</td>
                <td>Business Manager </td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-05</td>
                <td>Analyst (Sr. Expenditure & Planning, Portfolio, Senior Business Operations & Analysis, Planning, Business, Service Delivery, Pricing, Senior Resource, Senior Policy, Regulations & Legislation) / Analyst Strategic Initiatives / Budget & Resource Allocation</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-05</td>
                <td>Manager Business Resource Management (BRM)</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-05</td>
                <td>Senior Business Analyst</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-05</td>
                <td>Collective Bargaining & Human Resources (HR) Issues Officer</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-05</td>
                <td>Crewing Analyst & Human Resources (HR) Issues Officer</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-05</td>
                <td>Fleet Safety Security Compliance Officer</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-05</td>
                <td>Head of Student Affairs</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-05</td>
                <td>Campus Services Manager</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-05</td>
                <td>Supervisor Seagoing Personnel</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-05</td>
                <td>Senior Fleet Logistics Policy Analyst </td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-05</td>
                <td>Coordinator Search and Rescue (SAR) Projects</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-05</td>
                <td>Business Intelligence Administrator</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-05</td>
                <td>Leader Monitoring Communications and Information</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-05</td>
                <td>Regional Supervisor Network Services</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-05</td>
                <td>Desk Officer Technical Training</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-05</td>
                <td>Compliance Auditor</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-06</td>
                <td>Analyst (Senior Public Affairs, Senior Planning & Performance, Business Planning)</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-06</td>
                <td>Analyst - Fleet (Fleet Management, Exercise Planning Senior, Marine Operations)</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-06</td>
                <td>Investment Analyst</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-06</td>
                <td>Manager (Operations Data, Planning & Performance, Program Planning, Cost-Control Systems, Risk Management, Performance Management, International Safety Management (ISM) Code Compliance & Audit) & Performance Measurement Officer</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-06</td>
                <td>Supt. Fleet Safety & Security / Marine Security Operations Centre (MSOC) Project Division</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-06</td>
                <td>Head Quality Assurance & Academic Excellence</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-06</td>
                <td>Executive Advisor to the Deputy Commissioner</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-07</td>
                <td>Regional Director, Integrated Business Management Services (IBMS)</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-07</td>
                <td>Operations Personnel Manager </td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-07</td>
                <td>Manager Policy and Standards Operations Personnel</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-07</td>
                <td>Chief Operating Officer</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-07</td>
                <td>Manager Professional Development and Certification</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-07</td>
                <td>Executive Assistant for Commissioner</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-07</td>
                <td>Manager (Business Operations & Analysis, Resource Management, Service Delivery, Policy & Standards)</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-07</td>
                <td>Manager Workforce Development</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-07</td>
                <td>Manager, Performance Measurement</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-07</td>
                <td>Manager Operations & Finance Planning</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-07</td>
                <td>Manager Public Affairs & Information Management</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-07</td>
                <td>Manager Fleet Investment</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-07</td>
                <td>Manager, Incident Management</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-07</td>
                <td> Senior Advisor Maritime Security</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
            <tr>
                <td>AS-08</td>
                <td>Director, Safety and Security</td>
                <td><a asp-page="External_Details" role="button">@Localizer["More Details"]</a></td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-lg-12 mrgn-bttm-md">
            <nav role="navigation" class="mrgn-bttm-lg">
                <h2 class="wb-inv">Document navigation</h2>
                <ul class="pager">
                    <li class="previous"><a href="External_Candidate" class="btn btn-default" type="button" rel="prev">@Localizer["Previous"]</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
