@page
@model Web.Pages.Mockups.External.External_ShoresideModel
@inject IViewLocalizer Localizer
@{
}

<section role="contentinfo">
    <div class="col-md-12">
        <h2>@Localizer["Q1"]</h2>


        <div id="ct" class="col-sm-4 mrgn-bttm-md">
            <figure>
                <a href="Admin_Shoreside"><img src="~/img/CCGMember/AS.jpg" alt="Photo of" class="img-responsive thumbnail mrgn-bttm-sm" /></a>
                <figcaption class="text-center"><h6>@Localizer["AS"]</h6></figcaption>
            </figure>
        </div>
        <div id="ct" class="col-sm-4 mrgn-bttm-md">
            <figure>
                <a href="Eng_Shoreside">
                    <img src="~/img/CCGMember/ENG.jpg" alt="Photo of engineering room" class="img-responsive thumbnail mrgn-bttm-sm" />
                </a>
                    <figcaption class="text-center"><h6>@Localizer["ENG"]</h6></figcaption>
</figure>
        </div>
        <div id="ct" class="col-sm-4 mrgn-bttm-md">
            <figure>
                <img src="~/img/CCGMember/CS.jpg" alt="Photo of" class="img-responsive thumbnail mrgn-bttm-sm" />
                <figcaption class="text-center"><h6>@Localizer["CS"]</h6></figcaption>
            </figure>
        </div>
        <div id="ct" class="col-sm-4 mrgn-bttm-md">
            <figure>
                <img src="~/img/CCGMember/EC.jpg" alt="Photo of" class="img-responsive thumbnail mrgn-bttm-sm" />
                <figcaption class="text-center"><h6>@Localizer["EC"]</h6></figcaption>
            </figure>
        </div>
        <div id="ct" class="col-sm-4 mrgn-bttm-md">
            <figure>
                <img src="~/img/CCGMember/ED.jpg" alt="Photo of" class="img-responsive thumbnail mrgn-bttm-sm" />
                <figcaption class="text-center"><h6>@Localizer["ED"]</h6></figcaption>
            </figure>
        </div>
        <div id="ct" class="col-sm-4 mrgn-bttm-md">
            <figure>
                <img src="~/img/CCGMember/EU.jpg" alt="Photo of" class="img-responsive thumbnail mrgn-bttm-sm" />
                <figcaption class="text-center"><h6>@Localizer["EU"]</h6></figcaption>
            </figure>
        </div>
        <div id="ct" class="col-sm-4 mrgn-bttm-md">
            <figure>
                <img src="~/img/CCGMember/EL.jpg" alt="Photo of" class="img-responsive thumbnail mrgn-bttm-sm" />
                <figcaption class="text-center"><h6>@Localizer["EL"]</h6></figcaption>
            </figure>
        </div>
        <div id="ct" class="col-sm-4 mrgn-bttm-md">
            <figure>
                <img src="~/img/CCGMember/EG.jpg" alt="Photo of" class="img-responsive thumbnail mrgn-bttm-sm" />
                <figcaption class="text-center"><h6>@Localizer["EG"]</h6></figcaption>
            </figure>
        </div>
        <div id="ct" class="col-sm-4 mrgn-bttm-md">
            <figure>
                <img src="~/img/CCGMember/EX.jpg" alt="Photo of Executive members of the CCG" class="img-responsive thumbnail mrgn-bttm-sm" />
                <figcaption class="text-center"><h6>@Localizer["EX"]</h6></figcaption>
            </figure>
        </div>
        <div id="ct" class="col-sm-4 mrgn-bttm-md">
            <figure>
                <img src="~/img/CCGMember/GL.jpg" alt="Photo of a welder" class="img-responsive thumbnail mrgn-bttm-sm" />
                <figcaption class="text-center"><h6>@Localizer["GL"]</h6></figcaption>
            </figure>
        </div>
        <div id="ct" class="col-sm-4 mrgn-bttm-md">
            <figure>
                <img src="~/img/CCGMember/GS.jpg" alt="Photo of" class="img-responsive thumbnail mrgn-bttm-sm" />
                <figcaption class="text-center"><h6>@Localizer["GS"]</h6></figcaption>
            </figure>
        </div>
        <div id="ct" class="col-sm-4 mrgn-bttm-md">
            <figure>
                <img src="~/img/CCGMember/GT.jpg" alt="Photo of" class="img-responsive thumbnail mrgn-bttm-sm" />
                <figcaption class="text-center"><h6>@Localizer["GT"]</h6></figcaption>
            </figure>
        </div>
        <div id="ct" class="col-sm-4 mrgn-bttm-md">
            <figure>
                <img src="~/img/CCGMember/LS.jpg" alt="Photo of" class="img-responsive thumbnail mrgn-bttm-sm" />
                <figcaption class="text-center"><h6>@Localizer["LS"]</h6></figcaption>
            </figure>
        </div>
        <div id="ct" class="col-sm-4 mrgn-bttm-md">
            <figure>
                <img src="~/img/CCGMember/LI.jpg" alt="Photo of a lighthouse" class="img-responsive thumbnail mrgn-bttm-sm" />
                <figcaption class="text-center"><h6>@Localizer["LI"]</h6></figcaption>
            </figure>
        </div>

        <div id="ct" class="col-sm-4 mrgn-bttm-md">
            <figure>
                <img src="~/img/CCGMember/NU.jpg" alt="Photo of landmass and anchor" class="img-responsive thumbnail mrgn-bttm-sm" />
                <figcaption class="text-center"><h6>@Localizer["NU"]</h6></figcaption>
            </figure>
        </div>
        <div id="ct" class="col-sm-4 mrgn-bttm-md">
            <figure>
                <img src="~/img/CCGMember/OE.jpg" alt="Photo of Office" class="img-responsive thumbnail mrgn-bttm-sm" />
                <figcaption class="text-center"><h6>@Localizer["OE"]</h6></figcaption>
            </figure>
        </div>
        <div id="ct" class="col-sm-4 mrgn-bttm-md">
            <figure>
                <img src="~/img/CCGMember/PM.jpg" alt="Photo of" class="img-responsive thumbnail mrgn-bttm-sm" />
                <figcaption class="text-center"><h6>@Localizer["PM"]</h6></figcaption>
            </figure>
        </div>



        <div id="ct" class="col-sm-4 mrgn-bttm-md">
            <figure>
                <img src="~/img/CCGMember/PG.jpg" alt="Photo of" class="img-responsive thumbnail mrgn-bttm-sm" />
                <figcaption class="text-center"><h6>@Localizer["PG"]</h6></figcaption>
            </figure>
        </div>
        <div id="ct" class="col-sm-4 mrgn-bttm-md">
            <figure>
                <img src="~/img/CCGMember/RO.jpg" alt="Photo of" class="img-responsive thumbnail mrgn-bttm-sm" />
                <figcaption class="text-center"><h6>@Localizer["RO"]</h6></figcaption>
            </figure>
        </div>
        <div id="ct" class="col-sm-4 mrgn-bttm-md">
            <figure>
                <img src="~/img/CCGMember/SO.jpg" alt="Photo of" class="img-responsive thumbnail mrgn-bttm-sm" />
                <figcaption class="text-center"><h6>@Localizer["SO"]</h6></figcaption>
            </figure>
        </div>
        <div id="ct" class="col-sm-4 mrgn-bttm-md">
            <figure>
                <img src="~/img/CCGMember/TI.jpg" alt="Photo of" class="img-responsive thumbnail mrgn-bttm-sm" />
                <figcaption class="text-center"><h6>@Localizer["TI"]</h6></figcaption>
            </figure>
        </div>

    </div>
</section>
