@page
@model Admin.Pages.Certificates.Descriptions.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Certificate Descriptions</h2>

<p>
    <a class="btn btn-dark" asp-page="Create">Create New</a>
    <a class="btn btn-dark pull-right" asp-page="../Index">Certificates</a>
</p>
<form>
    <div class="form-actions no-color">
        <h6>
            Find certificate descriptions:
            <input type="text" asp-for="@Model.Filter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="../Index">Back to Full List</a>
        </h6>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Certificate Description English</th>
            <th>Certificate Description French</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Descriptions.Where(e => Model.Filter == null || e.DescEng.ToLower().Contains(@Model.Filter.ToLower()) || e.DescFre.ToLower().Contains(@Model.Filter.ToLower())))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DescEng)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescFre)
                </td>
                <td style="width:15%">
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

