@page
@model Web.Pages.Student.HighSchool.Seagoing.SeagoingDeckModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Deck"];
    var isEnglish = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en";
}
<section role="contentinfo">
    <div class="mrgn-tp-md">
        <a title="@Localizer["save"]" target="_blank" href="@Url.Action("StudentSeagoingPositionsList", "ToPdf", new { SeagoingIds = Model.SeagoingPositionIds, language = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName})"><span class="glyphicon glyphicon-save pull-right" alt="@Localizer["save"]"></span> </a>
        <nav role="navigation">
            <h2 class="wb-inv">Document navigation</h2>
            <ul class="pager">
                <li class="previous"><a asp-page="Index" class="btn btn-default" type="button" rel="prev">@Localizer["Previous"]</a></li>
            </ul>
        </nav>
    </div>
    <div class="mrgn-tp-md">
        <h3 class="text-center">@Localizer["results"]</h3>

        <table class="table table-hover table-responsive table-bordered">
            <thead>
                <tr>
                    <th class="bg-primary" width="15%">@Localizer["level"]</th>
                    <th class="bg-primary" width="73%">@Localizer["position"]</th>
                    <th class="bg-primary" width="12%"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.SeagoingPositions.Any(e => e.Active != 0))
                {
                    @foreach (var position in Model.SeagoingPositions.Where(e => e.Active != 0))
                    {
                        var routedata = new Dictionary<string, string>
                     {
                    {"previouspage", "../../../Student/HighSchool/Seagoing/SeagoingDeck" },
                    { "positionid",  position.JobTitleId.ToString()},
                 };

                        <tr>
                            <td>@position.LevelCode</td>
                            <td>@(isEnglish ? position.JobTitleEng : position.JobTitleFre)</td>
                            <td><a asp-page="../../../Candidate/Seagoing/Common/Details" asp-all-route-data="@routedata" role="button">@Localizer["More Details"]</a></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td></td>
                        <td>@Localizer["noseagoing"]</td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>

        <!--      <div style="clear:both;">
                   <div class="col-lg-12">
                       <nav role="navigation">
                           <h2 class="wb-inv">Document navigation</h2>
                           <ul class="pager">
                               <li class="previous"><a asp-page="Index" class="btn btn-default" type="button" rel="prev">@Localizer["Previous"]</a></li>
                           </ul>
                       </nav>
                   </div>
               </div>

        -->

    </div>
</section>