@page
@model Web.Pages.Mockups.Member_PositionModel
@inject IViewLocalizer Localizer


    <section role="contentinfo">
        <div class="col-md-12">
            <h2>@Localizer["CatPosition"]</h2>

            <div class="row">
                <div class="col-sm-3 mrgn-bttm-md">
                    <figure>
                        <a href="Current_Position"><img src="~/Theresa/img/AS.jpg" alt="Photo of engineering room" class="img-responsive thumbnail mrgn-bttm-sm" /></a>
                        <figcaption class="text-center"><h6>@Localizer["AdminAS"]</h6></figcaption>
                    </figure>
                </div>

                <div class="col-sm-3 mrgn-bttm-md">
                    <figure>
                        <img src="~/Theresa/img/ENG.jpg" alt="Photo of engineering room" class="img-responsive thumbnail mrgn-bttm-sm" />
                        <figcaption class="text-center"><h6>@Localizer["EngineeringENG"]</h6></figcaption>
                    </figure>
                </div>

                <div class="col-sm-3 mrgn-bttm-md">
                    <figure>
                        <img src="~/Theresa/img/blank.jpg" alt="Photo of supplies on a port" class="img-responsive thumbnail mrgn-bttm-sm" />
                        <figcaption class="text-center"><h6>@Localizer["ClericalCR"]</h6></figcaption>
                    </figure>
                </div>

                <div class="col-sm-3 mrgn-bttm-md">
                    <figure>
                        <img src="~/Theresa/img/mcts.jpg" alt="Photo of computer systems" class="img-responsive thumbnail mrgn-bttm-sm" />
                        <figcaption class="text-center"><h6>@Localizer["ComputerCS"]</h6></figcaption>
                    </figure>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 mrgn-bttm-md">
                    <figure>
                        <img src="~/Theresa/img/blank.jpg" alt="Photo of" class="img-responsive thumbnail mrgn-bttm-sm" />
                        <figcaption class="text-center"><h6>@Localizer["EconomicsEC"]</h6></figcaption>
                    </figure>
                </div>

                <div class="col-sm-3 mrgn-bttm-md">
                    <figure>
                        <img src="~/Theresa/img/blank.jpg" alt="Photo of" class="img-responsive thumbnail mrgn-bttm-sm" />
                        <figcaption class="text-center"><h6>@Localizer["EducationED"]</h6></figcaption>
                    </figure>
                </div>

                <div class="col-sm-3 mrgn-bttm-md">
                    <figure>
                        <img src="~/Theresa/img/blank.jpg" alt="Photo of" class="img-responsive thumbnail mrgn-bttm-sm" />
                        <figcaption class="text-center"><h6>@Localizer["EduSupportEU"]</h6></figcaption>
                    </figure>
                </div>

                <div class="col-sm-3 mrgn-bttm-md">
                    <figure>
                        <img src="~/Theresa/img/blank.jpg" alt="Photo of" class="img-responsive thumbnail mrgn-bttm-sm" />
                        <figcaption class="text-center"><h6>@Localizer["EngSciEG"]</h6></figcaption>
                    </figure>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 mrgn-bttm-md">
                    <figure>
                        <img src="~/Theresa/img/blank.jpg" alt="Photo of" class="img-responsive thumbnail mrgn-bttm-sm" />
                        <figcaption class="text-center"><h6>@Localizer["ExecutiveEX"]</h6></figcaption>
                    </figure>
                </div>
                <div class="col-sm-3 mrgn-bttm-md">
                    <figure>
                        <img src="~/Theresa/img/GL.jpg" alt="Photo of a welder" class="img-responsive thumbnail mrgn-bttm-sm" />
                        <figcaption class="text-center"><h6>@Localizer["GLabourGL"]</h6></figcaption>
                    </figure>
                </div>
                <div class="col-sm-3 mrgn-bttm-md">
                    <figure>
                        <img src="~/Theresa/img/GS.jpg" alt="Photo of table setup with condiments" class="img-responsive thumbnail mrgn-bttm-sm" />
                        <figcaption class="text-center"><h6>@Localizer["GServicesGS"]</h6></figcaption>
                    </figure>
                </div>
                <div class="col-sm-3 mrgn-bttm-md">
                    <figure>
                        <img src="~/Theresa/img/EG.jpg" alt="Photo of table setup with condiments" class="img-responsive thumbnail mrgn-bttm-sm" />
                        <figcaption class="text-center"><h6>@Localizer["GTechnicalGT"]</h6></figcaption>
                    </figure>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-3 mrgn-bttm-md">
                    <figure>
                        <img src="~/Theresa/img/blank.jpg" alt="Photo of landmass and anchor" class="img-responsive thumbnail mrgn-bttm-sm" />
                        <figcaption class="text-center"><h6>@Localizer["LibraryLS"]</h6></figcaption>
                    </figure>
                </div>

                <div class="col-sm-3 mrgn-bttm-md">
                    <figure>
                        <img src="~/Theresa/img/LI.jpg" alt="Photo of landmass and anchor" class="img-responsive thumbnail mrgn-bttm-sm" />
                        <figcaption class="text-center"><h6>@Localizer["LightkeepersLI"]</h6></figcaption>
                    </figure>
                </div>

                <div class="col-sm-3 mrgn-bttm-md">
                    <figure>
                        <img src="~/Theresa/img/blank.jpg" alt="Photo of landmass and anchor" class="img-responsive thumbnail mrgn-bttm-sm" />
                        <figcaption class="text-center"><h6>@Localizer["NursingNU"]</h6></figcaption>
                    </figure>
                </div>

                <div class="col-sm-3 mrgn-bttm-md">
                    <figure>
                        <img src="~/Theresa/img/blank.jpg" alt="Photo of landmass and anchor" class="img-responsive thumbnail mrgn-bttm-sm" />
                        <figcaption class="text-center"><h6>@Localizer["OfficeOE"]</h6></figcaption>
                    </figure>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 mrgn-bttm-md">
                    <figure>
                        <img src="~/Theresa/img/blank.jpg" alt="Photo of landmass and anchor" class="img-responsive thumbnail mrgn-bttm-sm" />
                        <figcaption class="text-center"><h6>@Localizer["ProgramAdminPM"]</h6></figcaption>
                    </figure>
                </div>

                <div class="col-sm-3 mrgn-bttm-md">
                    <figure>
                        <img src="~/Theresa/img/PG.jpg" alt="Photo of landmass and anchor" class="img-responsive thumbnail mrgn-bttm-sm" />
                        <figcaption class="text-center"><h6>@Localizer["PurchasingPG"]</h6></figcaption>
                    </figure>
                </div>
                <div class="col-sm-3 mrgn-bttm-md">
                    <figure>
                        <img src="~/Theresa/img/blank.jpg" alt="Photo of landmass offshore" class="img-responsive thumbnail mrgn-bttm-sm" />
                        <figcaption class="text-center"><h6>@Localizer["RadioRO"]</h6></figcaption>
                    </figure>
                </div>

                <div class="col-sm-3 mrgn-bttm-md">
                    <figure>
                        <img src="~/Theresa/img/SC.jpg" alt="Photo of crewmembers" class="img-responsive thumbnail mrgn-bttm-sm" />
                        <figcaption class="text-center"><h6>@Localizer["ShipCrewSC"]</h6></figcaption>
                    </figure>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 mrgn-bttm-md">
                    <figure>
                        <img src="~/Theresa/img/SO.jpg" alt="Photo of a ships' officer" class="img-responsive thumbnail mrgn-bttm-sm" />
                        <figcaption class="text-center"><h6>@Localizer["ShipOfficerSO"]</h6></figcaption>
                    </figure>
                </div>
            </div>
        </div>
</section>