@page
@model Web.Pages.Student.College.Seagoing.IndexModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Seagoing"];
}
    <section role="contentinfo">
        <nav role="navigation" id="wb-bc" property="breadcrumb">
            <h2>
                @Localizer["You are here:"]
            </h2>
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="../../../Index">@Localizer["Home"]</a></li>
                    <li><a href="../../Index">@Localizer["Student"]</a></li>
                    <li><a href="../Index">@Localizer["TechCollege"]</a></li>
                    <li><a class="breadcrumb-item active" aria-current="page">@Localizer["Seagoing"]</a></li>
                </ol>
            </div>
        </nav>
        <nav role="navigation">
            <h2 class="wb-inv">Document navigation</h2>
            <ul class="pager">
                <li class="previous"><a asp-page="../Index" class="btn btn-default" type="button" rel="prev">@Localizer["Previous"]</a></li>
            </ul>
        </nav>
        <h2>@Localizer["Q1"]</h2>
        <div class="col-md-6 col-sm-6">
            <figure>
                <div class="img-container">
                    <a style="text-decoration:none" asp-page="Officer/Index">
                        <img src="~/img/CCGMember/SO.jpg" alt="@Localizer["PhotoOfficer"]" class="img-thumbnail img-responsive mrgn-bttm-sm" />
                    </a>
                </div>
                <figcaption><h4 class="text-center"><a style="text-decoration:none" asp-page="Officer/Index">@Localizer["Officer"]</a></h4></figcaption>
            </figure>
        </div>
        <div class="col-md-6 col-sm-6">
            <figure>
                <div class="img-container">
                    <a style="text-decoration:none" asp-page="Crew/Index">
                        <img src="~/img/CCGMember/SC.jpg" alt="@Localizer["PhotoCrew"]" class="img-thumbnail img-responsive mrgn-bttm-sm" />
                    </a>
                </div>
                <figcaption><h4 class="text-center"><a style="text-decoration:none" asp-page="Crew/Index">@Localizer["Crew"]</a></h4></figcaption>
            </figure>
        </div>
    </section>
