@page
@model Web.Pages.Student.University.Seagoing.Officer.IndexModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["ShipsOfficer"];
}
    <section role="contentinfo">
        <nav role="navigation" id="wb-bc" property="breadcrumb">
            <h2>
                @Localizer["You are here:"]
            </h2>
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="../../../../Index">@Localizer["Home"]</a></li>
                    <li><a href="../../../Index">@Localizer["Student"]</a></li>
                    <li><a href="../../Index">@Localizer["University"]</a></li>
                    <li><a href="../Index">@Localizer["Seagoing"]</a></li>
                    <li><a class="breadcrumb-item active" aria-current="page">@Localizer["Officer"]</a></li>
                </ol>
            </div>
        </nav>
        <nav role="navigation">
            <h2 class="wb-inv">Document navigation</h2>
            <ul class="pager">
                <li class="previous"><a asp-page="../Index" class="btn btn-default" type="button" rel="prev">@Localizer["Previous"]</a></li>
            </ul>
        </nav>
        <div class="col-md-12">
            <h2>@Localizer["Q1"]</h2>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <figure>
                        <a style="text-decoration:none" class="nav-link" asp-page="Deck">
                            <figcaption><h4 class="text-center">@Localizer["Deck"]</h4></figcaption>
                            <img src="~/img/CCGMember/Officer-Nav.jpg" alt="@Localizer["PhotoDeck"]" class="img-thumbnail img-responsive mrgn-bttm-sm" />
                        </a>
                    </figure>
                </div>
                <div class="col-md-4 col-sm-6">
                    <figure>
                        <a style="text-decoration:none" class="nav-link" asp-page="Engineering">
                            <figcaption><h4 class="text-center">@Localizer["Engineering"]</h4></figcaption>
                            <img src="~/img/Candidate/Officer Chief Engineer.jpg" alt="@Localizer["PhotoEngineer"]" class="img-thumbnail img-responsive mrgn-bttm-sm" />
                        </a>
                    </figure>
                </div>
                <div class="col-md-4 col-sm-6">
                    <figure>
                        <a style="text-decoration:none" class="nav-link" asp-page="Logistics">
                            <figcaption><h4 class="text-center">@Localizer["Logistics"]</h4></figcaption>
                            <img src="~/img/Student/OfficerLogistics.jpg" alt="@Localizer["PhotoLogistics"]" class="img-thumbnail img-responsive mrgn-bttm-sm" />
                        </a>
                    </figure>
                </div>
            </div>
        </div>
    </section>