@page
@model Web.Pages.Student.HighSchool.Shoreside.IndexModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Shoreside"];
}


        <section role="contentinfo">
            <nav role="navigation" id="wb-bc" property="breadcrumb">
                <h2 class="wb-inv">
                    @Localizer["You are here:"]
                </h2>
                <div class="row">
                    <ol class="breadcrumb">
                        <li><a href="../../../Index">@Localizer["Home"]</a></li>
                        <li><a href="../../Index">@Localizer["Student"]</a></li>
                        <li><a href="../Index">@Localizer["High School"]</a></li>
                        <li><a class="breadcrumb-item active" aria-current="page">@Localizer["Shoreside"]</a></li>
                    </ol>
                </div>
            </nav>
            <nav role="navigation">
                <h2 class="wb-inv">Document navigation</h2>
                <ul class="pager">
                    <li class="previous"><a asp-page="../Index" class="btn btn-default" type="button" rel="prev">@Localizer["Previous"]</a></li>
                </ul>
            </nav>

            <h2 class="mrgn-bttm-lg">@Localizer["Q1"]</h2>

            <div class="col-lg-3 col-md-2">
                <a style="text-decoration:none" href="@Localizer["link"]" target="_blank">
                    <figure class="thumbnail eqht-trgt" style="vertical-align: top;">
                        <div class="img-container">
                            <figcaption class="caption text-center"><h3 class="mrgn-tp-0">@Localizer["ccgcollege"]</h3></figcaption>
                            <img src="~/img/Student/CCGCollege.jpg" alt="@Localizer["PhotoCollege"]" class="img-responsive center" />
                        </div>
                    </figure>
                </a>
            </div>

            <div class="col-lg-3 col-md-2">
                <a style="text-decoration:none" class="nav-link" asp-page="Administrative">
                    <figure class="thumbnail eqht-trgt" style="vertical-align: top;">
                        <div class="img-container">
                            <figcaption class="caption text-center"><h3 class="mrgn-tp-0">@Localizer["admin"]</h3></figcaption>
                            <img src="~/img/CCGMember/Admin.jpg" alt="@Localizer["PhotoAdmin"]" class="img-responsive center" />
                        </div>
                    </figure>
                </a>
            </div>

            <div class="col-lg-3 col-md-2">
                <a style="text-decoration:none" class="nav-link" asp-page="Computer">
                    <figure class="thumbnail eqht-trgt" style="vertical-align: top;">
                        <div class="img-container">
                            <figcaption class="caption text-center"><h3 class="mrgn-tp-0">@Localizer["computer"]</h3></figcaption>
                            <img src="~/img/CCGMember/CS.jpg" alt="@Localizer["PhotoComputer"]" class="img-responsive center" />
                        </div>
                    </figure>
                </a>
            </div>

            <div class="col-lg-3 col-md-2">
                <a style="text-decoration:none" class="nav-link" asp-page="Trades">
                    <figure class="thumbnail eqht-trgt" style="vertical-align: top;">
                        <div class="img-container">
                            <figcaption class="caption text-center"><h3 class="mrgn-tp-0">@Localizer["trades"]</h3></figcaption>
                            <img src="~/img/CCGMember/GL.jpg" alt="@Localizer["PhotoTrades"]" class="img-responsive center" />
                        </div>
                    </figure>
                </a>
            </div>

            <!-- <div style="clear:both;">
                <div class="col-lg-12">
                    <nav role="navigation">
                        <h2 class="wb-inv">Document navigation</h2>
                        <ul class="pager">
                            <li class="previous"><a asp-page="../Index" class="btn btn-default" type="button" rel="prev">@Localizer["Previous"]</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        -->
        </section>
