@page
@model Admin.Pages.Similar.CreateModel
@{
    ViewData["Title"] = "Create";

}

<h1>Create</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="JobPosition.Position" />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="background-color:#f2f2f2">SIMILAR POSITIONS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td colspan="3">
                            <div class="dropdown col-8 m-1">
                                <label asp-for="JobPosition.HundredPercent" class="control-label"></label><br />


                                <button class="form-control dropdown-toggle mrgn-bttm-md" id="menu1" type="button" data-toggle="dropdown">
                                    

                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    @foreach (var position in Model.AllJobPositions)
                                    {
                                        var routedata100 = new Dictionary<string, string> {
                                                        {"positionid", position.JobTitleId.ToString() },

                                                  
   
    };
                            <li role="presentation">
                                <button class="btn btn-light" asp-page-handler="hundredpercentposition" asp-all-route-data="routedata100">
                                    @position.JobGroupCode @position.LevelCode @position.JobTitleEng / @position.JobTitleFre
                                </button>
                            </li>
                        }
                                </ul>
                            </div>
                            @foreach (var position in Model.AddedPositionsHundredPercent)
                            {
                                <div class="row">
                                    <div class="col-6">
                                        <div class="accordion" id="compOne">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                @position.JobGroupCode @position.LevelCode @position.JobTitleEng / @position.JobTitleFre
                                            </button>
                                        </div>
                                    </div>

                                    <div class="col-3 text-right">
                                        @{
                                            var routedataremove = new Dictionary<string, string> {
                                                { "deleteid", position.JobTitleId.ToString() }

                                };
                                        }
                                        <button class="btn btn-link" asp-page-handler="delete" asp-all-route-data="@routedataremove">REMOVE</button>
                                    </div>
                                </div>

                            }
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

