@page
@model Admin.Pages.Similar.DetailsModel
@using Admin.Data.PartialModels

@{
    ViewData["Title"] = "Details";
}

@{
    // The model is in Admin/Data/PartialModels (the models used for partial views)
    var detailsModel = new SimilarDetailsPartialModel
    {
        JobPositionId = Model.CurrentPosition.JobTitleId
    };
}

<h1>Similar Position Details</h1>

<h4>Current Position: <a href="/Positions/Details?positionid=@Model.CurrentPosition.JobTitleId">@Model.CurrentPosition.JobGroupLevelCode @Model.CurrentPosition.JobTitleEng</a></h4>
<h4 class="medium-margin-top small-margin-bottom">Position actuelle: <a href="/Positions/Details?positionid=@Model.CurrentPosition.JobTitleId">@Model.CurrentPosition.JobGroupLevelCode @Model.CurrentPosition.JobTitleFre</a></h4>
<hr />

@if (Model.PercentSelection == "100")
{
    detailsModel.PercentMatch = 100;
    detailsModel.JobPositions = Model.AddedOneHundredPercentJobPositions.Where(x => x.Active == 1).ToArray();
    <partial name="_SimilarDetails" model="@detailsModel" />
}
else if (Model.PercentSelection == "90")
{
    detailsModel.PercentMatch = 90;
    detailsModel.JobPositions = Model.AddedNinetyPercentJobPositions.Where(x => x.Active == 1).ToArray();
    <partial name="_SimilarDetails" model="@detailsModel" />
}
else if (Model.PercentSelection == "80")
{
    detailsModel.PercentMatch = 80;
    detailsModel.JobPositions = Model.AddedEightyPercentJobPositions.Where(x => x.Active == 1).ToArray();
    <partial name="_SimilarDetails" model="@detailsModel" />
}
else if (Model.PercentSelection == "70")
{
    detailsModel.PercentMatch = 70;
    detailsModel.JobPositions = Model.AddedSeventyPercentJobPositions.Where(x => x.Active == 1).ToArray();
    <partial name="_SimilarDetails" model="@detailsModel" />
}

@if (Model.HasMultipleSimilarPositions)
{
    <div class="form-group space-btns small-margin-top">
        <a asp-page="./Edit" asp-route-id="@Model.CurrentPosition.JobTitleId" class="btn btn-primary">Edit</a>
        <a class="btn btn-info" href="/Similar?copyid=@Model.CurrentPosition.JobTitleId"
            data-toggle="tooltip" title="Applies these similar positions to another position of your choice">
            Copy Similar Positions
        </a>
    </div>
}

<div class="@(!Model.HasMultipleSimilarPositions ? "small-margin-top" : "")">
    @if (!Model.HasMultipleSimilarPositions)
    {
        <a href="/Similar/Edit?id=@Model.CurrentPosition.JobTitleId">Edit</a> <span>|</span>
    }
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}