@page
@model Admin.Pages.Similar.LocateModel
@using Business.Dtos.JobPositions
@inject Admin.Data.FormattingService Formatter

@{
    ViewData["Title"] = "Locate Similar Positions";
    ViewData["HideBodyOverflow"] = true;

    bool addedInOnePlace = false;

    if (Model.LocatingAPosition)
    {
        addedInOnePlace = (Model.PositionsThatHaveItAtHundredMatch.Any() ||
                            Model.PositionsThatHaveItAtNinetyMatch.Any() ||
                            Model.PositionsThatHaveItAtEightyMatch.Any() ||
                            Model.PositionsThatHaveItAtSeventyMatch.Any());
    }

    string? filterValue = Model.Filter;
    if (filterValue != null)
    {
        filterValue = filterValue.Trim();
    }

    var itemsThatMatchFilter = Model.JobPositions.Where(x => x.Active == 1).ToList();
    if (!string.IsNullOrWhiteSpace(Model.Filter))
    {
        Formatter.Filters = filterValue;
        Formatter.PrepareFiltersArray();
        itemsThatMatchFilter = itemsThatMatchFilter
        .Where(x => Formatter.RowContentsMatchFilters(new string[] { x.LevelCode, x.JobTitleEng, x.JobTitleFre })).ToList();
    }
    itemsThatMatchFilter = itemsThatMatchFilter.OrderBy(x => x.JobTitleEng.ToLower()).OrderBy(x => x.LevelCode.ToLower()).ToList();
    var itemsList = itemsThatMatchFilter.ToList();
    var numItems = itemsList.Count();
}

@functions {

    public List<JobPositionDto> PutJobPositionBeingSearchedFirstInList(List<JobPositionDto> positions)
    {
        if (!positions.Any())
        {
            return positions;
        }

        if (positions.Select(x => x.JobTitleId).Contains(Model.PositionBengLocated.JobTitleId))
        {
            var samePosition = positions.Where(x => x.JobTitleId == Model.PositionBengLocated.JobTitleId).FirstOrDefault();
            positions.Remove(samePosition);
            positions.Insert(0, samePosition);
        }
        return positions;
    }

}

<div class="collapse @(Model.DisplayTopOfPage ? "show" : "")" id="collapsibleTop" aria-expanded="@(Model.DisplayTopOfPage ? "true" : "false")">
    @if (!Model.LocatingAPosition)
    {
        <h1>Locate Similar Positions @(numItems > 0 ? "(" + numItems + ")" : "")</h1>

        <form class="@(numItems == 0 && string.IsNullOrWhiteSpace(Model.Filter) ? "dontShow" : "")">
            <div class="form-actions no-color">
                <h6>
                    <label for="Filter">Find positions:</label>
                    <input type="text" asp-for="@Model.Filter" value="@filterValue" />

                    <input type="submit" value="Search" class="btn btn-primary" /> 
                    @if (!String.IsNullOrWhiteSpace(Model.Filter))
                    {
                        <span><span class="vertical-bar">|</span> 
                            <a href="/Similar/Locate">Back to Full List</a>
                        </span>
                    }

                    <a class="btn btn-secondary pull-right bottom-two-px bold index-right-button" asp-page="Index">Back to List</a>
                </h6>
            </div>
        </form>
    }
    else
    {
        <h4 class="small-margin-bottom">Located Position: 
            <a target="_blank" href="/Positions/Details?positionid=@Model.PositionBengLocated.JobTitleId">
                <span id="jobTitleEng" class="print-link">@Model.PositionBengLocated.JobGroupLevelCode @Model.PositionBengLocated.JobTitleEng</span>
                <span id="jobTitleFre" class="dontShow print-link">@Model.PositionBengLocated.JobGroupLevelCode @Model.PositionBengLocated.JobTitleFre</span>
                <img src="~/images/icons/external_link_icon.png" class="external-link" alt="Open link in new tab" />
            </a>
        </h4>

        <div class="space-btns no-margin-right small-margin-bottom large-margin-top no-padding-right container hide-in-print">
            <div class="row no-margin-right">
                <div class="col text-left no-padding table-display">
                    <span class="display-block vertical-margin-auto vertical-center">
                        <label class="no-margin-bottom">Display job titles in: &nbsp;&nbsp;</label> 
                        <input type="radio" value="eng" name="changeLang" id="changeLangEnglish" checked />
                        <label for="changeLangEnglish" class="no-margin-bottom">English</label>

                        <input type="radio" value="fre" name="changeLang" id="changeLangFrench" />
                        <label for="changeLangFrench" class="no-margin-bottom">French</label>
                    </span>
                </div>

                <div class="col text-right no-margin-right no-padding @(addedInOnePlace ? "raise-elements-slightly" : "")" style="max-height: 38px">
                    @if (addedInOnePlace)
                    {
                        <h6 class="glyphicon glyphicon-save-file display-inline position-relative locate-page-save-icon" onclick="print()"></h6>
                    }
                    <h6 class="display-inline"><a class="btn btn-primary bold bottom-two-px" href="/Similar/Locate">Locate Another Position</a></h6>
                    <a class="btn btn-secondary bottom-two-px bold no-margin-right right-button-locate" asp-page="Index">Back to List</a>
                </div>
            </div>
        </div>
    }
</div>

@if (!Model.LocatingAPosition)
{
    @if (itemsList.Any())
    {
        <div id="table-container" style="max-height: @(Model.LastTableContainerHeight)px; height: @(Model.LastTableContainerHeight)px">
            <table class="table">
                <thead>
                    <tr class="table-header-row text-center">
                            <th class="col-1"><b class="sort-column sorted" data-toggle="tooltip" title="Click to sort column">Level</b></th>
                            <th class="col-4"><b class="sort-column" data-toggle="tooltip" title="Click to sort column">Title English</b></th>
                            <th class="col-5"><b class="sort-column" data-toggle="tooltip" title="Click to sort column">Title French</b></th>
                            <th class="col-2">
                                <img src="@(Model.DisplayTopOfPage ? "/images/icons/up_arrow.png" : "/images/icons/down_arrow.png")" 
                                class="arrow-icon" data-toggle="collapse" data-target="#collapsibleTop" 
                                aria-expanded="@(Model.DisplayTopOfPage ? "true" : "false")" aria-controls="collapsibleTop" 
                                alt="@(Model.DisplayTopOfPage ? "Collapse" : "Expand") the top of the page" tooltip
                                title="@(Model.DisplayTopOfPage ? "Collapse" : "Expand") the top of the page" />
                            </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in itemsList)
                    {

                        <tr>
                            <td class="text-center sort-percents">
                                @Html.DisplayFor(modelItem => item.LevelCode)
                            </td>
                            <td class="sort-percents">
                                @Html.DisplayFor(modelItem => item.JobTitleEng)
                            </td>
                            <td class="sort-percents">
                                @Html.DisplayFor(modelItem => item.JobTitleFre)
                            </td>
                             <td class="text-center">
                                <a href="/Similar/Locate?id=@item.JobTitleId" class="load-link">Locate</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        if (!string.IsNullOrWhiteSpace(Model.Filter))
        {
            <h4 class="no-results">No positions match the filter "@Model.Filter"</h4>
        }
        else
        {
            <h4 class="no-results">There are currently no positions</h4>
        }
    }
}
else 
{

    if (addedInOnePlace) 
    {
        var hundredPositions = Model.PositionsThatHaveItAtHundredMatch.OrderBy(x => x.JobTitleEng.ToLower()).OrderBy(x => x.LevelCode.ToLower()).ToList();
        var ninetyPositions = Model.PositionsThatHaveItAtNinetyMatch.OrderBy(x => x.JobTitleEng.ToLower()).OrderBy(x => x.LevelCode.ToLower()).ToList();
        var eightyPositions = Model.PositionsThatHaveItAtEightyMatch.OrderBy(x => x.JobTitleEng.ToLower()).OrderBy(x => x.LevelCode.ToLower()).ToList();
        var seventyPositions = Model.PositionsThatHaveItAtSeventyMatch.OrderBy(x => x.JobTitleEng.ToLower()).OrderBy(x => x.LevelCode.ToLower()).ToList();

        hundredPositions = PutJobPositionBeingSearchedFirstInList(hundredPositions);
        ninetyPositions = PutJobPositionBeingSearchedFirstInList(ninetyPositions);
        eightyPositions = PutJobPositionBeingSearchedFirstInList(eightyPositions);
        seventyPositions = PutJobPositionBeingSearchedFirstInList(seventyPositions);

        var hunredIsEmpty = !hundredPositions.Any();
        var ninetyIsEmpty = !ninetyPositions.Any();
        var eightyIsEmpty = !eightyPositions.Any();
        var seventyIsEmpty = !seventyPositions.Any();

        int[] arrayLengths = { hundredPositions.Count(), ninetyPositions.Count(),
            eightyPositions.Count(), seventyPositions.Count(), };
        int numRows = arrayLengths.Max();

        <div id="table-container" style="max-height: @(Model.LastTableContainerHeight)px; height: @(Model.LastTableContainerHeight)px">
            <table class="table">
                <thead>
                    <tr class="table-header-row text-center">
                        <th class="col-3"><b class="@(!hunredIsEmpty ? "sorted flip-column" : "")" title="@(!hunredIsEmpty ? "Click to flip column" : "")" data-toggle="@(hundredPositions.Any() ? "tooltip" : "")">100% @(hundredPositions.Any() ? ("(" + hundredPositions.Count() + ")") : "")</b></th>
                        <th class="col-3"><b class="@(!ninetyIsEmpty ? "sorted flip-column" : "")" title="@(!ninetyIsEmpty ? "Click to flip column" : "")" data-toggle="@(ninetyPositions.Any() ? "tooltip" : "")">90% @(ninetyPositions.Any() ? ("(" + ninetyPositions.Count() + ")") : "")</b></th>
                        <th class="col-3"><b class="@(!eightyIsEmpty ? "sorted flip-column" : "")" title="@(!eightyIsEmpty ? "Click to flip column" : "")" data-toggle="@(eightyPositions.Any() ? "tooltip" : "")">80% @(eightyPositions.Any() ? ("(" + eightyPositions.Count() + ")") : "")</b></th>
                        <th class="col-2 hide-in-print"><b class="@(!seventyIsEmpty ? "sorted flip-column" : "")" title="@(!seventyIsEmpty ? "Click to flip column" : "")" data-toggle="@(seventyPositions.Any() ? "tooltip" : "")">70% @(seventyPositions.Any() ? ("(" + seventyPositions.Count() + ")") : "")</b></th>
                            <th class="col-1 hide-in-print">
                                <img src="@(Model.DisplayTopOfPage ? "/images/icons/up_arrow.png" : "/images/icons/down_arrow.png")" 
                                class="arrow-icon hide-in-print" data-toggle="collapse" data-target="#collapsibleTop" 
                                aria-expanded="@(Model.DisplayTopOfPage ? "true" : "false")" aria-controls="collapsibleTop" 
                                alt="@(Model.DisplayTopOfPage ? "Collapse" : "Expand") the top of the page" tooltip
                                title="@(Model.DisplayTopOfPage ? "Collapse" : "Expand") the top of the page" />
                            </th>
                            <th class="col-3 hide-when-not-in-print table-cell"><b class="@(!seventyIsEmpty ? "sorted flip-column" : "")">70% (@seventyPositions.Count())</b></th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        string urlEnd = "&groupId=" + Model.PositionBengLocated.JobGroupId + "&level=" + Model.PositionBengLocated.LevelCode.ToUpper() + "&scrollTo=positionScroll-" + Model.PositionBengLocated.JobTitleId + "_c_h";
                    }

                    @for (int i = 0; i < numRows; i++)
                    {
                        JobPositionDto hundredPos = null, ninetyPos = null, eightyPos = null, seventyPos = null;
                        try
                        {
                            hundredPos = hundredPositions.ElementAt(i);
                        }
                        catch { }
                        try
                        {
                            ninetyPos = ninetyPositions.ElementAt(i);
                        }
                        catch { }
                        try
                        {
                            eightyPos = eightyPositions.ElementAt(i);
                        }
                        catch { }
                        try
                        {
                            seventyPos = seventyPositions.ElementAt(i);
                        }
                        catch { }

                        <tr>
                            @if (hunredIsEmpty && i == 0)
                            {
                                <td rowspan="@numRows" class="no-matching-positions-at-percent">
                                    <span>
                                        This position has not been added to any other positions at 100% match
                                    </span>
                                </td>
                            }
                            else
                            {
                                if (!hunredIsEmpty)
                                {
                                    <td class="@(hundredPos == null ? "no-border" : "")">
                                        @if (hundredPos != null)
                                        {
                                            <a href="/Similar/Edit?id=@hundredPos.JobTitleId&percent=100@(urlEnd)" target="_blank" lang="en"
                                                class="@(hundredPos.JobTitleId == Model.PositionBengLocated.JobTitleId ? "bold" : "") rememberIfVisited nextOrPreviousLink print-link">
                                                @hundredPos.JobGroupLevelCode @hundredPos.JobTitleEng
                                                <img src="~/images/icons/external_link_icon.png" class="external-link" alt="Open link in new tab" />
                                            </a>
                                            <a href="/Similar/Edit?id=@hundredPos.JobTitleId&percent=100@(urlEnd)" target="_blank" lang="fr"
                                                class="@(hundredPos.JobTitleId == Model.PositionBengLocated.JobTitleId ? "bold" : "") rememberIfVisited nextOrPreviousLink dontShow print-link">
                                                @hundredPos.JobGroupLevelCode @hundredPos.JobTitleFre
                                                <img src="~/images/icons/external_link_icon.png" class="external-link" alt="Open link in new tab" />
                                            </a>
                                        }
                                        else
                                        {
                                            <span></span>
                                        }
                                    </td>
                                }
                                else 
                                {
                                    <td class="dontShow"></td>
                                }
                            }

                            @if (ninetyIsEmpty && i == 0)
                            {
                                <td rowspan="@numRows" class="no-matching-positions-at-percent">
                                    <span>
                                        This position has not been added to any other positions at 90% match
                                    </span>
                                </td>
                            }
                            else
                            {
                                if (!ninetyIsEmpty)
                                {
                                    <td class="@(ninetyPos == null ? "no-border" : "")">
                                        @if (ninetyPos != null)
                                        {
                                            <a href="/Similar/Edit?id=@ninetyPos.JobTitleId&percent=90@(urlEnd)" target="_blank" lang="en"
                                                class="@(ninetyPos.JobTitleId == Model.PositionBengLocated.JobTitleId ? "bold" : "") rememberIfVisited nextOrPreviousLink print-link">
                                                @ninetyPos.JobGroupLevelCode @ninetyPos.JobTitleEng
                                                <img src="~/images/icons/external_link_icon.png" class="external-link" alt="Open link in new tab" />
                                            </a>
                                            <a href="/Similar/Edit?id=@ninetyPos.JobTitleId&percent=90@(urlEnd)" target="_blank" lang="fr"
                                                class="@(ninetyPos.JobTitleId == Model.PositionBengLocated.JobTitleId ? "bold" : "") rememberIfVisited nextOrPreviousLink dontShow print-link">
                                                @ninetyPos.JobGroupLevelCode @ninetyPos.JobTitleFre
                                                <img src="~/images/icons/external_link_icon.png" class="external-link" alt="Open link in new tab" />
                                            </a>
                                        }
                                        else
                                        {
                                            <span></span>
                                        }
                                    </td>
                                }
                                else
                                {
                                    <td class="dontShow"></td>
                                }
                            }

                            @if (eightyIsEmpty && i == 0)
                            {
                                <td rowspan="@numRows" class="no-matching-positions-at-percent">
                                    <span>
                                        This position has not been added to any other positions at 80% match
                                    </span>
                                </td>
                            }
                            else
                            {
                                if (!eightyIsEmpty)
                                {
                                    <td class="@(eightyPos == null ? "no-border" : "")">
                                        @if (eightyPos != null)
                                        {
                                            <a href="/Similar/Edit?id=@eightyPos.JobTitleId&percent=80@(urlEnd)" target="_blank" lang="en"
                                                class="@(eightyPos.JobTitleId == Model.PositionBengLocated.JobTitleId ? "bold" : "") rememberIfVisited nextOrPreviousLink print-link">
                                                @eightyPos.JobGroupLevelCode @eightyPos.JobTitleEng
                                                <img src="~/images/icons/external_link_icon.png" class="external-link" alt="Open link in new tab" />
                                            </a>
                                            <a href="/Similar/Edit?id=@eightyPos.JobTitleId&percent=80@(urlEnd)" target="_blank" lang="fr"
                                                class="@(eightyPos.JobTitleId == Model.PositionBengLocated.JobTitleId ? "bold" : "") rememberIfVisited nextOrPreviousLink dontShow print-link">
                                                @eightyPos.JobGroupLevelCode @eightyPos.JobTitleFre
                                                <img src="~/images/icons/external_link_icon.png" class="external-link" alt="Open link in new tab" />
                                            </a>
                                        }
                                        else
                                        {
                                            <span></span>
                                        }
                                    </td>
                                }
                                else
                                {
                                    <td class="dontShow"></td>
                                }
                            }

                            @if (seventyIsEmpty && i == 0)
                            {
                                <td rowspan="@numRows" colspan="2" class="no-matching-positions-at-percent">
                                    <span>
                                        This position has not been added to any other positions at 70% match
                                    </span>
                                </td>
                            }
                            else
                            {
                                if (!seventyIsEmpty)
                                {
                                    <td colspan="2" class="@(seventyPos == null ? "no-border" : "")">
                                        @if (seventyPos != null)
                                        {
                                            <a href="/Similar/Edit?id=@seventyPos.JobTitleId&percent=70@(urlEnd)" target="_blank" lang="en"
                                                class="@(seventyPos.JobTitleId == Model.PositionBengLocated.JobTitleId ? "bold" : "") rememberIfVisited nextOrPreviousLink print-link">
                                                @seventyPos.JobGroupLevelCode @seventyPos.JobTitleEng
                                                <img src="~/images/icons/external_link_icon.png" class="external-link" alt="Open link in new tab" />
                                            </a>
                                            <a href="/Similar/Edit?id=@seventyPos.JobTitleId&percent=70@(urlEnd)" target="_blank" lang="fr"
                                                class="@(seventyPos.JobTitleId == Model.PositionBengLocated.JobTitleId ? "bold" : "") rememberIfVisited nextOrPreviousLink dontShow print-link">
                                                @seventyPos.JobGroupLevelCode @seventyPos.JobTitleFre
                                                <img src="~/images/icons/external_link_icon.png" class="external-link" alt="Open link in new tab" />
                                            </a>
                                        }
                                        else
                                        {
                                            <span></span>
                                        }
                                    </td>
                                }
                                else
                                {
                                    <td class="dontShow"></td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else 
    {
        <h4 class="no-results">This position has not been added to any similar positions</h4>
    }
}